[2021-07-07 06:18] a364176773 commented on #3855
seata调用的是标准的nacos client api，这点你看源码就可以发现了，或许你补充一下该段日志的上下文以便观察，你这段日子没有输出从哪个类中打印

[2021-07-07 06:22] wenming5112 commented on #3855
你nacosclient什么版本的？日志的大致意思是说检查到配置发生变更了，然后客户端去更新配置，所有就打印了这些日志。nacosclien我检查了，没有冲突。其他服务都没有这个问题呀，只有在我去配置中心更新配置的时候才会有相关的打印。

[2021-07-07 06:25] wenming5112 commented on #3855
这是我的nacosclient版本：
![image](https://user-images.githubusercontent.com/36882090/124710324-2f013f80-df2f-11eb-88a0-569e56519ac1.png)

[2021-07-07 10:06] jkhumm commented on #2196
我也遇到类似的问题，我目前使用的是1.1.0的版本  改成是可以的运行的，不知道高版本会不会上面的问题

[2021-07-08 07:46] Heuan opened #3859 "ONLY SUPPORT SAME TYPE (UPDATE OR DELETE) MULTI SQL"
- [ ] I have searched the [issues](https://github.com/seata/seata/issues) of this repository and believe that this is not a duplicate.

### Ⅰ. 请问是否支持MySQL的批量插入，删除，更新的的批量操作，如果支持需要怎么配置。使用中出现如下错误：
Caused by: java.lang.UnsupportedOperationException: ONLY SUPPORT SAME TYPE (UPDATE OR DELETE) MULTI SQL -
at io.seata.sqlparser.druid.DruidSQLRecognizerFactoryImpl.create(DruidSQLRecognizerFactoryImpl.java:

[2021-07-08 07:53] Heuan commented on #3859
### 补充
Mybatis 写法是,插入和更新也一样差不多写法，如下：
<insert  ...>
<foreach ....>
insert into ...... 循环多条插入语句
</foreach>
</insert >

[2021-07-08 08:00] a364176773 commented on #3859
insert into values(),(),()这种写法支持

[2021-07-08 08:25] zzhangzd opened #3860 "undo_log可否改为用redis存储"
## Why you need it?
 Is your feature request related to a problem? Please describe in details

## How it could be?
A clear and concise description of what you want to happen. You can explain more about input of the feature, and output of it.

## Other related information
Add any other context or screenshots about the feature request here.

[2021-07-08 08:27] a364176773 commented on #3860
不可以，无法保证业务数据跟redis数据的原子性

[2021-07-08 10:09] cnscottluo commented on #3332
@ilkm 怎么解决的

[2021-07-09 03:22] redfish110 opened #3861 "@GlobalTransaction和@Transaction"
@GlobalTransaction(rollback = Exception.class)
public void methodA(){
    methodB();
   int a = 3/0;
}

@Transaction(rollback = Exception.class)
public void methodB(){
}

如上代码，A方法(被@GlobalTransaction修饰)调用B方法(被@Transaction修饰)。
B，方法没有抛出异常。但是A方法后续抛出异常，B方法不会回滚。

问：@GlobalTransaction不会回滚被@Transaction修饰的方法吗。

[2021-07-09 06:08] slievrly commented on #3861
@redfish110
1.  RootCotext.getXID() make sure global tractional in effect.
2. Does the datasource of method B proxy by DatasourceProxy?

[2021-07-09 09:36] zhaojiang1980 commented on #2011
执行脚本的时候加 -t 可以指定命名空间。但是DataId项太多这个有解决办法么？

[2021-07-09 09:40] gelibo commented on #3861
@redfish110
A方法上不仅要加   @GlobalTransactional(rollbackFor = Exception.class)  也要加   @Transactional(rollbackFor = Exception.class)
这样正常的事务才能传递。
@GlobalTransactional 是分布式事务用的。
@Transactional是本身服务的事务用的。

[2021-07-12 09:11] zzhangzd opened #3862 "使用store.mode设置为redis，300并发用户持续压测30min中，server端崩溃"
- [ ] I have searched the [issues](https://github.com/seata/seata/issues) of this repository and believe that this is not a duplicate.

### Ⅰ. Issue Description
server：4核8G
store.mode=redis
模式：AT

并发用户：300
压测时长：30min

问题：
使用300用户持续压测30min中时，在redis中存储的事务会话数据超过18000行，server端CPU使用率达80%以上，server崩溃不可连接

### Ⅱ. Describe what happened

  If there is an exception, please attach the exception trace:

[code

[2021-07-12 09:13] slievrly commented on #3862
@zzhangzd  the server log  can be provided?

[2021-07-12 22:44] fivetime commented on #3854
Are there any plans to support CockroachDB distributed databases in the future?

[2021-07-13 02:35] zzhangzd commented on #3862
只有下面的一点报错,异步提交请求会不断累计，最后崩溃

02:27:44.026 ERROR --- [verHandlerThread_1_44_500] i.s.c.rpc.netty.AbstractNettyRemoting : 0104

==>

java.lang.RuntimeException: channel is error.

at io.seata.core.rpc.netty.AbstractNettyRemotingServer.sendAsyncResponse(AbstractNettyRemotingServer.java:104) ~[seata-core-1.4.0.jar:na]

at io.seata.core.rpc.processor.server.RegRmProcessor.onRegRmMessage(RegRmProcessor.j

[2021-07-13 02:36] zzhangzd commented on #3862
02:34:13.250 ERROR --- [verHandlerThread_1_37_500] i.s.c.rpc.netty.AbstractNettyRemoting : 0104

==>

java.lang.RuntimeException: channel is error.

at io.seata.core.rpc.netty.AbstractNettyRemotingServer.sendAsyncResponse(AbstractNettyRemotingServer.java:104) ~[seata-core-1.4.0.jar:na]

at io.seata.core.rpc.processor.server.RegRmProcessor.onRegRmMessage(RegRmProcessor.java:83) ~[seata-core-1.4.0.j

[2021-07-13 03:33] shisen102614 opened #3863 "Caused by: com.esotericsoftware.kryo.KryoException: Class cannot be created (missing no-arg constructor): java.time.LocalDateTime"
1、新增完订单后，成功。
2、测试余额不足情况
3、事务回滚
4、io.seata.core.exception.BranchTransactionException: Branch session rollback failed and try again later xid = 192.168.43.131:8091:5935898758734508221 branchId = 5935898758734508223 Class cannot be created (missing no-arg constructor): java.time.LocalDateTime
Serialization trace:
value (io.seata.rm.datasource.sql.struct.Field)
fields (io.seata.rm.datasource.sql.struc

[2021-07-13 03:47] jsbxyyx commented on #3863
解决方式3种
1. 可以更换序列化方式
2. 可以实现kryo对LocalDateTime的序列化，具体实现可以参考seata-plugin中jackson工程
3. 如果是mysql数据库驱动，可以更换一下数据库驱动，例如版本8.0.19（可能可以解决）

[2021-07-13 05:54] zero-wsh opened #3864 "释放资源问题类AbstractUndoExecutor"
AbstractUndoExecutor中executeOn方法没有释放PreparedStatement对象

[2021-07-13 07:07] SniperLu commented on #3069
请问问题解决么，我也是打包seata-metrcis-prometheus提示不存在，配置文件怎么也打不开9898端口，获取不到metric监控数据

[2021-07-13 07:40] #3862 closed

[2021-07-13 07:42] a364176773 commented on #3862
这点后面会出分布式锁来保证，多tc争抢，导致重复的从redis读数据，导致每个tc压力都很大的问题，develop分支已经实现了redis的版本，欢迎试用给我们反馈

[2021-07-13 08:06] CrazyBuug opened #3865 "应用运行中数据库表添加一个字段，马上对该表insert操作会导致NPE"
- [ ] I have searched the [issues](https://github.com/seata/seata/issues) of this repository and believe that this is not a duplicate.

### Ⅰ. Issue Description
业务运行的时候，修改表结构，添加一列字段，seata client就会抛出NullPointerException

### Ⅱ. Describe what happened

  If there is an exception, please attach the exception trace:

[code]

### Ⅲ. Describe what you expected to happen
查看源代码可以发现每次操作之前Executor都会校验connec

[2021-07-13 08:33] jsbxyyx commented on #3865
使用client.rm.tableMetaCheckerInterval进行配置

[2021-07-13 09:18] CrazyBuug commented on #3865
这个只能定时刷新缓存，想根本解决问题还是建议增加hook功能手动刷新，这样结合ci cd流程可以在执行alert之后进行消息广播

[2021-07-13 09:40] zongf0504 opened #3866 "FastjsonUndoLogParser 关于 datatime 类型的bug 导致事务不能回滚"
## 1. 问题

 当使用 fastjson 序列化 undoLog 时, 对于 datetime 类型的字段会导致事务回滚操作失败。通过阅读源码，发现 seata 的 DataCompareUtils.convertType 方法，未针对 java8 的 LocalDateTime 做特殊处理。在 jdbc 8.x 驱动中，对于 datetime 类型会自动映射为java 的 LocalDateTime 类型，而 FastJson 对其序列化格式为: yyyy:MM:ddTHH:mm:ss。
而在执行回滚操作时，在比较 Field 类型时，使用 TimeStamp.valueOf(String) 方法会抛出异常，导致事务无法回滚。

## 2. 数据库中 rollback_info 字段值

[code]
**java内存**

![输入图片说明](https://images.git

[2021-07-13 09:54] jsbxyyx commented on #3866
请使用除fastjson以外的序列化方式

[2021-07-13 10:17] zongf0504 commented on #3866
这明显是个bug，得修复一下吧。用默认的 jackson 也会有问题，因为 Field的 Value 类型为 Object 无法解析。

[code]

[2021-07-13 10:32] zhaoweiqi1 opened #3867 "事务不会滚"
- [ ] I have searched the [issues](https://github.com/seata/seata/issues) of this repository and believe that this is not a duplicate.

### Ⅰ. Issue Description
事务不会滚，xid为null

### Ⅱ. Describe what happened
第一次用seata，springboot的版本是1.5.17.RELEASE，seata的版本是1.5.1.RELEASE，A调用B，A端的xid是null，B端的xid有值
  If there is an exception, please attach the exception trace:
[code]
8.185.242:57621 ! R:/192.168.185.24

[2021-07-13 10:40] a364176773 commented on #3867
Seata常见问题：http://seata.io/zh-cn/docs/overview/faq.html

Seata整合1.2教程: https://www.bilibili.com/video/BV12Q4y1A7Nt

升级1.3教程: https://www.bilibili.com/video/BV1Cf4y1X7vR

TCC整合教程: http://seata.io/zh-cn/blog/integrate-seata-tcc-mode-with-spring-cloud.html

文字版教程

https://mp.weixin.qq.com/s/2KSidJ72YsovpJ94P1aK1g

tcc+at 整合demo:
https://github.com/wangliang181230/seata-starters-and-demos

springcloud整

[2021-07-13 10:40] #3867 closed

[2021-07-13 11:03] rengx commented on #3069
有两步：
1、按照官网文档开启metrics。（[官网文档](http://seata.io/zh-cn/docs/ops/operation.html)已经更新：Seata Server 已经包含了 metrics依赖，不需要再添加依赖重新打包了）
2、如果没有metric监控指标，可以再运行一个官网[examples](https://github.com/seata/seata-samples)，执行一个分布式事务，应该就能获取到了。

[2021-07-14 01:32] zero-wsh commented on #3864
https://github.com/seata/seata/pull/3868

[2021-07-14 03:01] jsbxyyx commented on #3866
请问一下数据库字段类型是什么？

[2021-07-14 03:04] jsbxyyx commented on #3865
你可以提交pr完成这个功能吗？

[2021-07-14 10:55] wangliang181230 commented on #3761
@JasonMing Any progress recently?

[2021-07-15 08:19] JasonMing commented on #3761
@wangliang181230 Sorry for long time no response, you know, there is too much work from my company recently.

[2021-07-16 08:12] wangliang181230 commented on #3761
Do you have time to solve this issue in the near future?

[2021-07-16 09:02] JasonMing commented on #3761
PR #3870 is ready~

[2021-07-16 16:55] wangliang181230 commented on #3761
Oh, I see. I'll review it.

[2021-07-17 02:05] zxiaozhou opened #3871 "配置能否通过nacos的一个dataid读取文件形式，而不是把config.txt每条数据作为一个配置"
## Why you need it?
 配置能否通过nacos的一个dataid读取文件形式，而不是把config.txt每个值作为一个键并且还需要命令批量导入
1.  这个导入进nacos配置数量太多了，管理不是很方便；
2.  直接弄成一个yml,或者一个properties文件更加合理；
3.  这么多条数据，要是想直接在配置中心修改，那简直就是噩梦。如果文件修改，还得运行脚本更新，这也太麻烦了吧。

[2021-07-17 02:27] JasonMing commented on #3761
BTW, for more refined control of build, It's better to replace maven with  gradle,  like spring/spring-boot  and many opensource projects did.
If using gradle, the bom will no longer require enumerating all modules by hand, and root project can configure the common settings for all submodules in one place. That will more friendly for managing the standalone modules like "seata-bom" and "seata-all"

[2021-07-17 05:40] a364176773 commented on #3871
1.4.2支持

[2021-07-17 05:40] #3871 closed

[2021-07-17 05:44] zxiaozhou commented on #3863
@jsbxyyx 我使用8.0.19或者更高的mysql驱动依然有问题，，所以3是无效的，，想请问下更换序列化方式，，现在哪个支持
seata 1.4.2

[2021-07-17 05:57] zxiaozhou commented on #3871
@a364176773 是不是配置中dataId指定nacos的值，，如果是，，我发现无效，，依然还是获取单挑的，，请问下是要删除单挑的吗？？？

[2021-07-17 06:17] zxiaozhou opened #3872 "1.4.2 将整个config.txt文件导入nacos作为seata的配置无效(nacos作为配置、注册中心)"
- [ ] I have searched the [issues](https://github.com/seata/seata/issues) of this repository and believe that this is not a duplicate.

### Ⅰ. Issue Description
1.4.2 nacos配置文件形式的配置文件，1.4.2seata获取不到

### Ⅱ. Describe what happened

seata registry配置如下
[code]
所有config.txt内容放入nacos中dataId为seataServer.properties配置文件中，，启动后获取不到配置的值，seata的namespaces，group都与配置文件一直

[code]

### Ⅲ. Describe what you expected

[2021-07-17 06:27] a364176773 commented on #3872
检查namespace和group,自己可以debug nacosconfiguration这个类

[2021-07-17 06:28] a364176773 commented on #3872
namespace是nacos上的id,而非名称

[2021-07-17 06:29] zxiaozhou commented on #3872
@a364176773 但是我就换了导入配置的方式，，其他没变化啊，，而且本地所有namespace和group,包括cluster都是一样的。。那我跟踪提供

我id名称一样的

[2021-07-17 06:42] a364176773 commented on #3872
my_test_tx_group1 你本地配置的叫my_test_tx_group

[2021-07-17 06:54] zxiaozhou commented on #3872
@a364176773 我后面改成my_test_tx_group了的，，我发现配置确实是生效的，我试着修改了下store.file.dir的目录发现确实是我设置的目录，，但是通过整个文件形式就会提示
[code]
但是单条导入他就是正常的，，同时我也试着直接在nacos中添加这条数据，，发现就正常了，，但是文件中设置的就是读取不到

[2021-07-17 06:55] zxiaozhou commented on #3872
@a364176773 使用文件作为配置，，同时另外添加一条单独的nacos数据
![image](https://user-images.githubusercontent.com/62740686/126028779-b284f586-6970-4cbe-b778-e022b0d70cb2.png)
就正常了

[2021-07-17 07:04] zxiaozhou commented on #3872
@a364176773 client.undo.logTable配置数据文件中也读取不到

[2021-07-17 07:08] a364176773 commented on #3872
跟file. dir什么关系？你自己debug getconfig的逻辑吧，我这边没问题

[2021-07-17 07:21] a364176773 commented on #3872
事务分组是client的配置，file store是server的配置，

[2021-07-17 08:03] zxiaozhou commented on #3872
@a364176773 这个我知道，，我只是想说他确实生效了，，已经找到问题，，是客户端配置id有个字母搞错了,,

非常感谢

[2021-07-17 08:03] #3872 closed

[2021-07-17 10:29] leelun opened #3873 "数据回滚ip不对应问题"
我电脑的ip为192.168.10.100
但是当回滚的时候出现
i.s.r.d.undo.AbstractUndoLogManager      : xid 192.168.56.1:8091:5071209044670349323 branch 5071209044670349324, undo_log deleted with GlobalFinished
我电脑安装了vm虚拟机，ip为192.168.56.1
但是我在file.conf配置了  default.grouplist = "127.0.0.1:8091"

[2021-07-17 11:48] a364176773 commented on #3873
xid是tc的ip port加雪花算法，跟你client配置无关

[2021-07-17 11:48] #3873 closed

[2021-07-17 16:02] caohdgege opened #3875 "Support query the currently active global transaction"
## Why you need it?
 Is your feature request related to a problem? Please describe in details
After modify the TC as springboot project, We are supposed to add some openapi.
the current issue is to require someone to support query the currently active global transaction by openapi.
If you want to support it, please comment "Please assign it to me" is this issue.

完成SpringBoot改造之后，需要提供一些对外的接口，用于查询当

[2021-07-17 16:06] lightClouds917 commented on #3875
Please assign it to me
@caohdgege

[2021-07-17 16:06] caohdgege opened #3876 "Support query the executing branches by xid or branch id"
## Why you need it?
 Is your feature request related to a problem? Please describe in details
After modify the TC as springboot project, We are supposed to add some openapi.
the current issue is to require someone to support query the executing branches by xid or branch id
If you want to support it, please comment "Please assign it to me" is this issue.

完成SpringBoot改造之后，需要提供一些对外的接口，查询当前全局事务下的分支事务

[2021-07-17 16:07] caohdgege opened #3877 "Support query the global transaction in unexpect status"
## Why you need it?
 Is your feature request related to a problem? Please describe in details
After modify the TC as springboot project, We are supposed to add some openapi.
the current issue is to require someone to support query the global transaction in unexpect status
If you want to support it, please comment "Please assign it to me" is this issue.

完成SpringBoot改造之后，需要提供一些对外的接口，查询查询非正常状态的全局事务信

[2021-07-17 16:08] lightClouds917 commented on #3876
Please assign it to me @caohdgege

[2021-07-17 16:09] lightClouds917 commented on #3877
Please assign it to me @caohdgege

[2021-07-17 16:10] caohdgege opened #3878 "Support query the hanging lock and delete it"
## Why you need it?
 Is your feature request related to a problem? Please describe in details
After modify the TC as springboot project, We are supposed to add some openapi.
the current issue is to require someone to support query the hanging lock and delete it
If you want to support it, please comment "Please assign it to me" is this issue.

完成SpringBoot改造之后，需要提供一些对外的接口，查询当前悬挂的锁信息 & to delete。
如果

[2021-07-18 02:42] lvekee commented on #3878
我来认领这个任务

[2021-07-18 06:12] jsbxyyx commented on #3863
如果你本地接收的类型为LocalDateTime，那么就只能自己实现序列化了

[2021-07-19 01:50] zouxiaochaun commented on #3274
你好， 请问一下   这个操作是怎么实现的？

[2021-07-19 03:19] qzy-joe commented on #3853
我在描述下我出现的这个问题吧，a,b两个服务，a远程调用b，在a服务的逻辑里面发生异常，a服务执行的SQL回滚正常，但是，b服务执行的SQL没有回滚：

下面是我的a 服务逻辑代码

`    @Autowired
    TenderFeignService tenderFeignService;
    @Override
    public BaseResponse testTransactional() {
        //1),修改订单表记录
        DealOrder dealOrder = new DealOrder();
        dealOrder.setId(520l);
        dealOrder.setRemark("123");
        dealOrderMapper.updateByPrimaryKeySelective(de

[2021-07-19 03:21] kaka2code commented on #1246
组织：光大银行
地点：北京
联系方式：kakawyy@163.com
业务场景：微服务间的事务一致性
服务框架：springcloud

<img width="538" alt="WechatIMG345" src="https://user-images.githubusercontent.com/4948525/126097987-de655bda-17db-4deb-8bcc-2b9c78fb81ad.png">

[2021-07-19 04:17] slievrly commented on #3866
@zongf0504 I notice that you have a solution, please send a pr to fix the issue.

[2021-07-19 06:01] #2563 closed

[2021-07-19 08:06] wenming5112 commented on #3855
问题产生的原因已经找到：由于配置这里的`namespace`是指名字空间ID，我这里原本填的事public，但是nacos默认的public名字空间事没有名字空间ID的。配置修改为如下就不会再一直拉去配置。
[code]

[2021-07-19 09:27] jsbxyyx commented on #3274
![image](https://user-images.githubusercontent.com/26616196/126137576-c2aa0e80-5d0e-4bfd-8ea8-cc7b71dc60f0.png)

[2021-07-20 07:02] limng06 commented on #3838
同样的问题 设计不合理 看看怎么改

[2021-07-20 07:16] limng06 commented on #3838
`    private static ConsulClient getConsulClient() {
        if (client == null) {
            synchronized (ConsulConfiguration.class) {
                if (client == null) {
                    String serverAddr = FILE_CONFIG.getConfig(FILE_CONFIG_KEY_PREFIX + SERVER_ADDR_KEY);
                    InetSocketAddress inetSocketAddress = NetUtil.toInetSocketAddress(serverAddr);

[2021-07-20 07:28] wshgo opened #3882 "store.mode 为redis 支持HA 吗？"
如题
store.mode 为redis 支持HA 吗？
如果支持 如何配置集群？

[2021-07-20 09:31] limng06 commented on #3777
现在有解决方案吗？ 我是不知道怎么改它 改加载顺序吗

[2021-07-20 10:05] pangshuqiang opened #3883 "Seata1.4.2 和 Seata1.4.0 存在的问题"
========== Seata1.4.2 的环境配置问题 =======
依赖
[code]

启动时，导致原有项目无法启动：Error creating bean with name 'xxxxx' defined 。。。。。
网上查了一下资料，说要降Seata版本，于是有以下配置

========== 降低至 Seata1.4.0 版本， 但 Seata 在执行回滚转换出问题 =======
依赖
[code]

数据库为MySQL8.0，把Seata1.4.2改为引用Seata1.4.0后，原有项目能正常启动。
但是在执行回滚时报错，无法完成回滚事务处理，一直在循环。。。。。。

各位坑友需要绕道，并希望下一个版本能得到更好的体验，下个月如果出新版，到时再撸一次新版看看！

[2021-07-20 10:07] a364176773 commented on #3883
字段换timestamp？然后序列化换成kryo 试试？

[2021-07-20 10:21] pangshuqiang commented on #3883
改字段对已有项目来说，有难度。

[2021-07-20 10:24] pangshuqiang commented on #3882
其实刚刚接触Seata时，我也在想为什么不直接Redis上推广（假设Redis有持久化并是HA模式），性能是不是应该比数据库好很多，但是其中的原有也没去了解过。

[2021-07-20 10:33] niuzhimin opened #3884 "seata 1.4.0启动报错no available service found in cluster '{}', please make sure registry config correct and keep your seata server running"
描述:
    springBoot版本:2.2.5
    使用seata1.2.0启动正常
    切换为1.4.0启动报错，配置都一样
         报错信息:  no available service found in cluster '{}', please make sure registry config correct and keep your
                                                   seata server running

[2021-07-20 11:16] wshgo opened #3885 "Seata AT 性能压测堪忧"
事务日志存储在DB,
我的服务间调用如下图![image](https://user-images.githubusercontent.com/15864304/126314772-584aa106-6dea-4ca2-a6ba-3b2610dd0eae.png)

业务服务端调用链 Storage Server-->Order Server -->Account Server
如下图是压测结果
机器配置：CPU: i7-1165G7  RAM: 16GB
![image](https://user-images.githubusercontent.com/15864304/126314619-f952f034-b9f9-4043-8490-cdf69c5ca5cf.png)

Seata Version: seata-server-1.4.2
TPS:110/s
Seata Mode:A

[2021-07-20 12:10] a364176773 commented on #3885
不写版本号，不写具体压测tps，不写事务模式，不写操作了多少条数据，如何判断

[2021-07-20 12:13] a364176773 commented on #3882
用sentinel，跟db模式一样，多个tc共用一套存储即可ha

[2021-07-20 12:15] a364176773 commented on #3883
等待1.5或者自己通过plugin扩展实现对其的解析

[2021-07-21 01:50] pangshuqiang commented on #3883
如此一来，未来可期

[2021-07-21 02:09] pangshuqiang commented on #1246
* 组织：南宁微服信息技术有限公司
* 地点：广西南宁
* 联系方式：18877119935@139.com
* 模式：AT（Nacos2.0+MySQL8.0）
* 业务场景：SpringCloud、SpringCloudAlibaba、Dubbo、Feign等，下一步分库分表，应用于注册、订单、配送等事务处理
![Logo](https://user-images.githubusercontent.com/28327645/126419302-0245dd62-da72-46e1-9411-8a8ec44f2fce.jpg)

[2021-07-21 03:05] wshgo commented on #3885
Seata Version: seata-server-1.4.2
TPS:110/s
Seata Mode:AT
操作数据1000条

[2021-07-21 04:49] #3853 closed

[2021-07-21 07:20] wshgo opened #3888 "Seata AT 每秒200个并发,出现脏读 一直 Rollback failed"
Seata Version: seata-server-1.4.2
Seata Mode:AT
每秒200个并发请求
调用链:  扣库存-->下单-->扣款
扣款操作只是针对同一个商品Id,做update 操作
undolog:
{
	"@class": "io.seata.rm.datasource.undo.BranchUndoLog",
	"xid": "172.19.18.113:8091:3576015385001175007",
	"branchId": 3576015385001181330,
	"sqlUndoLogs": ["java.util.ArrayList", [{
		"@class": "io.seata.rm.datasource.undo.SQLUndoLog",
		"sqlType": "UPDATE",
		"tableName": "product

[2021-07-21 08:42] #3884 closed

[2021-07-21 15:14] cazcen commented on #2849
什么东西啊，搞了2天还是不行 使用的是 0.9.0 和 1.0.0 版本 都不行  都是装在 docker 上。阿里那些大佬 .....

[2021-07-21 15:26] a364176773 commented on #3888
说明事务没有纳入到全局事务管理范畴,保证写函数的入口一定是从globaltransactional注解进入的,如果有什么定时任务是本地事务运行,可能就会脏写正在分布式调用链中的数据

[2021-07-21 15:28] a364176773 commented on #3885
数据不正常,我压测过,平均rt100+ms而已

[2021-07-21 15:33] a364176773 commented on #3882
Redis做到HA考验用户的部署架构设计,就跟可靠消息最终一致性一样,前提是可靠,但是很多人忽略了可靠二字

[2021-07-21 15:39] hujf2 opened #3891 "关于MySQL开启CURRENT_TIMESTAMP 特性，导致分布式事务失败的问题"
关于MySQL开启CURRENT_TIMESTAMP 特性，导致分布式事务失败的问题，

这个问题肯定要修改表结构，可能会影响到几千万数据，如果业务不接受，是不是就不能接入seata了啊？

[2021-07-21 15:40] a364176773 commented on #3891
我来处理这个问题

[2021-07-21 16:41] caohdgege opened #3892 "nacos-config.sh support ash shell"
## Why you need it?
The current nacos-config.sh only support bash shell, expect to make it support ash either.
If you want to support it, please comment "Please assign it to me" is this issue.

## How it could be?
A clear and concise description of what you want to happen. You can explain more about input of the feature, and output of it.

## Other related information
Add any other context or scre

[2021-07-22 01:51] lvekee commented on #3892
Please assign it to me

[2021-07-22 02:01] xjlgod commented on #3892
Please assign it to me

[2021-07-22 02:27] caohdgege opened #3893 "Extra the hard code to a constants file"
## Why you need it?
 Is your feature request related to a problem? Please describe in details
Extra the hard code to a constants file.
If you want to support it, please comment "Please assign it to me" is this issue.

## How it could be?
A clear and concise description of what you want to happen. You can explain more about input of the feature, and output of it.

## Other related information
Add a

[2021-07-22 02:27] lvekee commented on #3893
Please assign it to me

[2021-07-22 08:36] slievrly opened #3894 "not found service provider for : io.seata.core.store.DistributedLocker"
- [ ] I have searched the [issues](https://github.com/seata/seata/issues) of this repository and believe that this is not a duplicate.

### Ⅰ. Issue Description
![image](https://user-images.githubusercontent.com/8758457/126611352-b96680db-a0a8-4b15-8e14-3684f6aecb1f.png)

lockerType=file

### Ⅱ. Describe what happened

  If there is an exception, please attach the exception trace:

[code]

### Ⅲ.

[2021-07-22 10:37] #3855 closed

[2021-07-22 10:37] #3861 closed

[2021-07-22 10:39] #3706 closed

[2021-07-22 10:40] #3688 closed

[2021-07-22 10:41] #3660 closed

[2021-07-22 10:41] #3535 closed

[2021-07-22 10:42] #3553 closed

[2021-07-22 10:45] #3231 closed

[2021-07-23 01:52] #3761 closed

[2021-07-23 03:10] #3591 closed

[2021-07-23 06:42] lkj7b226 opened #3896 "多数据源下 UndoLogManager 接口的batchDeleteUndoLog 执行失败"
项目中使用了多数据源， dataSouce 是动态取的。UndoLogManager 操作日志的的方法undo 使用的代理数据源DataSourceProxy，执行没问题，但是batchDeleteUndoLog 却是直接使用Connection ，无法获取到正确连接。能否修改成DataSourceProxy？

[2021-07-23 06:52] a364176773 commented on #3896
你代理的问题，参考https://github.com/baomidou/dynamic-datasource-spring-boot-starter 进行代理你的数据源

[2021-07-23 06:52] #3896 closed

[2021-07-23 06:52] #3888 closed

[2021-07-23 07:00] #1700 closed

[2021-07-23 07:00] #2451 closed

[2021-07-23 07:01] #2570 closed

[2021-07-23 07:02] #2677 closed

[2021-07-23 07:02] #2729 closed

[2021-07-23 07:02] #3648 closed

[2021-07-23 15:18] #3891 closed

[2021-07-24 15:25] andotorg opened #3899 "1.4.2 file.conf is question?"
1.4.2 releases version  file.conf \ file.example.conf content diff？

### Ⅰ. Issue Description

https://github.com/seata/seata/blob/1.4.2/server/src/main/resources/file.conf

https://github.com/seata/seata/blob/1.4.2/server/src/main/resources/file.example.conf

### Ⅳ. How to reproduce it (as minimally and precisely as possible)

1.  Unable to start  springboot Application
2. console error log：    e

[2021-07-24 16:11] andotorg commented on #3899
use file.conf add  file mode
service {
  #vgroup->rgroup ..
  #only support single no
  vgroupMapping.seate-order-seata-service-group = "default"
  default.grouplist = "127.0.0.1:8091"
  #degrade current not support
  enableDegrade = false
  #disable
  disable = false
  #unit ms,s,m,h,d represents milliseconds, seconds, minutes, hours, days, default permanent
  max.commit.retry.timeout = "-1"
  ma

[2021-07-24 16:12] andotorg commented on #3899
vgroupMapping.xxxxx = "default"

vgroupMapping  not is vgroup_mapping

vgroupMapping vgroupMapping vgroupMapping  is yes

[2021-07-24 16:52] slievrly opened #3900 "seataio/seata-server latest can't start"
- [ ] I have searched the [issues](https://github.com/seata/seata/issues) of this repository and believe that this is not a duplicate.

### Ⅰ. Issue Description

![image](https://user-images.githubusercontent.com/8758457/126875535-10d97de9-05a6-418e-b6a6-528cce43fbf0.png)

![image](https://user-images.githubusercontent.com/8758457/126875564-9440574b-a661-48bf-b744-9175ba31a02f.png)

### Ⅱ. Describ

[2021-07-25 08:27] #3900 closed

[2021-07-25 08:44] slievrly opened #3902 "FileConfiguration used target print error"
- [ ] I have searched the [issues](https://github.com/seata/seata/issues) of this repository and believe that this is not a duplicate.

### Ⅰ. Issue Description

![image](https://user-images.githubusercontent.com/8758457/126893172-66ddb8cd-59c5-4bf3-8a8c-c2a35d701038.png)

### Ⅱ. Describe what happened

  If there is an exception, please attach the exception trace:

[code]

### Ⅲ. Describe what yo

[2021-07-25 09:25] slievrly opened #3903 "seata-server UT not work"
- [ ] I have searched the [issues](https://github.com/seata/seata/issues) of this repository and believe that this is not a duplicate.

### Ⅰ. Issue Description

![image](https://user-images.githubusercontent.com/8758457/126894326-5d9f7864-7693-478e-a80c-c01632fd1ac2.png)

### Ⅱ. Describe what happened

  If there is an exception, please attach the exception trace:

[code]

### Ⅲ. Describe what yo

[2021-07-27 07:01] lcmvs commented on #3785
我看了一下里面使用配置的代码，除了少数几个配置加了ConfigurationChangeListener，其他配置基本上都是初始化的时候就使用了，这样就不支持动态刷新配置了吧？也就是说这些配置基本上，只能重启以后才能刷新配置，不知道我的理解有没有问题。

[2021-07-27 17:45] shanafilan opened #3913 "Seata 1.4.2，服务端和客户端日志限制正常回滚，但是数据库的数据没有回滚，undo_log表中也没有数据"
依赖如下：
![image](https://user-images.githubusercontent.com/38583248/127202202-9928d268-bc43-45ff-a7c0-efa0497ef7c0.png)
使用的是自动代理
![image](https://user-images.githubusercontent.com/38583248/127202375-3e981383-0a16-4e39-8240-ca1a54bafcdc.png)

想请问下是我数据源代理有问题吗？

[2021-07-28 01:30] a364176773 commented on #3913
Seata常见问题：http://seata.io/zh-cn/docs/overview/faq.html﻿
﻿
Seata整合1.2教程: https://www.bilibili.com/video/BV12Q4y1A7Nt﻿
﻿
升级1.3教程: https://www.bilibili.com/video/BV1Cf4y1X7vR﻿
﻿
TCC整合教程: http://seata.io/zh-cn/blog/integrate-seata-tcc-mode-with-spring-cloud.html
﻿
文字版教程
﻿
﻿https://mp.weixin.qq.com/s/2KSidJ72YsovpJ94P1aK1g﻿
﻿
tcc+at 整合demo:
https://github.com/wangliang181230/seata-starters-and-demos
﻿

[2021-07-28 01:33] #3913 closed

[2021-07-28 13:06] doveylovey opened #3915 "io.seata.core.exception.RmTransactionException: Response[ TransactionException[Failed to store branch xid = xxx"
Caused by: io.seata.core.exception.RmTransactionException: Response[ TransactionException[Failed to store branch xid = 127.0.0.1:8091:163755026395705344 branchId = 163755028367028225] ]
        at io.seata.rm.AbstractResourceManager.branchRegister(AbstractResourceManager.java:69)
        at io.seata.rm.DefaultResourceManager.branchRegister(DefaultResourceManager.java:96)
        at io.seata.rm.dat

[2021-07-28 13:41] a364176773 commented on #3915
请查看该时间端,xid和branch在tc端的异常

[2021-07-28 16:44] zhaixuepan commented on #3894
<img width="960" alt="a17cb608cc95777ecf134ae830a06e2" src="https://user-images.githubusercontent.com/15258081/127362841-57145e60-eae9-4d2f-bb8d-e0424cbafa8f.png">

[2021-07-29 03:47] l97069947 commented on #1458
这个问题还没解决吗?同样的问题?有没有可能通过排除seata的aop的扫描范围来解决这个问题

[2021-07-29 07:15] tian-qingzhao opened #3917 "Does the `asyncCommit` method in the `GlobalSession` class have extra operations?"
## Why you need it?
For example, from DefaultCore's commit method, which commits a global transaction.  Then in a class in GlobalSession asyncCommit method calls the `this.changeStatus (GlobalStatus. AsyncCommitting);` here is the real state of change,  But below and call the `SessionHolder.getAsyncCommittingSessionManager().addGlobalSession(this);` seemed change state, but didn't see the state ch

[2021-07-29 07:21] a364176773 commented on #3917
![image](https://user-images.githubusercontent.com/19943636/127449163-028c56c1-09c6-47d8-a175-6487c3701e14.png)
![image](https://user-images.githubusercontent.com/19943636/127449210-aa3169b6-21ba-4022-8c5f-e4c8f7bd5b63.png)

[2021-07-29 07:38] tian-qingzhao commented on #3917
I mean `SessionHolder.getAsyncCommittingSessionManager().addGlobalSession(this);` will eventually be called to `transactionStoreManager.writeSession(LogOperation.GLOBAL_UPDATE, session)` ,Its event type is Update. `this.changeStatus(GlobalStatus.AsyncCommitting);` Will eventually call `transactionStoreManager.writeSession(logOperation, sessionStorable)`,Its event type is also Update,This is equiva

[2021-07-30 06:13] dume2007 opened #3919 "springboot 使用@Scope注解，request范围，启动失败。"
- [ ] I have searched the [issues](https://github.com/seata/seata/issues) of this repository and believe that this is not a duplicate.

### Ⅰ. Issue Description
springboot 使用@Scope注解，request范围，启动失败。
是不是这个request范围的注解在seata框架里用不了了？或是要改用其他使用方式？

### Ⅱ. Describe what happened

  If there is an exception, please attach the exception trace:

我就用了这个bean类，用于存储全局用户信息，启动后就报错了。我如何规避这个错误？
[code]

报错信息：
[code

[2021-07-30 06:15] dume2007 commented on #3919
#3288 我看之前也有人提过，但没解决方案？

[2021-07-30 06:22] a364176773 commented on #3919
用prototype

[2021-07-30 06:25] a364176773 commented on #3917
1.4.2 use changestatus
develop use setStatus

[2021-07-30 06:59] tian-qingzhao commented on #3917
I see. Thank you very much.

[2021-07-30 07:19] tian-qingzhao commented on #3917
if use changestatus，so `SessionHolder.getAsyncCommittingSessionManager().addGlobalSession(this);` is also change database information .
![2222](https://user-images.githubusercontent.com/57293296/127616045-468fc4e3-164e-4fcf-86be-c27e70a5ed06.png)

[2021-07-30 08:21] tiankazma opened #3920 "seata-server.bat无法启动"
seata 1.4.0 版本, 本地无法启动
报错如下:
Unrecognized VM option 'CMSParallelRemarkEnabled'
Error: Could not create the Java Virtual Machine.
Error: A fatal exception has occurred. Program will exit.

[2021-07-30 08:26] a364176773 commented on #3920
请使用jdk8

[2021-07-30 08:48] tanzzj commented on #3920
这个是因为你使用了高版本的jdk导致。高版本的jdk取消了cms处理器，转而采用了zgc代替他。
解决方案有两个，选其中之一便可：
1、降级jdk版本
2、在seata的启动脚本中删除cms的jdk命令

[2021-07-30 09:32] DerNiGeDer commented on #3894
I also have this problem , but  I change the version of seata-serve to solve it ,and your configuration must be right
docker pull seataio/seata-server:1.4.2

[2021-07-30 09:41] #3920 closed

[2021-07-30 09:43] tiankazma opened #3921 "seata 配置后, system模块无法启动"
按照教程设置 seata 模块后, 系统模块我发启动, 报错如下

17:33:38.716 [main] ERROR o.s.b.SpringApplication - [reportFailure,843] - Application run failed
org.springframework.beans.factory.BeanCreationException: Error creating bean with name 'globalTransactionScanner' defined in class path resource [io/seata/spring/boot/autoconfigure/SeataAutoConfiguration.class]: Bean instantiation via factory method failed; nested exce

[2021-07-30 09:44] a364176773 commented on #3921
cglib版本冲突，保持一致版本试试

[2021-07-30 09:47] tiankazma commented on #3921
ruoyi-cloud 代码是直接下载的, 我根本就没改过, 我先看看吧....

[2021-07-30 09:52] a364176773 commented on #3865
也可以修改成监听这个配置变动，来实现消息广播

[2021-07-30 09:53] tiankazma commented on #3921
这个 cglib 到底在什么位置配的? 所有的POM 文件里都找不到

[2021-07-31 14:56] #3892 closed

[2021-08-02 02:54] ImCorden commented on #3275
same problem！！！

[2021-08-02 09:48] jsbxyyx opened #3922 "The Seata Server dump stack will appear no permission."
- [ ] I have searched the [issues](https://github.com/seata/seata/issues) of this repository and believe that this is not a duplicate.

### Ⅰ. Issue Description

![image](https://user-images.githubusercontent.com/26616196/127840946-ca8c7806-a91e-4652-93e6-c850a13a3b65.png)

The seata server dump stack d:/xx.log, this operation will appear without permission on Linux.

### Ⅱ. Describe what happened

[2021-08-02 09:54] jsbxyyx commented on #3922
the append path can be use current user home dir concat log name. and logger the path.

[2021-08-02 11:43] liumouNo1 opened #3923 "集成TKMyabtis insertSelective 获取自增主键报错"
- [ ] I have searched the [issues](https://github.com/seata/seata/issues) of this repository and believe that this is not a duplicate.

### Ⅰ. Issue Description

seata1.4.2集成时，使用tkmyabtis的 insertSelective方法在获取自增主键 AbstractStatementProxy的getGeneratedKeys()时报了Fail to get auto-generated keys, use 'SELECT LAST_INSERT_ID()' instead. Be cautious, statement could be polluted. Recommend you set the statem

[2021-08-02 13:19] slievrly opened #3924 "optimize"
![image](https://user-images.githubusercontent.com/8758457/127867404-860cc0d1-d0f3-404d-9324-c17f3fd3fda7.png)

For the configuration center, there should be a unified configuration center entrance including getConfig, addConfigListener, etc. Here addConfigListener use the ConfigurationCache API, we always use ConfigurationFactory. getInstance () and keep the function remains the same.

[2021-08-03 01:02] liumouNo1 commented on #3923
如果不用@GlobalTractional注解 就不会发生该错误。 目前的调用时 A方法标注了@GlobalTractional 里面调用了B B标注了@Transactional B里面调用了C C 方法没有表中事务，C里面调用了insertSelective方法

[2021-08-03 03:33] siaron opened #3925 "k8s 部署seata 开发环境. 注册到nacos的ip是否可以自定义?"
## Why you need it?
在k8s部署seata的开发环境. nacos 2.0.2 注册中心. 本地开发通过kubefwd将seata server代理出来. 供本地访问.注册时不能使用pod 的ip需要使用k8s service的name.
1. 如何使用自定义的ip来代替seata的默认获取服务器的ip选项.

## How it could be?
有没有配置的选项
[code]

## Other related information
1. k8s 服务间通信使用serviceName通信.

[2021-08-03 03:40] a364176773 commented on #3925
configmap 环境注入 SEATA_IP

[2021-08-03 03:46] a364176773 commented on #3923
Q: 10.为什么mybatis没有返回自增ID?
A: 方案1.需要修改mybatis的配置: 在@Options(useGeneratedKeys = true, keyProperty = "id")或者在xml中指定useGeneratedKeys 和 keyProperty属性
方案2.删除undo_log表的id字段

[2021-08-03 03:46] a364176773 commented on #3923
http://seata.io/zh-cn/docs/overview/faq.html

[2021-08-03 03:46] #3923 closed

[2021-08-03 04:15] liumouNo1 commented on #3923
好像我这个问题和这个没有关系，虽然getGeneratedKeys报了Fail to get auto-generated keys, use 'SELECT LAST_INSERT_ID()' instead. Be cautious, statement could be polluted. Recommend you set the statement to return generated keys 这个错误，但是数据库里数据是正常插入的，主键也返回到了实体类中，但是导致insertSelective方法返回的值是-1。

[2021-08-03 04:38] siaron commented on #3925
这个只能是一个ip格式吗?
[code]
我只想用"seata-server"作为服务的调用. 现在又会将`seata-server` 这个主机解析出来ip再去注册.

[2021-08-03 06:45] siaron commented on #3925
@a364176773 有什么方式吗?

[2021-08-03 08:50] ypcfly opened #3927 "Could not found global transaction xid = 10.***.**.**:8091:2084401512 exception"
- [ ] I have searched the [issues](https://github.com/seata/seata/issues) of this repository and believe that this is not a duplicate.

### Ⅰ. Issue Description
servcer端日志：
2021-08-03 15:04:25.696 INFO [ServerHandlerThread_1_500]io.seata.server.coordinator.DefaultCore.doGlobalRollback:334 -Successfully rollback global, xid = ***.***.***.***:8091:2084401512
2021-08-03 15:04:26.084 INFO [batchLogger

[2021-08-03 09:01] #3927 closed

[2021-08-03 10:02] cm066 commented on #3752
我也想参加

[2021-08-03 13:26] a364176773 commented on #3921
说明别的依赖里带了cglib

[2021-08-03 13:28] a364176773 commented on #3921
你的jdk什么版本,好像并不是cglib的关系

[2021-08-03 13:29] #3919 closed

[2021-08-03 13:29] #3915 closed

[2021-08-03 13:30] #3882 closed

[2021-08-03 14:25] liumouNo1 opened #3928 "集成tkMybatis insertSelective方法返回-1"
- [ ] I have searched the [issues](https://github.com/seata/seata/issues) of this repository and believe that this is not a duplicate.

### Ⅰ. Issue Description
#3923 也是我提的，但被关闭了 给予的帮助和我的问题没有什么联系，可能是我描述的有问题。seata用的1.4，当@GlobalTransactional注解下调用了TKmybatis的insertSelective方法，导致了返回的结果是-1，并且报了一个错误在获取自增主键 AbstractStatementProxy的getGeneratedKeys()时报了Fail to get auto-generated keys, use 'SELECT LAST_INSER

[2021-08-03 14:47] #3885 closed

[2021-08-03 14:51] #3860 closed

[2021-08-03 14:53] a364176773 commented on #3665
有,但是幂等性等需要业务自己做处理

[2021-08-03 14:53] #3582 closed

[2021-08-03 14:53] #3571 closed

[2021-08-03 14:56] a364176773 commented on #3571
已做优化,谢谢反馈
https://github.com/seata/seata/pull/3222

[2021-08-03 14:58] #3524 closed

[2021-08-03 14:59] a364176773 commented on #3527
https://github.com/seata/seata/pull/3175

[2021-08-03 14:59] #3527 closed

[2021-08-03 15:00] #3483 closed

[2021-08-03 15:07] a364176773 commented on #3375
oracle不允许资源重入,请避免这个情况出现

[2021-08-03 15:07] #3375 closed

[2021-08-03 15:08] #3366 closed

[2021-08-03 15:08] #3493 closed

[2021-08-03 15:09] #3492 closed

[2021-08-03 15:55] caohdgege commented on #3928
无法复现, 请提供更多的信息. 包括但不限于各个版本信息, 复现的demo, 测试的库表信息等.

[2021-08-04 01:05] Aiwz1314 commented on #2789
mysql也遇到这个问题

[2021-08-04 04:06] liumouNo1 commented on #3928
抱歉，找到问题所在了，是因为实体类主键上标注的主键生成策略是@GeneratedValue(strategy = GenerationType.IDENTITY)
改为@GeneratedValue(generator = "JDBC")就没问题了

[2021-08-04 04:06] #3928 closed

[2021-08-04 09:36] XuChunH commented on #3620
`@LoadLevel(name = "custom")
public class CustomUndoLogParser extends JacksonUndoLogParser {

    private static final Logger logger = LoggerFactory.getLogger(CustomUndoLogParser.class);

    @Override
    public void init() {
        super.init();
        logger.info("初始化 undolog 解析器");
        JavaTimeModule javaTimeModule = new JavaTimeModule();
        javaTimeModule.addSerializer(LocalDateTim

[2021-08-04 16:15] a364176773 commented on #3917
you could say that.

[2021-08-05 02:29] tian-qingzhao commented on #3917
So the second line changes the state and doesn't change. What does it do?

[2021-08-05 03:33] WeiAhongun opened #3929 "@GlobalTransactional不生效怎么办"
打了断点后global_table表中的数据是存在的
![image](https://user-images.githubusercontent.com/76947917/128286359-c778028e-6bad-42e7-b04d-8ae368da2d90.png)
日志打印回滚成功
![image](https://user-images.githubusercontent.com/76947917/128286456-f467346b-0b0f-4b4f-84fd-fc653cc53e3b.png)
但实际上数据库的数据还是插入，并没有回滚，是不是少配置了什么东西
下面是我的配置，配错了吗
![image](https://user-images.githubusercontent.com/76947917/128286752-4ff0524d-8973-4659-8fc6-

[2021-08-05 03:35] a364176773 commented on #3929
Seata常见问题：http://seata.io/zh-cn/docs/overview/faq.html

Seata整合1.2教程: https://www.bilibili.com/video/BV12Q4y1A7Nt

升级1.3教程: https://www.bilibili.com/video/BV1Cf4y1X7vR

TCC整合教程: http://seata.io/zh-cn/blog/integrate-seata-tcc-mode-with-spring-cloud.html

文字版教程

https://mp.weixin.qq.com/s/2KSidJ72YsovpJ94P1aK1g

tcc+at 整合demo:
https://github.com/wangliang181230/seata-starters-and-demos

springcloud整

[2021-08-05 03:35] #3929 closed

[2021-08-05 08:01] bufx commented on #3069
这种metric指标数据，是取一次就没了吗，我测试下来，刷新一次9898/metric后，在刷新就为空了，这是为什么

[2021-08-06 05:35] a364176773 opened #3933 "ensure that the Redis registry operates reliably"
- [ ] I have searched the [issues](https://github.com/seata/seata/issues) of this repository and believe that this is not a duplicate.

### Ⅰ. Issue Description

### Ⅱ. Describe what happened

  If there is an exception, please attach the exception trace:

[code]

### Ⅲ. Describe what you expected to happen

### Ⅳ. How to reproduce it (as minimally and precisely as possible)

1. xxx
2. xxx
3. xxx

[2021-08-06 05:36] lvekee commented on #3933
please asign it to me

[2021-08-06 07:54] conangt opened #3934 "seata 1.3 与shardingsphere 结合使用的一个问题"
我使用shardingsphere为一个design_product做了分表分100张表(design_product_{0..99})，id就是主键，但根据的是另一个字段merchant_id作为分表。当我为design_product_51 插入一条 id = 277616875747221504 ，merchant_id = 51的数据后，seata会自动去查 id=277616875747221504 的数据，但此时没有传入merchant_id=51 会导致系统把0-99的表全都查了一遍，在本地测试都时候性能很差。

[2021-08-06 15:23:16:636] [Severity=INFO ] [traceId=6d68bcef862426e0],[SpanId=d0d13a778f6b3cca] [Anno-Executor7]- org.apache.sharding

[2021-08-07 06:50] zouqiangpy opened #3936 "nacos-config.sh推送seata配置到nacos1.3.0上发生错误"
- [ ] I have searched the [issues](https://github.com/seata/seata/issues) of this repository and believe that this is not a duplicate.

### Ⅰ. Issue Description
 ./nacos-config.sh  -h 192.168.0.104 -p 8804 -g SEATA_GROUP -t 3b964d9d-70c2-4c53-baf4-b51566f828ae -u nacos -w nacos
set nacosAddr=192.168.0.104:8804
set group=SEATA_GROUP
Please check the cluster status.
nacos1.3.0服务端日志：
2021-08-07 13:58

[2021-08-07 13:52] caohdgege commented on #3934
有没有试过复合主键 (id, merchant_id) ?

[2021-08-09 03:39] #3922 closed

[2021-08-09 10:13] tanher commented on #3748
请问这个有人在做了吗？

[2021-08-09 10:13] conangt commented on #3934
把1.3升级到1.4.2问题就解决了

[2021-08-09 10:13] #3934 closed

[2021-08-09 10:16] l81893521 commented on #3748
Yes, it already applied by student from iscas summer code.

[2021-08-10 01:20] tanher commented on #3748
大概是什么时候会发布？ 有时间表吗？

[2021-08-10 06:53] #3328 closed

[2021-08-10 06:59] a364176773 commented on #3328
官网faq

[2021-08-10 08:27] wangshangming opened #3938 "seata 的 xa 模式是否解决了资源悬挂问题？"
我理解 xa 模式下，也可能会出现先 `xa rollback xid` 再 `xa prepare xid`。想请教下，seata 是怎么处理的？

[2021-08-10 09:17] a364176773 commented on #3938
首先明确一下，在mysql中一个connection开启xa事务的时候，比如xid为1234，此时一个下发回滚的指令到达client端，此时处于隔离情况，这个回滚的指令使用的connection如果不是开启xa事务的conn，就会rollback失败抛出XAER_NOTA: Unknown XID
如果是使用开启xa事务的conn，那么会抛出XAER_RMFAIL: The command cannot be executed when global transaction is in the  ACTIVE state，除非事务已经end
那么我们按seata的xa流程来分析 start xa事务前，先进行registy，先拿到branchid，再进行xa start，那么就有了你的疑问，悬挂问题
好，我们看下二阶段是如何下发的，首先tc会找到registy时的client的连接，去找到

[2021-08-10 11:32] wangshangming commented on #3938
明白了，感谢回答

[2021-08-10 11:32] #3938 closed

[2021-08-11 06:53] Accelerator96 opened #3941 "seata 是否能够支持通过API的形式获取全局事务的链路信息？"
## Why you need it?
想通过页面来展示 seata中事务的全部链路(db中的数据

## How it could be?
可以在第三方的平台中集成分布式事务的链路信息

[2021-08-11 07:14] DropOfJupiter commented on #1381
@liuxx-u  Hello, I also encountered this problem, how can I solve it?

[2021-08-11 07:40] redfish110 opened #3942 "seata模式"
怎么判断公司搭建的seata使用的是哪种模式

[2021-08-11 09:36] AngusZhang commented on #2907
补充下这个兄弟的回复
引入 starter 之后，文件配置会被自动配置的 yml 覆盖，如果 yml 文件中没有相关配置，registry.conf 中的配置会被默认配置覆盖，也就是 config.type 会变成file。
如果只需要使用 registry.conf 中的内容，可以参照下面配置
[code]

[2021-08-12 15:32] jim1991 commented on #3267
非常感谢！！解决了我的问题~

[2021-08-13 03:08] sixlei opened #3946 "1.4.2版本，分支注册时候，报maximum number of expressions in a list is 1000 ，和 #2775 不一样"
- [ ] I have searched the [issues](https://github.com/seata/seata/issues) of this repository and believe that this is not a duplicate.

### Ⅰ. Issue Description
1.4.2版本，分支注册时候，报maximum number of expressions in a list is 1000 ，这个和 #2775 不一样的，这里报错是检查锁的时候报错
io.seata.core.exception.TransactionException: branch register request failed. xid=10.200.203.31:38098:8620051265334516279, msg=ORA-01795: maximum

[2021-08-13 08:07] JaredTan95 commented on #3941
https://github.com/seata/seata/issues/3875
https://github.com/seata/seata/issues/3876
https://github.com/seata/seata/issues/3877
https://github.com/seata/seata/issues/3878

[2021-08-13 08:43] lcmvs commented on #2520
现在client端用starter没啥问题，但是server端本身就不是spring boot的，感觉springcloudconfig不太好支持吧。

[2021-08-14 01:27] alexanderliu-creator commented on #3618
服务器还是启动不起来，想请问下具体怎么解决的呢

[2021-08-14 02:48] #3933 closed

[2021-08-14 04:29] alexanderliu-creator opened #3950 "Seata中微服务调用间的异常"
在微服务调用的时候，第一次会产生：
java.net.SocketTimeoutException: Read timed out
	at java.net.SocketInputStream.socketRead0(Native Method) ~[na:1.8.0_281]
	at java.net.SocketInputStream.socketRead(SocketInputStream.java:116) ~[na:1.8.0_281]
	at java.net.SocketInputStream.read(SocketInputStream.java:171) ~[na:1.8.0_281]
	at java.net.SocketInputStream.read(SocketInputStream.java:141) ~[na:1.8.0_281]
	at java.io.Bu

[2021-08-14 07:24] Accelerater commented on #3878
Please assign it to me

[2021-08-14 07:43] DropOfJupiter commented on #3366
@Slf4j
@Component
public class FeignRequestInterceptor implements RequestInterceptor {

	@Override
	public void apply(RequestTemplate requestTemplate) {
			String seataXid= RootContext.getXID();
			if (StringUtils.isNotBlank(seataXid)) {
				requestTemplate.header(RootContext.KEY_XID,seataXid);
			}
			log.info("Feign拦截请求路径添加头部信息：{}", JSON.toJSONString(requestTemplate.headers()));
		}
	}
}
我是这么解决的

[2021-08-14 08:01] a364176773 commented on #3950
请反馈至spring cloud alibaba社区

[2021-08-14 08:01] #3950 closed

[2021-08-14 08:01] DropOfJupiter commented on #3217
我项目也重写了feign.RequestInterceptor ，所以需要手动绑定，将xid传递下去

[2021-08-14 08:05] DropOfJupiter commented on #3620
同1.4.2 还有这类似问题，如果实体有Date字段，在回滚时会提示这个错误
com.fasterxml.jackson.databind.JsonMappingException: Can not construct instance of java.time.LocalDateTime: no suitable constructor found, can not deserialize from Object value (missing default constructor or creator, or perhaps need to add/enable type information?)

[2021-08-14 08:42] DropOfJupiter commented on #3620
亲我这样改完，undo_log里的rockback_info乱码了，seata 1.4.2
![image](https://user-images.githubusercontent.com/23180104/129440180-7a5bcde3-2996-4eee-b07b-5ae8f58057c5.png)

https://github.com/seata/seata.github.io/pull/325#issuecomment-898865260

[2021-08-15 09:47] DropOfJupiter commented on #3366
但如果feign使用了hystrix，需要将熔断策略从线程池改成信号量
![image](https://user-images.githubusercontent.com/23180104/129474370-fb4c7637-f927-41b3-b8bc-4891b34ea241.png)

[2021-08-15 14:53] caohdgege commented on #3946
can you please submit a pr to fix it ?

[2021-08-16 00:54] sixlei commented on #3946
ok

[2021-08-16 03:01] #3428 closed

[2021-08-16 03:11] sailer132 opened #3952 "release 1.4.2 can't start up from sources"
- [ ] I have searched the [issues](https://github.com/seata/seata/issues) of this repository and believe that this is not a duplicate.

### Ⅰ. Issue Description
start up from source,it can't start up,some file is not exist in /META-INF/services,for example:"io.seata.server.session.SessionManager","io.seata.core.store.db.DataSourceProvider".. etc

### Ⅱ. Describe what happened

  If there is an exc

[2021-08-16 03:24] a364176773 commented on #3917
so the latest code has been modified

[2021-08-16 05:40] tian-qingzhao commented on #3917
Ok, thank you very much!

[2021-08-16 05:40] #3917 closed

[2021-08-16 05:49] a364176773 commented on #3917
you are welcome, if you have any thoughts or suggestions in the future, please continue to communicate

[2021-08-16 06:17] lightClouds917 opened #3953 "remove the @Deprecated method from seata about druid"
### Ⅰ. Issue Description

![image](https://user-images.githubusercontent.com/33415199/129519241-e6255844-d4ff-4ccc-b4a6-62cb9c3404ab.png)
![image](https://user-images.githubusercontent.com/33415199/129519300-50acbd28-7a1b-4ba8-aba7-18d167e44df9.png)

### Ⅱ. Describe what happened

### Ⅲ. Describe what you expected to happen

### Ⅳ. How to reproduce it (as minimally and precisely as possible)

###

[2021-08-16 06:17] lightClouds917 commented on #3953
I will optimize this .please assign to me .

[2021-08-16 07:20] wsq93 commented on #3135
我也遇到了这个问题，不过我这边搭建的情况找到处理方法了。我用的nacos-server是2.0.3版本，seata-server是1.4.2版本，项目搭建时使用了spring-boot-devtools，一改代码就重新自动启动了，然后这个服务控制台之后打印的内容就出现这个死循环。经过一番测试，后来发现要去掉spring-boot-devtools，然后只要到nacos监控页面刷新一下服务列表 等待服务健康状态刷新之后就OK了！

[2021-08-17 07:17] BillBillLi opened #3957 "update 全局事务表数据精度问题"
在io.seata.server.storage.db.store.LogStoreDataBaseDAO#updateGlobalTransactionDO更新全局事务表的时候，使用的sql是这句：update  #global_table#    set status = ?,       gmt_modified = now() where xid = ?
在这句中，事务没结束的时候，status是1，而当status没变，并且更新和插入隔的时间很短的情况下，由于now()只是精确到了秒的情况下，此时now()获取到的数据和之前插入全局事务表的gmt_modified是相同的（因为精度只是到秒而已），此时，代码中ps.executeUpdate() > 0 就会是false，这样就会抛出异常从而导致全局事务失败

[2021-08-17 07:21] BillBillLi commented on #3957
实际上此时事务是个正常的状态

[2021-08-18 01:38] MrPassionFruit opened #3958 "seata支持跨库请求吗 ？比如：A服务调用B服务时，A服务数据库是oracle，B服务数据库是mysql，此时事务ok吗？"
## Why you need it?
 Is your feature request related to a problem? Please describe in details

## How it could be?
A clear and concise description of what you want to happen. You can explain more about input of the feature, and output of it.

## Other related information
Add any other context or screenshots about the feature request here.

[2021-08-18 04:06] a364176773 commented on #3958
没问题

[2021-08-18 04:06] #3958 closed

[2021-08-18 04:09] MrPassionFruit commented on #3958
好的，谢谢

[2021-08-18 06:25] 1078699311 opened #3959 "【HELP】seata分支事务回滚异常"
- [ ] I have searched the [issues](https://github.com/seata/seata/issues) of this repository and believe that this is not a duplicate.

### Ⅰ. Issue Description
jmeter测试seata的AT模式，update同一条数据的同一个字段值，极容易出现下游分支事务一直回滚，undo_log有status为0的镜像数据，请问是我的哪里操作不对吗？

### Ⅱ. Describe what happened

  If there is an exception, please attach the exception trace:

[code]
`2021-08-18 13:53:36.887  INFO 17851 --- [h_R

[2021-08-18 07:29] a364176773 commented on #3959
https://gitee.com/itCjb/spring-cloud-alibaba-seata-demo
上述demo经历无数次压测，没有出现过脏数据导致无法回滚，你可以用这个demo看看能否复现，如果不能请对比我提供的demo和检查代码

[2021-08-18 07:36] DropOfJupiter commented on #2577
我项目A调用项目B，B可以回滚，A无法回滚，但A那边的日志也是说回滚成功了。
项目A中也是使用多数据源，但已经指定某个数据源被seata代理，情况跟你一样，A的undo_log没有数据

[2021-08-18 09:44] 1078699311 commented on #3959
@a364176773 我下载demo测试了多次，同一台机器部署seata、client、service三个服务（改了nacos的ip和seata的ip），测试TestController#seataException2，只是把 1 / 0 去掉了，jmeter测试100并发百分百出现回滚异常，undo_log等表结构也对比过完全一致

[2021-08-18 09:46] 1078699311 commented on #3959
还有个问题是，每次重启服务后，第一次请求必定会出现 Response[ TransactionException[Could not found global transaction xid = xxx, may be has finished 的异常

[2021-08-19 01:12] Accelerater commented on #3875
Please assign it to me
@caohdgege

[2021-08-19 01:37] wilder-ness commented on #3115
openfegin-core修改了版本能启动但是 服务间调用 会找不到服务。。

[2021-08-19 08:05] chengqipeng opened #3960 "seata和springcloud集成的问题汇总"
- [ ] I have searched the [issues](https://github.com/seata/seata/issues) of this repository and believe that this is not a duplicate.

### Ⅰ. Issue Description
1、springcloud sleuth和seata-springcloud-starter有冲突，导致调用链路一直增加；
2、springcloud feign和seata-springboot-starter偶发性会出现空指针；
3、springcloud feign和seata-springboot-starter经常出现feign.RetryableException: connect timed out

### Ⅱ. Describe what happened

[2021-08-19 08:06] #3960 closed

[2021-08-19 08:10] chengqipeng opened #3961 "seata空指针"
Ⅰ. Issue Description
 springcloud feign和seata-springboot-starter偶发性会出现空指针；

Ⅱ. Describe what happened
springcloud 2.3.5.RELEASE
springcloud sleuth 2.2.6-RELEASE
seata-spring-boot 1.4.2
seata-all 1.4.2

1、springcloud feign和seata-springboot-starter偶发性会出现空指针，目前没有找到具体原因，但是实际问题确实存在，这里加入报错的trace堆栈
java.lang.NullPointerException\n\tat io.seata.tm.DefaultTransactionManager.begin(DefaultTransactionManager.

[2021-08-19 08:11] l81893521 commented on #3961
TC有错误信息或者日志能提供吗？

[2021-08-19 14:10] heckerstone opened #3962 "空指针异常"
- [x] I have searched the [issues](https://github.com/seata/seata/issues) of this repository and believe that this is not a duplicate.

### Ⅰ. Issue Description
加入seata注解后执行update异常
ERROR] 2021-08-19 21:48:33,586 [com.jh.common.exception.JhGlobalExceptionHandler.http-nio-8081-exec-3]
class com.jh.common.exception.JhGlobalExceptionHandler系统运行时异常：org.springframework.jdbc.UncategorizedSQLException:
#

[2021-08-19 15:11] a364176773 commented on #3962
1.3?请升级1.4.2再做判断

[2021-08-19 15:33] heckerstone commented on #3962
就是1.4.2

[2021-08-20 01:33] a364176773 commented on #3957
根本原因是seata1.4.2时连续变更状态了2次造成此问题，目前已修复，是否要加精度需要另外商讨，欢迎留言交流

[2021-08-20 02:09] #3007 closed

[2021-08-20 02:10] #3653 closed

[2021-08-20 02:46] zhailongtao opened #3963 "sql解析不支持update join形式，小弟想问一下是没必要支持还是后续会加上。"
## Why you need it?
 Is your feature request related to a problem? Please describe in details

## How it could be?
A clear and concise description of what you want to happen. You can explain more about input of the feature, and output of it.

## Other related information
Add any other context or screenshots about the feature request here.

[2021-08-20 02:47] zhailongtao commented on #3963
有答案就删，这个问题太low了，O(∩_∩)O哈哈~

[2021-08-20 03:02] zsp419 commented on #1246
组织：日事清
地点：北京
官网：https://www.rishiqing.com
联系方式：zhangsp419@163.com
业务场景：保证微服务之间的事务一致性
服务框架：springboot,seata,redis,rpc,activiti等
SEATA模式：AT
![1619419262091_cover_3e7d-806f-11b9-094a](https://user-images.githubusercontent.com/27196467/130172438-2bda8a78-7404-4afc-8317-4261635185bb.jpeg)

[2021-08-20 03:05] zsp419 commented on #1246
组织：日事清
地点：北京
官网：https://www.rishiqing.com/
联系方式：zhangsp419@163.com
业务场景：保证微服务之间的事务一致性
服务框架：springboot.seata,redis,rpc,activiti等
SEATA模式：AT
![1619419262091_cover_3e7d-806f-11b9-094a](https://user-images.githubusercontent.com/27196467/130172874-39b50915-e38c-45fb-8441-60cf0784062c.jpeg)

[2021-08-20 03:18] jsbxyyx commented on #3963
后续会支持

[2021-08-20 03:24] #3963 closed

[2021-08-20 03:44] zsp419 commented on #1246
组织：日事清
地点：北京
官网：https://www.rishiqing.com/
业务场景：保证微服务之间的事务一致性
服务框架：springboot.seata,redis,rpc,activiti等
SEATA模式：AT
![1619419262091_cover_3e7d-806f-11b9-094a](https://user-images.githubusercontent.com/27196467/130175895-88dea6c8-c80f-47c2-b11e-d93f8b6c07e9.jpeg)

[2021-08-20 04:03] zdtjss opened #3964 "执行insert into select时报异常"
从日志看数据库层insert into select执行成功，报错的堆栈中无数据库驱动层抛出的异常信息。
数据库版本MySQL5.7
数据库驱动版本8.0.22
seata客户端版本1.3.0或1.4.2
seata服务端版本1.3.0
观察seata客户端源码（BaseInsertExecutor），报错位置如下最后一个if处判断为false（!insertRows.isEmpty()为true），导致无法为pkValuesMap赋值。
if (statementProxy instanceof PreparedStatementProxy) {
            PreparedStatementProxy preparedStatementProxy = (PreparedStatementProxy) statementProxy;

            List<Lis

[2021-08-20 04:09] jsbxyyx commented on #3964
不支持 insert into select

[2021-08-20 04:18] zdtjss opened #3965 "不支持insert into select操作"
经定位问题发生在BaseInsertExecutor.parsePkValuesFromStatement()
if (statementProxy instanceof PreparedStatementProxy) {
            PreparedStatementProxy preparedStatementProxy = (PreparedStatementProxy) statementProxy;

            List<List<Object>> insertRows = recognizer.getInsertRows(pkIndexMap.values());
            if (insertRows != null && !insertRows.isEmpty()) {
问题发生在上述代码最后一个if处，!insertRows.isE

[2021-08-20 06:28] zdtjss commented on #3964
是不能被支持，还是暂不支持

[2021-08-20 08:03] onewayxp opened #3966 "阿里云安全中心提示-XStream < 1.4.15 任意文件删除漏洞（CVE-2020-26259）"
能不能升级一下XStream 版本
![image](https://user-images.githubusercontent.com/17056347/130201065-ebc6b169-5ef0-4365-937c-11cd321027f1.png)

[2021-08-20 08:09] fangyi1008 opened #3967 "Failed to report global rollback,连接超时导致数据不一致"
这种异常能否在自己的服务捕获去处理呢

[2021-08-20 13:07] #3866 closed

[2021-08-22 06:08] 2608027102 commented on #2907
你好，请教一个问题，我本地使用nacos做注册中心，但是并不想使用他的配置中心功能，所以我本地客户端是这样配置的

[code]

按照我的理解，既然已经配置了注册中心了，为什么服务不能从注册中心获取tc地址呢？为什么还需要在file.conf中人工指定tc的地址。
[code]

[2021-08-22 08:56] a364176773 commented on #3965
目前暂不支持,欢迎认领该feature

[2021-08-22 08:57] a364176773 commented on #3962
at io.seata.rm.datasource.sql.struct.TableRecords.buildRecords(TableRecords.java:195) 你去看下1.4.2这行是什么?再看下1.3的这行是什么内容

[2021-08-22 12:47] dinfengJIMO opened #3971 "MYSQL慢日志一直打印问题"
你好，我这边是用了seata做分布式事务，然后数据库是用MYSQL，以下是seata_server的数据库：

![image](https://user-images.githubusercontent.com/89343975/130355721-7cce6502-65a1-4575-93fe-0ba92d4314ab.png)

然后我在微服务的mysql开启慢日志，然后监控慢日志时，发现每秒钟都会打印以下日志信息，我慢日志的时间long_query_time已经是调了2秒了，但是还是会不断打印以下信息：

# User@Host: 项目名[项目名] @ 项目名_seata.项目名 [xxx.xxx.xxx.xxx]  Id: 43088
# Query_time: 0.000446  Lock_time: 0.000207 Rows_sent: 0  Rows_examined:

[2021-08-22 13:08] a364176773 commented on #3971
没看出来哪里慢了,你的慢sql检测的组件是什么?
select xid, transaction_id, status, application_id, transaction_service_group, transaction_name, timeout, begin_time, application_data, gmt_create, gmt_modified from global_table where status in (8) order by gmt_modified limit 100;
这是tc的表,跟你微服务打印有什么关系,为什么你微服务打印了tc表查询的sql?

[2021-08-22 15:47] dinfengJIMO commented on #3971
你好，我这边用的5.7版本的MYSQL，然后tc的数据库和微服务的数据库是放一台数据库里面的，也就是本质上只有一台mysql。

然后我这台mysql开启了慢日志set global slow_query_log = on，主要是检测一些执行比较慢的sql语句。

然后我设置了慢日志的时间是2秒，执行了：set long_query_time = 2，正常整个数据库超过2秒的执行语句才会记录到慢日志。

但是我发现，seata的这条扫描所有global_table数据的执行语句，执行时间其实不到1秒，但是会一直在慢日志打印，1秒打印一次，日志文件一下子就堆积了，所以我想问问具体是什么问题。

[2021-08-23 00:44] heckerstone commented on #3962
你是知道呢还是不知道呢，一会1.3 一会1.4

[2021-08-23 00:45] #3962 closed

[2021-08-23 02:57] yjyi opened #3973 "oracle 插入数据如果超过1000长度，数据插入不进去"
seata版本：1.4.2
oracle版本：12c
数据表当中有个字段设计为VARCHAR2, 长度为4000，
如果去掉seata事务，则可以插入长度为4000的字符，如果加上，长度大于1000，那么字段为空，小于1000可以正常插入，无异常错误，
如果将数据类型改成CLOB，那么会报如下错误

![CF9CCD0B-707C-4f02-B95D-0426483DEF86](https://user-images.githubusercontent.com/9957850/130383921-a5aea14d-59e4-446d-ad21-e7c7200718de.png)

[2021-08-23 02:59] a364176773 commented on #3973
@jsbxyyx

[2021-08-23 05:41] jsbxyyx commented on #3973
fix later

[2021-08-23 07:46] jsbxyyx commented on #3964
@zdtjss 暂时不支持，如果你愿意，可以提交一个PR，非常感谢

[2021-08-23 12:09] zhoushenn commented on #3883
1.4.0  序列化改成了 kryo。  可是还是存在这个一直循环回滚失败的问题..

[2021-08-23 13:50] siaron opened #3975 "springboot + grpc +seata 是否支持?"
## Why you need it?
看seata有一个grpc的集成? 是否支持grpc协议?

[2021-08-23 14:24] caohdgege commented on #3964
same with #3965 , 后续有进展在那边继续

[2021-08-23 14:24] #3964 closed

[2021-08-23 14:28] caohdgege commented on #3957
ref #3626

[2021-08-23 14:28] #3957 closed

[2021-08-23 14:34] #3953 closed

[2021-08-23 14:37] caohdgege commented on #3936
用的是哪个版本的nacos.sh ?

[2021-08-23 14:42] caohdgege commented on #3894
#3487 has fixed

[2021-08-23 14:42] #3894 closed

[2021-08-23 14:45] caohdgege commented on #3971
mysqldumpslow 拿一下慢查询的详细信息贴一下

[2021-08-24 02:34] zhoushenn commented on #3883
pom引入解决这个问题
<dependency>
			<groupId>io.seata</groupId>
			<artifactId>seata-spring-boot-starter</artifactId>
			<version>1.4.2</version>
		</dependency>
		<dependency>
			<groupId>com.alibaba.cloud</groupId>
			<artifactId>spring-cloud-starter-alibaba-seata</artifactId>
			<exclusions>
				<exclusion>
					<groupId>io.seata</groupId>
					<artifactId>seata-spring-boot-starter</artifactId>
				</e

[2021-08-24 03:38] #3959 closed

[2021-08-24 03:51] zhoushenn commented on #3709
啥时候合并发布下这个特性... 目前1.4.2依然存在这个问题= =

[2021-08-24 08:16] hylyLLL opened #3976 "dubbo+zk+springboot+seata全局事务失效问题"
@GlobalTransactional
    @Override
    public void create() {
        SysUser sysUser = new SysUser();
        sysUser.setUserName("test");
        sysUser.setPassword("3243242");
        iSysUserService.save(sysUser);
        int a = 10 / 0;
        SysUser sysUser2 = new SysUser();
        sysUser2.setUserName("test2222");
        sysUser2.setPassword("3243242");
        iSysUserService.save(sys

[2021-08-24 08:23] a364176773 commented on #3976
Seata常见问题：http://seata.io/zh-cn/docs/overview/faq.html

Seata整合1.2教程: https://www.bilibili.com/video/BV12Q4y1A7Nt

升级1.3教程: https://www.bilibili.com/video/BV1Cf4y1X7vR

TCC整合教程: http://seata.io/zh-cn/blog/integrate-seata-tcc-mode-with-spring-cloud.html

文字版教程

https://mp.weixin.qq.com/s/2KSidJ72YsovpJ94P1aK1g

tcc+at 整合demo:
https://github.com/wangliang181230/seata-starters-and-demos

springcloud整

[2021-08-24 08:23] #3976 closed

[2021-08-24 08:29] hylyLLL commented on #3976
你好，我这边配置都是正常的，没有报什么错误，但是在使用@GlobalTransactional时，下面那个案例就是不触发，走的本地事务

[2021-08-24 09:15] hylyLLL commented on #3976
还有就是，一直报内存分配失败，但是内存已经调大了：
 237:8091 ! R:/172.20.0.6:42424]
2021-08-24 09:13:47.163 INFO [NettyServerNIOWorker_12_12]io.seata.core.rpc.netty.RpcServer.exceptionCaught:381 -channel exx:failed to allocate 134217728 byte(s) of d      irect memory (used: 536870912, max: 536870912),channel:[id: 0x347b42f0, L:/192.168.3.237:8091 - R:/172.20.0.6:42426]
2021-08-24 09:13:47.164 ERROR[NettyServerNIOWorker_12

[2021-08-24 09:39] AiMiKidass opened #3977 "事务回滚失败的问题,且控制台一直报错"
描述:
现有三个数据库,分别为order,product,account,简单模拟现实中下订单时,库存不足,余额不足时,在分布式场景下回滚业务.(其实就是ruoyi-cloud的代码).主入口为order,当检查完product逻辑后,执行到account余额不足时,触发异常并回滚时,就会出现如下日志,不知道是哪里出了问题.特来请教一下,是我的用法有问题吗?还是配置参数写错了?

代码:
order
[code]

product:
[code]

[code]

环境:seata1.3.0
MySQL: 5.7.29
为了解决1.3.0json问题,添加了client.undo.logSerialization=kryo

seata配置:
[code]

[code]

日志报错信息:
`branchType=AT,resourceId=jdbc:mysql://localhost:3

[2021-08-24 09:45] a364176773 commented on #3977
升级1.3教程: https://www.bilibili.com/video/BV1Cf4y1X7vR

TCC整合教程: http://seata.io/zh-cn/blog/integrate-seata-tcc-mode-with-spring-cloud.html

文字版教程

https://mp.weixin.qq.com/s/2KSidJ72YsovpJ94P1aK1g

tcc+at 整合demo:
https://github.com/wangliang181230/seata-starters-and-demos

springcloud整合demo:

https://gitee.com/itCjb/spring-cloud-alibaba-seata-demo
（上述demo内附1.3整合文字版）

[2021-08-24 09:45] #3977 closed

[2021-08-24 10:26] pangshuqiang commented on #3883
非常不错，确实在1.4.2加了 seata-serializer-kryo 依赖包后程序正常运行，也不会出现1.4.0的循环回滚问题。

@a364176773
@zhoushenn

[2021-08-25 02:33] caohdgege commented on #3973
可以提供一份完整堆栈吗？

[2021-08-25 02:37] yjyi commented on #3973
![lALPD26eQBujcu3NAg_NBHs_1147_527](https://user-images.githubusercontent.com/9957850/130717180-834491dd-191e-487b-bdd2-90198fd1a8f0.png)
这是接着上面报错的截图，不过这是另外一个问题，主要是字段超过1000插入不进去，不知道这2个是不是同一个问题@ caohdgege

[2021-08-25 02:40] yjyi commented on #3973
项目要上线，卡在这个问题上了，看看能不能尽快解决，需要什么支持，我都及时响应，谢谢了@caohdgege

[2021-08-25 02:45] caohdgege commented on #3973
表结构/字段类型方便贴一下？字段名你可以改一下，数据类型，长度保持一致即可；还有Java对应的数据类型；对应的SQL方便也可以贴一下。

[2021-08-25 02:56] yjyi commented on #3973
表结构很简单，就是一张表test,   字段ID, VARCHAR2, 64,  字段TEST, VARCHAR2(或者CLOB), 4000, JAVA都是String，
==>  Preparing: insert into ZT_TEST2021813(ID_,TEST) values (?,?,?,?,?,?,?,?)
==> Parameters: 1430362753712893954(String), YM4BWY5IKL-eyJsaWNDIyLTA4LTEwIiwiZXh0ZW5kZWQiOmZhbHNlfSx7ImNvZGUiOiJETSIsInBhaWRVcFRvIjoiMjAyMi0wOC0xMCIsImV4dGVuZGVkIjpmYWxzZX0seyJjb2RlIjoiUlNGIiwicGFpZFVwVG8iOiIyMDIyLTA4LTEwIiwiZXh0ZW5kZ

[2021-08-25 03:04] jsbxyyx commented on #3973
@yjyi can you provide create table sql script

[2021-08-25 03:05] caohdgege commented on #3973
方便加一下群（最好是钉钉群）？
![image](https://user-images.githubusercontent.com/22959373/130719653-7e891b91-5299-4d34-8830-d1a40473e54a.png)

[2021-08-25 03:14] yjyi commented on #3973
已经加群了，create table test { "ID_" varchar2(64 BYTE) NOT NULL,  "TEST" CLOB visible}@jsbxyyx  @caohdgege

[2021-08-25 05:25] caohdgege commented on #3973
1. 可否发一下对应的Oracle驱动？
2. 你是在原有服务上集成的？还是新的服务？如果是新的服务，是否方便提供一个完整的复现Demo？

[2021-08-25 06:36] yjyi commented on #3973
原有服务集成使用的，@caohdgege
驱动
[ojdbc7.zip](https://github.com/seata/seata/files/7044192/ojdbc7.zip)

[2021-08-25 09:58] hylyLLL commented on #3976
你好，我这边确认了问题，最后发现是由于springboot循环引用造成的全局事务失效

[2021-08-25 15:52] Martin-Mo commented on #1458
可以通过AOP拦截GlobalTransactionScanner里的wrapIfNecessary，不过需要修改的代码比较多。最理想的是修改下面两行：

Class<?> serviceInterface = SpringProxyUtils.findTargetClass(bean);

Class<?>[] interfacesIfJdk = SpringProxyUtils.findInterfaces(bean);

不过此处不在相对独立的Bean方法里，AOP拦截不了。。。希望@slievrly 能提供个解决方案。谢谢

[2021-08-26 07:12] AgeFades opened #3979 "Mac本机项目环境运行，Docker部署Seata无法指定SEATA_IP为127.0.0.1，本地项目从Nacos中读取到的Seata Ip无法连接"
## Why you need it?
SpringBoot Jar包直接运行时，与部署在Docker虚拟VM中的 Seata 网络不能互通
官方提供参数 SEATA_IP 设定为 127.0.0.1 时，注册进Nacos的实际Ip仍为虚拟VM IP
注册Mac本机公网IP时，SEATA_IP参数生效，但不能让本地SpringBoot应用达到直接访问的目的

## How it could be?
Seata Docker部署时、支持注册IP为127.0.0.1

[2021-08-26 13:59] kangzemin opened #3980 "建议使用liquibase管理数据库"
建议使用liquibase管理数据库，以降低运维成本

[2021-08-27 17:54] 531411211 opened #3983 "这是个书写错误么?"
在官方文档的常见问题中4中,提到的这个注解@GlobalTransaction我并没有找到,我猜想应该是说的这个@GlobalTransactional吧?
![image](https://user-images.githubusercontent.com/20436008/131168541-53e942e1-f82f-48f6-8297-65976739343f.png)

常见问题连接:https://seata.io/zh-cn/docs/overview/faq.html

[2021-08-28 01:44] 13406169210 commented on #2908
请问大佬怎解决的这个问题,我也是在集成了seata之后日志显示回滚成功,实际数据已经提交.原因应该是seata没有代理数据库事务,配置了datasource代理实务之后mp的自动填充主键的特性消失了.根据seata官网博客的方法修改还是不生效,不知道你这里解决没有,收到请回复谢谢

[2021-08-28 03:07] slievrly commented on #3983
@531411211 it's a typo, you can submit a PR to fix it.

[2021-08-28 07:40] dusk877647949 commented on #3741
aaa

[2021-08-29 07:24] aSingleDragon opened #3984 "init nacos config fail."
- [ ] I have searched the [issues](https://github.com/seata/seata/issues) of this repository and believe that this is not a duplicate.

### Ⅰ. Issue Description
执行nacos-config.sh发生了4个失败

Set store.publicKey= failure
Set store.redis.sentinel.masterName= failure
Set store.redis.sentinel.sentinelHosts= failure
Set store.redis.password= failure

### Ⅱ. Describe what happened

  If there is an exceptio

[2021-08-29 08:12] a364176773 commented on #3984
这个配置自己可选的,里面有很多没有value,自己要配置的,不是拿来就用,如果不需要就可以删掉,不用全部提交

[2021-08-29 08:12] #3984 closed

[2021-08-29 08:42] andycom opened #3985 "win10 使用MINGW64 执行nacos-config.sh 后nacos 没有导入任何配置信息"
- [ ] I have searched the [issues](https://github.com/seata/seata/issues) of this repository and believe that this is not a duplicate.

### Ⅰ. nacos配置信息 导入失败，启动client 报错

### Ⅱ. Describe what happened

  If there is an exception, please attach the exception trace:

[code]
nacos 日志
[code]

[code]

### Ⅲ. Describe what you expected to happen
win10 使用MINGW64 执行nacos-config.sh 后nacos 没有导入任何配置信息

### Ⅳ

[2021-08-29 09:05] a364176773 commented on #3985
检查对应的namespace里有没有配置

[2021-08-29 09:05] #3985 closed

[2021-08-29 10:49] hyfsy opened #3986 "SeataDataSourceAutoConfiguration condition has been mismatched"
- [x] I have searched the [issues](https://github.com/seata/seata/issues) of this repository and believe that this is not a duplicate.

### Ⅰ. Issue Description
I imported the v1.4.2 **seata-spring-boot-starter** package, `@EnableAutoDataSourceProxy` annotation are not used, I want `SeataDataSourceAutoConfiguration` can be configured automatically, but the `@ConditionalOnBean(DataSource.class)` an

[2021-08-30 06:43] rbfw commented on #3329
同样遇到，不知道最新的1.4.2有没有修复，哎，这真是坑太多了，生产环境把业务流程给卡住了，客户要发飙

[2021-08-30 06:54] Musknine opened #3987 "all_cons_columns查出的主键名和all_indexes中的索引名字不一致导致事物异常"
### Ⅰ. Issue Description
事物启动异常

### Ⅱ. Describe what happened
![1630296053502_1630294964657_8FA84DE8-EA11-4fd3-979B-863ED99F4833](https://user-images.githubusercontent.com/89766728/131295441-abea5cfd-4e4d-40d9-a795-979b1093af22.png)
如图：构造tablemeta信息时，通过两个sql查询表的相关索引信息，在图中1的位置，通过查询all_indexes取得所有的索引，
[在图中2，3位置通过查询all_cons_columns设置主键，但是由于all_indexes查出来的信息不包含all_cons_columns查出来的信息，就导致没有执行到第3步。
查询数据

[2021-08-30 09:57] Dawnxzc opened #3989 "服务本身职责只是RM 能否只初始化RMClient 不初始化TMClient"
由于公司的服务分层，公司大概只有10%的服务是承担TM角色的，大部分服务都不需要初始化TM，只担任RM角色，能否添加配置达到服务启动时只初始化RMClient / TMClient

[2021-08-30 11:46] aSingleDragon opened #3990 "ErrMsg:failed to req API:/nacos/v1/ns/instance after all servers([127.0.0.1:8848])"
- [ ] I have searched the [issues](https://github.com/seata/seata/issues) of this repository and believe that this is not a duplicate.

### Ⅰ. Issue Description
docker启动seata失败

### Ⅱ. Describe what happened

  If there is an exception, please attach the exception trace:

[code]

### Ⅲ. Describe what you expected to happen
seata-server成功启动并注册到nacos中

### Ⅳ. How to reproduce it (as minimally and pr

[2021-08-30 12:48] a364176773 commented on #3989
rm是否有方法上加了globaltransactional注解?

[2021-08-30 12:48] a364176773 commented on #3990
先试试低版本的nacos?

[2021-08-30 12:49] a364176773 commented on #3987
@jsbxyyx @l81893521 一起看看

[2021-08-30 13:13] objcoding commented on #3989
可以看下这篇文章的分析：
https://seata.io/zh-cn/blog/seata-at-mode-start-rm-tm.html

[2021-08-30 14:45] aSingleDragon commented on #3990
您好，我使用了1.4.2版本的nacos
[code]
启动1.4.2版本的seata-server，还是会报之前的错误：
[code]

[2021-08-31 02:57] kedarui opened #3992 "PG作为业务数据库，不支持数组下标更新sql"
- [ ] I have searched the [issues](https://github.com/seata/seata/issues) of this repository and believe that this is not a duplicate.

### Ⅰ. Issue Description
PG作为业务数据库，不支持数组下标更新sql

### Ⅱ. Describe what happened

update t_user set money[1]=100.0 where id=1

[code]

### Ⅲ. Describe what you expected to happen

该语句应该合法，提示异常

[2021-08-31 03:24] slievrly opened #3993 "MetricsSubscriber subscribe more than once"
- [ ] I have searched the [issues](https://github.com/seata/seata/issues) of this repository and believe that this is not a duplicate.

### Ⅰ. Issue Description

![image](https://user-images.githubusercontent.com/8758457/131436630-6ab36ba8-2994-406c-853d-f0a9e833bb80.png)

### Ⅱ. Describe what happened

  If there is an exception, please attach the exception trace:

[code]

### Ⅲ. Describe what yo

[2021-08-31 05:22] #3961 closed

[2021-08-31 08:42] pangshuqiang commented on #3883
今天又撸了一把，并结合中文文档说明中的“常见问题”第23条“Spring boot 1.5.x 出现 jackson 相关 NoClassDefFoundException”，进行 client.undo.logSerialization=kryo 序列化配置至 nacos ，**然后重新启动 seata 服务（基于docker）**
同时基于网友给出的经验，[springboot集成分布式事物组件Seata升级避坑之undo序列化方式选择](https://zhuanlan.zhihu.com/p/375426225)
**目前基于 Nacos2.0+MySQL8.0+Seata1.4.1+Dubbo2.7.12 算是测试通过，不过 1.4.2 就没这么幸运了。。。。。。。**

在代码不变的情况些，换到1.4.2版本测试不通过，出现的情况是，无论调用端还是被调用端，都不会执行回滚业务处

[2021-09-01 01:16] zcj772393532 commented on #3986
I have the same problem,when i delete @EnableAutoDataSourceProxy,seata can't rollback; when i add @EnableAutoDataSourceProxy seata can't  be disabled.
I have a demo,https://gitee.com/zhouacai/seata-eureka-feign-jpa.

[2021-09-01 01:33] Dawnxzc commented on #3989
已解决

[2021-09-01 01:43] Dawnxzc commented on #3989
我看了代码io.seata.spring.annotation.GlobalTransactionScanner#initClient 并做了调试，有没有加@GlobalTransactional注解都会执行TMClient.init()

[2021-09-01 01:53] Hxd2018 opened #3995 "seata和openfeign冲突问题"
seata和openfeign冲突问题
依赖如下：

![image](https://user-images.githubusercontent.com/37855805/131595539-6c9129a9-ce95-49c3-90a8-100f0086ae69.png)
![image](https://user-images.githubusercontent.com/37855805/131595723-83002801-df43-44a7-a703-ae57f3b01848.png)

启动报错，网上搜索都是版本问题， 此配置是按照官网的版本配置 而且修改seata版本后依旧不能解决问题
问题如下：
org.springframework.beans.factory.UnsatisfiedDependencyException: Error creating bean with

[2021-09-01 02:01] Dawnxzc commented on #3989
看了现在的代码，您的pr是没有被合并的。
您的说法 “Seata后续优化需要考虑 当参与方出现异常时，是否可以直接由参与方的 TM client 发起全局回滚？”   如果真的考虑这样优化，影响还是比较大的

[2021-09-01 02:02] Dawnxzc commented on #3989
看了现在的代码，您的pr是没有被合并的。
您的说法 “Seata后续优化需要考虑 当参与方出现异常时，是否可以直接由参与方的 TM client 发起全局回滚？”   如果真的考虑这样优化，影响还是比较大的

[2021-09-01 02:06] a364176773 commented on #3989
参与方回滚的风险很大，因为tm那边可能不知道，如果出现用户编码上的bug，会导致后续的调用抛出not found xid的异常，至于为什么tm跟rm很大程度是一起，个人觉得，1.资源隔离 2.rm自身的单机事务也需要开启globaltransational来保证隔离性，否者将有可能脏写正在进行分布式事务中的数据 3.规范性，rm是tm，tm是tm
至于rm和tm共用某些功能，比如同个地址的channel完全可共享之类的，正在考虑

[2021-09-01 02:14] Dawnxzc commented on #3989
作者在这个issue中确实这么回复的 “Here are some points to consider: whether the provider directly send a globalRollback request when an exception occurs in the provider. if want to support this feature, need to enable the transactionManager on the provider.”

https://github.com/seata/seata/pull/1936

[2021-09-01 03:50] a364176773 commented on #3995
第一个冲突是你版本冲突，具体问题反馈至spring-cloud-alibaba社区
第二个，不要引入druid-spring-boot-starter依赖，或者关闭其自动装载的类

[2021-09-01 03:50] #3995 closed

[2021-09-01 05:50] wangliang181230 commented on #3750
Help Wanted：目前，该课题由于学生没有时间做，他已放弃该项目。现开放给社区的其他人来认领。

[2021-09-01 08:33] ghyaolong commented on #3314
其实是配置错误，seata升级之后，配置如下：
之前：
seata:
  enabled: true
  application-id: ${spring.application.name}
  tx-service-group: my_test_tx_group #my-test_tx-group
  enable-auto-data-source-proxy: true    #开启数据库代理
  service:
    vgroup-mapping:
      my_test_tx_group: default

更改为：

spring:
  cloud:
    alibaba:
      seata:
        tx-service-group: my_test_tx_group

[2021-09-01 09:25] dashenghuo opened #3996 "seata集群，全局事务提交的时候，redis的事务报错：返回null"
<img width="671" alt="lALPD3lGvJ315I_NAabNBT4_1342_422" src="https://user-images.githubusercontent.com/27012214/131646417-0ebf82b1-7359-48a8-86fd-cc53e1d33755.png">

- [ ] I have searched the [issues](https://github.com/seata/seata/issues) of this repository and believe that this is not a duplicate.

### Ⅰ. Issue Description

### Ⅱ. Describe what happened

  If there is an exception, please attach

[2021-09-01 11:56] lightClouds917 commented on #3996
I will fix it.please assign to me. @a364176773

[2021-09-02 06:21] x-shadow-man opened #3997 "develop(v1.5) tcc 增强方案可能存在缺陷"
## Why you need it?
 Is your feature request related to a problem? Please describe in details
在1.5.0(develop)版本中，对TCC的增强方案目前只覆盖了空提交、空回滚的处理，并未覆盖悬挂和并发情况的处理

## How it could be?
A clear and concise description of what you want to happen. You can explain more about input of the feature, and output of it.
我想尝试修复这个问题，请把这个任务分配给我，谢谢！

## Other related information
Add any other context or screenshots about

[2021-09-02 06:38] a364176773 commented on #3997
![Uploading image.png…]()
一阶段如果发生registy后就回滚，那么二阶段回滚查询不到本地事务记录表的数据，会直接插入一条记录，此时还在一阶段的tcc事务会直接唯一索引冲突而回滚本地事务，悬挂问题解决。
并发是指什么问题？

[2021-09-02 07:12] jsbxyyx commented on #3973
加timeout和上面的异常没有关系

[2021-09-02 07:12] #3973 closed

[2021-09-02 07:52] feng081212 commented on #3997
悬挂问题现在的方案已经解决了

[2021-09-02 07:55] x-shadow-man commented on #3997
嗯。刚才跟同事 check 了，发现悬挂问题新版本已经解决了，但是并发这块可能还是可能有一些问题。你看是否可以让我们尝试修复一下看看。

[2021-09-02 09:18] feng081212 commented on #3997
prepare 和 rollback 都是在 transactionTemplate.execute() 方法内执行的（  transactionTemplate 是org.springframework.transaction.support.TransactionTemplate），所以prepare 和 rollback都是开启了本地事务。rollback 中的 TCCFenceDO tccFenceDO = TCC_FENCE_DAO.queryTCCFenceDO(conn, xid, branchId) 和 insertTCCFenceLog(conn, xid, branchId, actionName, TCCFenceConstant.STATUS_TRIED) 会竞争数据库的锁资源，所以不存在 prepare 和 rollback 并行执行的问题。

[2021-09-02 09:19] feng081212 commented on #3997
prepare 和 rollback 都是在 transactionTemplate.execute() 方法内执行的（ transactionTemplate 是org.springframework.transaction.support.TransactionTemplate），所以prepare 和 rollback都是开启了本地事务。rollback 中的 TCCFenceDO tccFenceDO = TCC_FENCE_DAO.queryTCCFenceDO(conn, xid, branchId) 和 prepare 中的 insertTCCFenceLog(conn, xid, branchId, actionName, TCCFenceConstant.STATUS_TRIED) 会竞争数据库的锁资源，所以不存在 prepare 和 rollback 并行执行的问题。

[2021-09-02 12:43] chenlei3641 commented on #3829
Please assign it to me

[2021-09-03 03:18] #3996 closed

[2021-09-03 06:07] Tancen opened #3999 "分布式事务与本地事务共存时，导致本地事务异常后无法正常回滚"
- [ ] I have searched the [issues](https://github.com/seata/seata/issues) of this repository and believe that this is not a duplicate.

### Ⅰ. Issue Description

分布式事务与本地事务共存时，导致本地事务异常后无法正常回滚
准备表 test1, test2,
接口 test1,
@Transactional(rollbackFor=Exception.class)
void tes1(...)
{
insert into test1 ...
int v = 1 / 0;   //主动产生异常
insert into test2 ...
}

接口 test2,
@GlobalTransactional(rollbackFor=Exc

[2021-09-03 06:15] a364176773 commented on #3999
先理解好什么是本地事务吧。。。。。

[2021-09-03 06:15] #3999 closed

[2021-09-03 06:17] Tancen commented on #3999
那请问怎么解决这个问题呢？

[2021-09-03 06:20] #3975 closed

[2021-09-03 06:20] Tancen commented on #3999
另外，可能没写清楚，test1和test2在同一个数据库，它确实时本地事务

[2021-09-03 06:21] a364176773 commented on #3999
AT模式不会影响本地事务，没有问题，有问题就是你自己判断有误，或者代码有问题

[2021-09-03 06:21] Tancen opened #4000 "分布式事务与本地事务共存时，导致本地事务异常后无法正常回滚"
Ⅰ. Issue Description
分布式事务与本地事务共存时，导致本地事务异常后无法正常回滚
准备表 test1, test2, 它们在同一数据库
接口 test1,
@transactional(rollbackFor=Exception.class)
void tes1(...)
{
insert into test1 ...
int v = 1 / 0; //主动产生异常
insert into test2 ...
}

接口 test2,
@GlobalTransactional(rollbackFor=Exception.class)
void tes2(...)
{
......
}

Ⅱ. Describe what happened
当请求接口 test1 时, test1 表有记录，test 2 表没有

If there is an exception, ple

[2021-09-03 06:22] #4000 closed

[2021-09-03 06:28] a364176773 commented on #3986
seata-spring-boot-starter @EnableAutoDataSourceProxy 无效，starter依赖会自动代理，如果需要关闭显示在properties上写上seata.enable=false

[2021-09-03 06:30] Tancen commented on #3999
@RestController
public class Test
{
    @Autowired
    TestMapper testMapper;

    @Transactional(rollbackFor=Exception.class)
    @RequestMapping(value = "test1", method = RequestMethod.POST)
    void test1(@Param("id") Integer id, @Param("v") Integer v)
    {
        testMapper.insert(id, v);
        int a = 1/0;
        testMapper.insert2(id, v);
    }

    @GlobalTransactional(rollbackFor=Exce

[2021-09-03 06:38] Pinocchio2018 commented on #3999
@Tancen 你好，请问如果不加@GlobalTransactional的话，`testMapper.insert(id, v);`能回滚成功吗

[2021-09-03 06:39] Tancen commented on #3999
能的

[2021-09-03 06:40] Tancen commented on #3999
@a364176773 希望大家心态能平和一些，不是所有开发者都是傻子

[2021-09-03 06:48] Pinocchio2018 commented on #3999
@Tancen 请问你代理数据源了吗，如果没有的话，可以参考seata-samples工程
你调用的是`test1()`吧？怎么这方法没加 `@GlobalTransactional`呢
要不改成这样试试
[code]

[2021-09-03 06:59] zcj772393532 commented on #3986
不使用@EnableAutoDataSourceProxy，不会进入SeataDataSourceAutoConfiguration，也不会成功回滚

[2021-09-03 08:45] drgnchan commented on #3992
建议附上完整的异常栈

[2021-09-03 14:16] 316189693 commented on #2406
问题出在service.vgroupMapping.order-service-seata-service-group=default 这个 ‘vgroupMapping’， 以及绑定的group要对， 亲测有效

![image](https://user-images.githubusercontent.com/17778692/132018732-4294c602-d619-47ae-9141-0922f54b8e1d.png)

![image](https://user-images.githubusercontent.com/17778692/132018819-7c111721-48e5-43b7-b78c-954fde83aad7.png)

![image](https://user-images.githubusercontent.com/17778692/132018

[2021-09-04 02:32] a364176773 commented on #3999
觉得我说的有问题，就去看源码，实现原理

[2021-09-04 02:33] a364176773 commented on #3999
如果原理源码上那里影响了本地事务回滚再来说，反正你也不相信我说的，那你何必来社区问？

[2021-09-04 02:34] a364176773 commented on #3986
看依赖的，自己看官方demo springboot的有几个用了这个注解

[2021-09-04 02:34] #3986 closed

[2021-09-05 16:22] lj2018110133 opened #4002 "Service address exploration of the registry center"
## Why you need it?
 Is your feature request related to a problem? Please describe in details

In some cases, for example, the TC has registered 127.0.0.1:8091 to the registry center or the registered IP is unable to communicate with the client. In this case, the health detection result of the registry center is that the TC is alive, but the network cannot be connected to the client, so it is nece

[2021-09-06 01:05] Tancen commented on #3999
@a364176773  '先理解好什么是本地事务吧。。。。。'， 我说的是这句。你这不是正常的解决问题的态度

[2021-09-06 01:10] Tancen commented on #3999
之前不回滚的问题，我们做了后续的测试，由于一开始是项目出了本地事务无法回滚的问题，单独写了测试demo，这个demo有个问题，就是 controller 是不能通过注解跑事务的。后来我们补了一个 service层，经过测试发现多数据源的情况下，主数据源下 Transactional 可以生效，其它数据源不行

[2021-09-06 01:12] Tancen commented on #3999
@a364176773 你可以不回答，但你的回答就是态度有问题。给人的感觉就是其他人都是傻逼，阿里的人就是这副尿性

[2021-09-06 01:13] Tancen commented on #3999
@a364176773 关问题的速度比什么都快，感觉像是有KPI一样

[2021-09-06 01:34] a364176773 commented on #3999
我不是阿里的

[2021-09-06 01:36] a364176773 commented on #3999
多数据源本身不支持事务，更加证明了我上面说的，叫你去了解什么是本地事务，本地事务没玩明白，没搞懂，就上分布式事务，然后出一些基本事务常识能判断的问题，就来社区提issue，仿佛是seata造成的，其实完全是自己的问题，然后还信誓旦旦的态度态度，我想问你啥时候对学习能有问问题那么积极？如果你学习有那么积极，早就debug看了下connectionProxy干了什么，spring本地事务怎么支持的，为什么多数据源不支持事务

[2021-09-06 01:42] a364176773 commented on #3999
多数据源本身不支持事务，更加证明了我上面说的，叫你去了解什么是本地事务，本地事务没玩明白，没搞懂，就上分布式事务，然后出一些基本事务常识能判断的问题，就来社区提issue，仿佛是seata造成的，其实完全是自己的问题，然后还信誓旦旦的态度态度，我想问你啥时候对学习能有问问题那么积极？如果你学习有那么积极，早就debug看了下connectionProxy干了什么，spring本地事务怎么支持的，为什么多数据源不支持事务

[2021-09-06 02:21] Tancen commented on #3999
抱歉我描述不清晰，配置是多数据源，但在当时场景下只用了一个数据源。很多事情你太多的过于主观判断，这很让人反感。你不是阿里的人，但你代表的阿里，希望你能明白，你的举动不代表你个人

[2021-09-06 02:28] Tancen commented on #3999
虽然最终不一定是seata的问题，但你不应该在还没了解情况前说seata就没问题。难道现在的版本就一定一个bug都没有吗？

[2021-09-06 03:29] shanglangxin opened #4003 "数据量较大的情况下，tm 端与 server 端 rpc 通信超时导致请求失败"
- [ ] I have searched the [issues](https://github.com/seata/seata/issues) of this repository and believe that this is not a duplicate.

### Ⅰ. Issue Description
Seata 1.4.0 ，AT 模式，通过 feign 进行远程调用，在数据量较大的情况下，tm 端与 server 端 rpc 通信超时导致请求失败，其他的小数据量正常执行。

file.conf 配置
[code]

spring application 配置
[code]

调用方
[code]

被调用方
[code]

### Ⅱ. Describe what happened

被调用服务报错：
[code]

seata-server 报错:
[code]

[2021-09-06 03:33] a364176773 commented on #3999
我代表不了阿里，seata是属于开源社区的，不是强绑定阿里希望你明白

[2021-09-06 03:36] a364176773 commented on #3999
肯定有bug呀，但是对一个你的描述瞬间就能判断出来与seata无关的问题，我的回复有什么问题吗？以前我参与社区的时候是知无不言言无不尽，但是我参与的这么长时间，我发现直接给答案是解决不了问题的，只有引导式回答才行，给一定的相关提示，比如让你了解本地事务，如果你了解透彻了，这个问题不就自己有答案了吗，这提高能力的是你，节约时间的是大家，而如果直接给答案，节约的是提问者时间，耗费的是回答者时间，为何不能共同进步？

[2021-09-06 03:43] a364176773 commented on #4003
数据量大概多大？

[2021-09-06 03:58] shanglangxin commented on #4003
6k，先删除，后插入

[2021-09-06 06:16] a364176773 commented on #4003
这6k的操作数据量是在一个本地事务完成的吗？或者说在同一个rm完成的吗？如果是在一个rm中完成，是否在操作6k数据的时候再这个地方加了@transactional注解？

[2021-09-06 07:09] shanglangxin commented on #4003
该操作是同一个 rm 完成，这个操作的方法上同时添加 @transactional @GlobalTransactional 两个注解

[2021-09-06 07:17] a364176773 commented on #4003
好的，我晚点试试这个数据量，暂时的话，拆成几个transactional，删除单独一个，插入也单独一个试试，或者你有什么想法可以在这继续沟通

[2021-09-06 07:49] Muyuping opened #4004 "seata-server.bat启动报错"
seata版本：1.3
JDK:1.8
报错如下:
Error occurred during initialization of VM
Could not reserve enough space for 2097152KB object heap

[2021-09-06 07:50] a364176773 commented on #4004
Could not reserve enough space for 2097152KB object heap 这个错误很明显，应该自己去调整一下脚本内的jvm配置

[2021-09-06 07:51] #4004 closed

[2021-09-06 16:18] a364176773 commented on #4003
请问一下tc存储是db还是redis?

[2021-09-07 02:11] shanglangxin commented on #4003
用的是 db

[2021-09-07 02:15] shanglangxin commented on #4003
当前 seata 存储配置
[code]

[2021-09-07 07:28] xieshenace opened #4006 "seata1.3 事物回滚了一半"
- [ ] I have searched the [issues](https://github.com/seata/seata/issues) of this repository and believe that this is not a duplicate.

### Ⅰ. Issue Description
在主方法上加了@GlobalTransactional，然后有个更新时间，随后，调了另外一个service层的方法，该sevice层openFeign了另外一个服务的接口，该接口抛出了异常，被该service层，捕获到，然后抛出了异常，servcie层的更新都回滚了，但是主方法的updade却没有回滚

### Ⅱ. Describe what happened

  If there is an exception, please attach the exception

[2021-09-07 07:30] a364176773 commented on #4006
![image](https://user-images.githubusercontent.com/19943636/132303055-74836801-22b3-4f37-816c-8ee236a3499d.png)

[2021-09-07 07:48] xieshenace commented on #4006
因为tinyint，的问题，转换成boolean值了，然后回滚就只有0,1，没有-1了

[2021-09-07 07:55] jwangl opened #4007 "mycat 多租户使用注解型失败"
mycat 多租户使用注解型失败，提示
Caused by: java.lang.UnsupportedOperationException: ONLY SUPPORT SAME TYPE (UPDATE OR DELETE) MULTI SQL -/*!mycat:datanode=W_TEMP*/UPDATE t_product  SET MODIFY_DATE=?,
IS_DELETE=?,
MODIFY_USER_ID=?,
product_no_customs=?

如截图所示
![image](https://user-images.githubusercontent.com/13345594/132306556-9e90b331-01dd-4e47-94ab-07a84352fd7c.png)

[2021-09-07 08:02] huan415 commented on #4006
数据库url后面加上&tinyInt1isBit=false
或者tinyint(2)

[2021-09-07 08:14] jwangl opened #4008 "mycat 多租户自定义注解 事务报错"
使用mycat租户 自定义注解 提示错误，有什么解决方案吗
org.mybatis.spring.MyBatisSystemException: nested exception is org.apache.ibatis.executor.ExecutorException: Error preparing statement.  Cause: java.lang.UnsupportedOperationException:
 ONLY SUPPORT SAME TYPE (UPDATE OR DELETE) MULTI SQL -
/*!mycat:datanode=W_TEMP*/UPDATE t_product  SET MODIFY_DATE=?,
IS_DELETE=?,
MODIFY_USER_ID=?,
product_no_customs=?

[2021-09-07 08:30] xieshenace commented on #4006
好的好的，谢谢

[2021-09-07 11:30] Tancen commented on #3999
你可以引导，但就像我说的，你别把其他人像傻子一样看待。像国外的项目，开发者提问题，如果他们觉得线索不够清晰，会让开发者提供更详细的线索。而不是像你现在这样，一开始就表示“你连基础概念都不懂”
steata 是属于开源社区，但是是阿里组织的，并且阿里依然在维护，你被吸纳进去，作为维护者，私下里你可以代表你自己，但在这里你代表的是整个团体

[2021-09-07 14:06] stheart commented on #3529
我们服务也用的k8s的service，没有用额外的注册中心，现在发现好像必须得用注册中心？有点麻烦啊，，

[2021-09-08 06:33] hylyLLL commented on #3265
你好，请问解决了，我的seata-server服务器确保是能够与zk服务器通信的，但是seata-server就是不行，TM,RM都可以，就是TC不行

[2021-09-08 06:46] hylyLLL opened #4009 "seata1.4 zk 连接问题"
![image](https://user-images.githubusercontent.com/46893979/132459473-77ee7a27-4174-4662-8028-176039c60d2e.png)
![image](https://user-images.githubusercontent.com/46893979/132459576-6e375425-5ed2-4afd-bdde-9c638f4b7f22.png)
![image](https://user-images.githubusercontent.com/46893979/132459609-2900cab5-c627-4be4-b944-1690c51ed1a9.png)
![image](https://user-images.githubusercontent.com/46893979/1324

[2021-09-08 07:14] hylyLLL commented on #4009
zk和seata-server能够正常运行，全局事务也能够正常运行，但是当zk服务和seata-server不在同一个太服务器上就连接超时，telnet zk的服务器是正常的

[2021-09-08 07:24] #3903 closed

[2021-09-08 10:21] guoyu09403 commented on #3569
启动参数 -h 127.0.0.1 -p 8091 -m db -n 1 -e test 注意 -e test ，会使用registry.config-test文件。

[2021-09-08 10:42] shanglangxin commented on #4003
后续补充：移除插入操作后，仅进行删除操作，删除数据量为6K，依旧出现上述问题

[2021-09-09 08:12] a364176773 commented on #3306
不支持redis-cluster，请使用redis-sentinel或者直接使用单机版主备方案

[2021-09-09 12:30] zhaozhengxin1005 opened #4010 "Shiro注册自定义Realm，导致RM的resourceids为null，没有执行数据源代理，并且必须使用jdk代理"
- [ ] I have searched the [issues](https://github.com/seata/seata/issues) of this repository and believe that this is not a duplicate.

### Ⅰ. Issue Description

![image](https://user-images.githubusercontent.com/44998204/132685183-6c7ef363-8237-4472-b6a4-ae6a0d37ec12.png)
![image](https://user-images.githubusercontent.com/44998204/132685301-e96a95fe-92f3-4eb7-ab81-f6b89d103e07.png)

### Ⅱ. Descri

[2021-09-09 12:33] zhaozhengxin1005 commented on #4010
这种情况，会导致resourceids为null的服务无法回滚事务，undo日志生成了并且自动删除了，但是就是数据没有回滚

[2021-09-09 12:42] a364176773 commented on #4010
试试手动代理,关了自动代理

[2021-09-09 12:53] zhaozhengxin1005 commented on #4010
我用官网提供的手动方式，提示我循环依赖了

[2021-09-09 12:56] zhaozhengxin1005 commented on #4010
![image](https://user-images.githubusercontent.com/44998204/132689831-c849d3c1-84cf-4aa0-a014-2ec1b24d3b67.png)

[2021-09-09 12:58] a364176773 commented on #4010
自动代理有没有关闭，看下你的配置

[2021-09-09 12:59] zhaozhengxin1005 commented on #4010
![image](https://user-images.githubusercontent.com/44998204/132690282-b06bb402-b7a1-432c-98ef-10a9afd29f53.png)

[2021-09-09 13:01] zhaozhengxin1005 commented on #4010
![image](https://user-images.githubusercontent.com/44998204/132690450-57f99e56-7fe9-450c-9ff9-bd1456eab93b.png)

[2021-09-10 02:01] a364176773 commented on #4010
@Primary
    @Bean("dataSource")
    public DataSource dataSource(DataSource 你数据源的beanname) {
    	//AT 代理 二选一
        return new DataSourceProxy(druidDataSource);
        //XA 代理
        return new DataSourceProxyXA(druidDataSource)
    }
关闭自动代理
seata:
  enable-auto-data-source-proxy: false

[2021-09-10 02:11] zhaozhengxin1005 commented on #4010
使用了手动数据源代理，解决了此问题

[2021-09-10 02:11] #4010 closed

[2021-09-10 02:17] Bill-TT commented on #1246
组织：重庆直通物流有限公司
地点：重庆
联系方式：jiangtao@cq.ztil.com.cn
场景：WMS下各微服务模块事务一致性
服务框架：SpringCloud + NACOS
模式：AT
![logo](https://user-images.githubusercontent.com/69186604/132788455-3db8a272-d80f-41bc-917d-c99fd5dfd545.gif)

[2021-09-10 02:26] #4008 closed

[2021-09-10 09:26] treespringace opened #4012 "seata server和client端在读取consul中的k/v超时的问题"
所有的业务服务和seata服务以及注册中心consul都在一个服务器上，读取consul中配置信息能正常读取，但是在下列的环境中就会存在超时的问题。
          业务服务在A服务器中部署且注册中心是consul-01，seata服务也在A服务中部署**但是**注册中心和配置中心连接的是consul-02，会出现下列错误：

1. 此时启动seata服务时日子打印获取store.mode超时
2. 业务服务启动时，获取service.disableGlobalTransaction配置超时
3. 上述两种情况虽然发生了，全局事务依然能够生效
![image](https://user-images.githubusercontent.com/83049927/132832343-de308dbc-f3c4-4797-97c6-784597a3cb3d.png)
![image](ht

[2021-09-10 10:11] a364176773 commented on #4012
检查相应配置中心有没有该dataid

[2021-09-10 10:13] a364176773 commented on #4009
自己写用zkclient写一个对该zk的连接程序放到seata-server在的服务器上试试，源码是标准的zkclient使用方式，建议你去阅读下源码进行进一步排查

[2021-09-11 10:38] Tarrowren commented on #3990
用容器名代替ip地址
[code]
[code]

[2021-09-13 10:05] Tarrowren commented on #2604
在高可用部署时会出现这个问题

[2021-09-14 01:33] gy297879328 opened #4014 "seata框架 是否支持达梦（DM8）数据库"
官网说明 AT模式不支持 达梦，那么TCC模式是否可以实现呢

[2021-09-14 02:11] a364176773 commented on #4014
tcc没问题，at目前有pr可以帮忙一起review或测试

[2021-09-14 02:37] #3989 closed

[2021-09-14 02:38] Dawnxzc commented on #3724
请问解决了吗，我用过1.4.2也会出现这个问题

[2021-09-14 02:44] Dawnxzc commented on #3329
同样遇到这个问题，95%都会报这个错，楼主解决了吗

[2021-09-14 03:06] gy297879328 commented on #4014
pr有链接嘛

[2021-09-14 03:39] slievrly opened #4015 "Wrong configuration file log printing"
- [ ] I have searched the [issues](https://github.com/seata/seata/issues) of this repository and believe that this is not a duplicate.

### Ⅰ. Issue Description

![image](https://user-images.githubusercontent.com/8758457/133191202-c2d4c736-0414-4513-a17e-93a1104e58b7.png)

### Ⅱ. Describe what happened

  If there is an exception, please attach the exception trace:

[code]

### Ⅲ. Describe what yo

[2021-09-14 03:47] a364176773 opened #4016 "spring bean auto-injection is supported when spi is extended"
## Why you need it?
 Is your feature request related to a problem? Please describe in details

## How it could be?
A clear and concise description of what you want to happen. You can explain more about input of the feature, and output of it.

## Other related information
Add any other context or screenshots about the feature request here.

[2021-09-14 03:49] a364176773 commented on #3883
检查xid传递和数据源代理

[2021-09-14 03:56] a364176773 commented on #4014
https://github.com/seata/seata/pull/3672

[2021-09-14 05:06] #3980 closed

[2021-09-14 06:27] #4002 closed

[2021-09-14 08:12] #4015 closed

[2021-09-14 09:32] #3109 closed

[2021-09-14 15:03] #3829 closed

[2021-09-14 17:21] slievrly opened #4019 "Configuration and registry center related optimizations"
- [x] I have searched the [issues](https://github.com/seata/seata/issues) of this repository and believe that this is not a duplicate.

### Ⅰ. Issue Description

Configuration and registry center related optimizations

-  *Properties field is missing

-  *Properties field default value

-  Camel case convert（application.example.yml 、*Properties、*Configuration）

- *Configuration mock test (eg:  get

[2021-09-15 07:59] Dawnxzc opened #4020 "RM执行本地事务抛出异常之后，没有执行清除xid，导致线程一直绑定着错误请求的xid"
- [ ] I have searched the [issues](https://github.com/seata/seata/issues) of this repository and believe that this is not a duplicate.

### Ⅰ. Issue Description
AT模式
RM执行本地事务操作时出现异常，发现 RootContext的CONTEXT_HOLDER内线程对应的XID没有被清除，
跟踪发现没有执行以下两个地方的清除xid代码：
· io.seata.integration.http.TransactionPropagationInterceptor#postHandle
· io.seata.integration.http.HttpHandlerExceptionResolver#doResolveException

[2021-09-15 08:18] #3987 closed

[2021-09-15 08:19] #4019 closed

[2021-09-16 05:34] Dawnxzc commented on #4020
目前通过在 @RestControllerAdvice 异常处理内，发现异常时手动执行的XID清除 暂时解决了这个问题：
`@ExceptionHandler(Throwable.class)
@ResponseStatus(HttpStatus.OK)
public R handleError(Throwable e) {
    log.error("服务器异常", e);
           HttpServletRequest request = ((ServletRequestAttributes) Objects.requireNonNull(RequestContextHolder.getRequestAttributes())).getRequest();
        if (RootContext.inGlobalTransaction()) {

[2021-09-16 13:20] yangqingwen200 commented on #2954
win7在可以修改conf/logback.xml中appender name="CONSOLE"的charset, 改为GBK(和dos窗口编码格式一致);
win10可以修改powershell的窗口编码格式, 改成UTF-8;

[2021-09-17 05:48] vikash193 commented on #3492
Any solution for this?.

[2021-09-17 06:28] slievrly opened #4024 "Potential database resource leak"
- [ ] I have searched the [issues](https://github.com/seata/seata/issues) of this repository and believe that this is not a duplicate.

### Ⅰ. Issue Description

![image](https://user-images.githubusercontent.com/8758457/133734831-3c021ca5-ae92-47af-8b96-f750d4d8ca61.png)

https://github.com/seata/seata/blob/b71ba74a4123f1771d62e5391d4670fec7d6fb87/rm-datasource/src/main/java/io/seata/rm/datasourc

[2021-09-17 08:22] zjcnb opened #4026 "Official website format problem"
![image](https://user-images.githubusercontent.com/33742097/133749770-d09f84e6-50ad-4f4c-b46f-310d43baba26.png)

[2021-09-17 08:23] lvekee commented on #4026
刷新一下

[2021-09-17 08:23] zjcnb commented on #4026
还是不可以呀

[2021-09-17 08:26] zjcnb commented on #4026
清除浏览器缓存可以了，thx

[2021-09-17 08:26] #4026 closed

[2021-09-17 09:15] skywater commented on #3096
一样的问题，没解决方案为什么关了？

[2021-09-18 03:08] airdrop000001 commented on #2767
请问一下您解决这个问题了吗？我用的jdk8，seata版本0.9.0

[2021-09-18 06:37] mmhuia commented on #2767
已解决，升级seata版本

[2021-09-18 07:56] #3844 closed

[2021-09-19 11:39] a364176773 opened #4028 "in the development version,unregister service fails"
- [ ] I have searched the [issues](https://github.com/seata/seata/issues) of this repository and believe that this is not a duplicate.

### Ⅰ. Issue Description
![lALPDiCpwRkCepXNASjNBxg_1816_296](https://user-images.githubusercontent.com/19943636/133924567-b6d69972-6902-4e36-b0ed-dd954a042586.png)
[code]
1.5.0-snapshot下,seata-server是利用applicationcontext获取配置,而runtime.shutdownhook是异步进行,导致spring容器关闭

[2021-09-19 11:52] lvekee commented on #4028
Please assign it to me

[2021-09-19 13:11] #3135 closed

[2021-09-20 06:41] Pinocchio2018 commented on #4028
@a364176773 hello大佬，我问问，该如何正确复现这个报错呢？

我的测试步骤：
1. 切到最新版 develop
![image](https://user-images.githubusercontent.com/24909409/133963929-21fdcc09-a197-451a-8cc3-f57128dec0d3.png)

2. 本地使用nacos v1.4.2启动
![image](https://user-images.githubusercontent.com/24909409/133964097-239836bd-3d40-4859-a22f-8ded592dade0.png)

3. 修改applicationyml
![image](https://user-images.githubusercontent.com/24909409/13396425

[2021-09-20 07:44] Pinocchio2018 commented on #4028
我想说下我的看法，大家看看对不对。

目前发生这个报错的原因是，销毁的时候交给了 jvm自带的`ShutdownHook`来处理了，导致轮到`ShutdownHook`做销毁的时候，spring context已经关闭了。

是不是只要把`AbstractNettyRemotingServer`的生命周期，交给spring来管理，就不会发生这个报错了啊？

[2021-09-20 12:00] a364176773 commented on #4028
就是这样的步骤，说明不是必现，因为这个shutdown是异步的

[2021-09-20 12:05] a364176773 commented on #4028
可以这么说，应该用spring的DisposableBean来触发，但是切记不要影响rm 和 tm的shut down hook正常运行

[2021-09-22 02:11] xuande opened #4029 "In the case of multiple networks, does support select an ip address by `nacos.inetutils.preferred-networks`"
## Why you need it?
Seata注册到nacos中，当存在多网卡时会随机选择一个，是否支持通过设置`nacos.inetutils.preferred-networks`，选择某个某个网卡上的IP地址。

## How it could be?
A clear and concise description of what you want to happen. You can explain more about input of the feature, and output of it.

## Other related information
Add any other context or screenshots about the feature request here.

[2021-09-22 02:46] pikachulight opened #4030 "seata 使用 mybatis-plug 时，批量插入无法返回主键，不加全局事务的时候正常"
- [ ] I have searched the [issues](https://github.com/seata/seata/issues) of this repository and believe that this is not a duplicate.

### Ⅰ. Issue Description

seata 使用 mybatis-plug 时，批量插入无法返回主键，不加全局事务的时候正常

### Ⅱ. Describe what happened

### Ⅲ. Describe what you expected to happen

增加了全局事务注解后，可以正常拿到自增长的主键id

### Ⅳ. How to reproduce it (as minimally and precisely as possible)

pg 数据库，mybatis-plu

[2021-09-22 02:50] a364176773 commented on #4030
Q: 10.为什么mybatis没有返回自增ID?
A: 方案1.需要修改mybatis的配置: 在@Options(useGeneratedKeys = true, keyProperty = "id")或者在xml中指定useGeneratedKeys 和 keyProperty属性
方案2.删除undo_log表的id字段

[2021-09-22 02:50] #4030 closed

[2021-09-22 02:52] pikachulight commented on #4030
已指定useGeneratedKeys 和 keyProperty属性，但是无效

[2021-09-22 02:54] pikachulight commented on #4003
增加心跳时间应该可以解决

[2021-09-22 03:21] AudiVehicle opened #4031 "Seata AT模式 如果操作的主键id，回滚日志要如何生成"
读了下seata的官方文档，对于undo_log的生产有一个疑问，阐述如下：

对于正常的update sql，我看官方文档写的是，先根据where 条件找到数据「前镜像」，然后执行sql，然后根据数据的主键id找到数据的「后镜像」

那，如果刚好业务sql操作的就是主键id呢？比如 update xx set id=15 where id=10  这种要如何生成undo_log?

谢谢

[2021-09-22 03:26] a364176773 commented on #4031
不允许修改主键值

[2021-09-22 03:26] #4031 closed

[2021-09-22 06:44] AudiVehicle commented on #4031
明白  3q

[2021-09-22 10:10] zhangmuwuge commented on #3018
打断点到参与者？我打断点的时候没有看到数据。。。

[2021-09-23 09:26] xuehairui opened #4035 "Springboot2.3.4 postgresql mybatis-plus3.2使用seta1.4.2 AT模式时无法获取自增id"
Springboot2.3.4 postgresql mybatis-plus3.2使用seta1.4.2 AT模式时无法获取自增id
尝试使用seata常见问题中的2种方式修复,但是发现都不生效 调用save方法仍然获取不到id

[2021-09-24 02:50] zhouxiangfeng opened #4036 "seata1.4.2 版本 有个bug，客户端启动时候影响了spring security oauth2的bean初始化"
- [ ] I have searched the [issues](https://github.com/seata/seata/issues) of this repository and believe that this is not a duplicate.

### Ⅰ. Issue Description
原因：seata1.4.2中io.seata.spring.utilsProxyUtils#findTargetSpringClass中获取代理对象的方法targetSource.getTargetClass()引起的。

在1.4.1 之前，对于TargetSource这个对象， 认为就是静态对象，所以直接取的targetSource.getTargetClass()

在1.4.2版本，又完全认为是一个动态对象，而这里的问题就是获取一个被代理的动态对象时，实际上是不能获

[2021-09-24 02:56] zhouxiangfeng commented on #4036
从这个博哥中取得的灵感https://www.codeleading.com/article/67745838705/

[2021-09-24 03:06] a364176773 commented on #4036
已经在develop修复

[2021-09-24 03:06] #4036 closed

[2021-09-24 07:29] a364176773 commented on #4020
问题存在，谢谢反馈，我们将在1.5进行修复

[2021-09-24 07:33] a364176773 commented on #4020
如果你是spring cloud项目，请看看com.alibaba.cloud.seata.web.SeataHandlerInterceptor的afterCompletion有没有执行

[2021-09-24 07:39] lvekee commented on #4020
please assign it to me

[2021-09-24 07:50] shanglangxin commented on #4003
在 seata 文档说明中没有提供心跳时间设置的字段。增加心跳时间 是指哪个字段呢？

[2021-09-24 08:24] #3997 closed

[2021-09-24 08:25] #4012 closed

[2021-09-24 08:36] a364176773 commented on #3942
数据源代理datasourceproxy=at
数据源代理datasourceproxyxa=xa
编写json调用编排=saga
@TwoPhaseBusinessAction = tcc

[2021-09-24 08:36] #3942 closed

[2021-09-24 08:43] zhangqingshan-1 opened #4037 "在同一个项目里，XA与TCC模式是否可同时使用?"
如题，在同一个项目里，XA与AT模式是否可同时使用，若支持混用，则要注意哪些问题，有相关文档没有呢？若不支持，未来有支持打算没有，大概何时能发布？麻烦告知下，多谢啦！

[2021-09-24 08:53] a364176773 commented on #4037
可以，但是xa不允许资源重入，如果数据被tcc先改，xa再改没问题，如果xa改了想用tcc在预留资源啥的就不行了

[2021-09-24 08:53] #4037 closed

[2021-09-25 05:45] #4020 closed

[2021-09-25 11:50] caohdgege commented on #4003
6000好像数据量也不大，如果方便的话贴一下你写的关键代码(伪代码)。还有你的Seata的版本和store.db.url配置(可以把host, db_name, port脱敏，其他的不要改)。

[2021-09-25 14:07] SitD4C commented on #3884
同遇到这个问题，lz解决了吗，也是1.4.0。照着1.3.0的视频教程写的

[2021-09-26 00:54] xianaofei opened #4040 "@GlobalTransactional在1.1.0版本开始，不启动seata-server服务也能进行回滚？"
@GlobalTransactional
    public void createOrder(OrderCreateDTO orderCreateDTO) {
        // 扣库存
        int storageStatus = orderMapper.updateStorageCount(orderCreateDTO.getCount(), orderCreateDTO.getCommodityCode());
        if (storageStatus == 0) {
            throw new BaseException("库存不足");
        }

        // 生成订单
        StorageDO commodity = orderMapper.getStorageByCommodityCode(orderCr

[2021-09-26 01:52] a364176773 commented on #4040
出现幻觉了吧，哪里用了切点表达式的事务，本地事务给回滚了吧

[2021-09-26 01:52] #4040 closed

[2021-09-26 01:53] zhangqingshan-1 opened #4041 "XA模式是否支持达梦数据库?"
如题，若支持，需要额外修改什么配置吗？若不支持，未来有计划何时会支持吗？多谢！

[2021-09-26 01:55] a364176773 commented on #4041
不支持，目前没有计划，AT模式已有达梦pr，可以帮忙一起测试和review下

[2021-09-26 03:06] shanglangxin commented on #4003
部分代码和配置已在问题描述模块补充

[2021-09-26 03:27] pikachulight commented on #4003
我之前是改的源码重新编译的

[2021-09-26 03:55] caohdgege commented on #4003
![image](https://user-images.githubusercontent.com/22959373/134792873-db40a182-3ffc-418c-a255-9f1b5903f4c5.png)
url加上这一段再试试。

原因见官网参数配置-附录7
http://seata.io/zh-cn/docs/user/configurations.html

[2021-09-26 03:55] #4003 closed

[2021-09-26 03:56] shanglangxin commented on #4003
好的 我后续尝试一下

[2021-09-26 06:54] xianaofei commented on #4040
没有使用本地事务，也没有AOP。请各位换版本自测一下试试。

[2021-09-26 08:40] AndroidMilk commented on #3985
我的mac上执行了 也没有生成配置文件

[2021-09-26 08:40] AndroidMilk commented on #3985
nacos版本2.0.3

[2021-09-26 08:58] zhangqingshan-1 commented on #4041
好的，谢谢🙏

[2021-09-26 08:58] #4041 closed

[2021-09-26 10:09] #4028 closed

[2021-09-26 13:22] slievrly commented on #4029
@xuande #3886

[2021-09-27 01:34] #4024 closed

[2021-09-27 08:04] sephiroka commented on #2417
hibernate_sequence is used to add primary key for other table ,it doesen't has a primary key.
Is there a way to exclude some table when use seata and jpa.

[2021-09-27 09:10] pikachulight commented on #4035
我也遇到这个问题，很奇怪，前后镜像的构建是可以拿到主键id的。但是mybatis-plugs就是拿不到

[2021-09-27 09:21] delosEco commented on #3835
![image](https://user-images.githubusercontent.com/30037372/134880571-be443882-f4c4-4187-aeef-21f4ac5c5187.png)
这个TransactionContextProviderFilter如果从RootContext的threadLocal中获取了对应的TX_XID，会出现这个不符合sofarpc的key规则的错误。

[2021-09-27 10:14] Been24 opened #4044 "registry.conf not support in k8s 1.22.2"
- [ ] I have searched the [issues](https://github.com/seata/seata/issues) of this repository and believe that this is not a duplicate.

### Ⅰ. Issue Description

### Ⅱ. Describe what happened

  If there is an exception, please attach the exception trace:

[code]

### Ⅲ. Describe what you expected to happen

### Ⅳ. How to reproduce it (as minimally and precisely as possible)

1. xxx
2. xxx
3. xxx

[2021-09-28 01:24] xuehairui commented on #4035
可以分享下你是怎么解决的嘛

[2021-09-28 01:36] #3807 closed

[2021-09-28 07:07] MarlboroBoy commented on #2569
then sama problem and  ok;

[2021-09-28 10:26] sephiroka opened #4046 "1.4.2: xid不为空，分支事务不回滚，显示unbind xid"
- [ ] I have searched the [issues](https://github.com/seata/seata/issues) of this repository and believe that this is not a duplicate.

### Ⅰ. Issue Description
服务A通过feign调用服务B，继承feign的RequestInterceptor，传递xid
服务Blog显示绑定xid，服务A正常回滚，但是服务B就是不回滚，只显示unbind xid
seata.version:1.4.2

服务B相关log
2021-09-28 18:14:53.938 DEBUG [jpa,461465d9a733f21b,461465d9a733f21b,true] 2664 --- [nio-8803-exec-3] .s.i.h.Tran

[2021-09-28 10:33] a364176773 commented on #4046
![image](https://user-images.githubusercontent.com/19943636/135071244-3cb02858-d79c-4c1c-93a3-a484a087be6c.png)

[2021-09-28 10:33] #4046 closed

[2021-09-28 11:14] xilou31 opened #4047 "Maven compile fail because of druid version"
- [x] I have searched the [issues](https://github.com/seata/seata/issues) of this repository and believe that this is not a duplicate.

### Ⅰ. Issue Description
编译过程中 (mvn clean package) ，发现使用Druid模块的都编译不过。
去druid搜相关问题，发现可能是版本原因。
https://github.com/alibaba/druid/issues/4309
Seata因为没有指定版本，因此使用的是最新版1.2.6。
将druid制定版本为1.2.5即可编译通过。

### Ⅱ. Describe what happened

  If there is an exception, please atta

[2021-09-28 11:38] a364176773 commented on #4047
mvn -Prelease-seata -Dmaven.test.skip=true clean install -U

[2021-09-28 11:38] #4047 closed

[2021-09-28 12:12] #4009 closed

[2021-09-28 12:16] hylyLLL commented on #4009
我写了一个初始化seata配置参数到zookeeper的小应用是可以成功的

[2021-09-28 13:48] caohdgege commented on #4035
提供一下表结构，复现demo，pg版本等等

[2021-09-28 14:48] caohdgege opened #4048 "optimize DurationUtil"
the code in DurationUtil can be optimize.
1. should support the `ISO-8601` format,  like `P1DT1M` means 1day and 1min.
2. unified the return value of parse when input is not expect.
3. other optimize

if someone wanna optimize it, please leave a message below

[2021-09-28 14:48] lvekee commented on #4048
please assign it to me

[2021-09-29 02:27] xuejmnet opened #4049 "求解有个疑问seata的回滚出现ABA问题的话有解决方案吗"
求解有个疑问seata的回滚出现ABA问题的话有解决方案吗

[2021-09-29 02:28] xuejmnet commented on #4049
seata的回滚是根据undolog来进行数据校验回滚如果回滚的时候出现了aba问题校验后置镜像一样是否会有问题

[2021-09-29 02:31] pikachulight commented on #4035
https://github.com/pikachulight/seate-bug-fix 相关版本以及初始化sql都在这个仓库列出

[2021-09-29 02:34] pikachulight commented on #4035
具体表现为加了全局事务的主键无法返回，没有全局事务的主键正常返回

[2021-09-29 02:44] Pinocchio2018 commented on #4049
你好，seata AT模式会有全局锁的。不会发生aba问题

[2021-09-29 02:44] xuejmnet commented on #4049
谢谢

[2021-09-29 02:44] #4049 closed

[2021-09-29 02:52] a364176773 commented on #4049
不会，根据branch下发，branch的表是有时间戳字段的，根据你注册的时候按顺序回滚，如果出现不按顺序，请看下你的branch table的表是否datetime字段精度是否设置

[2021-09-29 02:54] xuejmnet commented on #4049
因为有可能会出现对应表不需要参与全局事务的情况

[2021-09-29 06:41] pikachulight commented on #4035
seata-1.42特有的bug,切成1.41就可以了

[2021-09-29 09:21] VIP-wth commented on #2604
朋友，怎么解决的？能说说吗？

[2021-09-30 04:10] benkeyxx opened #4050 "java.time.DateTimeException: Invalid value for MonthOfYear (valid values 1 - 12): 0"
branchRollback failed. branchType:[AT], xid:[10.0.0.165:8091:1729553048473914718], branchId:[1729553048473914725], resourceId:[jdbc:mysql://10.0.0.xxx:xxx/xxx], applicationData:[null]. reason:[Branch session rollback failed and try again later xid = 10.0.0.xxx:8091:1729553048473914718 branchId = 1729553048473914725 java.time.DateTimeException: Invalid value for MonthOfYear (valid values 1 - 12): 0

[2021-09-30 06:25] yulinfu-design opened #4051 "在saga模式下缺乏spring boot的auto configuration"
建议以后加上不然用户还得自定义如下的saga的相关配置
![image](https://user-images.githubusercontent.com/74909486/135398721-92402aa7-9b55-40ee-bc41-d5e7abedea7d.png)

[2021-09-30 06:28] wangliang181230 commented on #4051
https://github.com/seata/seata/pull/2838
PR已存在，但未合并

[2021-09-30 07:49] #3273 closed

[2021-09-30 07:49] #4051 closed

[2021-10-01 01:27] xuande commented on #4029
Thanks

[2021-10-01 01:27] #4029 closed

[2021-10-05 14:43] a364176773 opened #4054 "optimize NetUtil#getLocalAddress0"
- [ ] I have searched the [issues](https://github.com/seata/seata/issues) of this repository and believe that this is not a duplicate.

### Ⅰ. Issue Description
![lALPDiQ3QGKjS6DNASnNBDY_1078_297](https://user-images.githubusercontent.com/19943636/136045337-68ffbfe4-7175-4d2d-9cb0-6587d20df879.png)

![lALPDhmOxHRGjCJYzQbS_1746_88](https://user-images.githubusercontent.com/19943636/136045362-80132a

[2021-10-06 03:12] lvekee commented on #4054
please assign it to me

[2021-10-09 06:14] lihongjielive opened #4057 "seata支持dynamic-datasource动态数据源切换吗？"
请问seata支持 com.baomidou.dynamic-datasource 吗？如果支持，应该怎么做动态数据源切换

[2021-10-09 06:16] a364176773 commented on #4057
支持，建议去看dynamic-datasource的文档和示例

[2021-10-09 06:16] #4057 closed

[2021-10-09 06:19] a364176773 commented on #4050
jdk什么版本

[2021-10-09 07:23] 1254744129 opened #4058 "想请问一下seata回滚失败，一直在重试，我该如何及时获取到此时的状态并做出相应的处理."
## Why you need it?

## How it could be?
           今天测试demo的时候发现（使用AT模式）
一阶段   a服务添加一条记录成功   此时我手动去修改a服务的数据库   b服务添加一条记录失败
二阶段  开始回滚  发现 a服务的数据库和undo_log的镜像数据不一致    java控制台一直打印 二阶段回滚重试的日志
请问一下，我该如何来查看哪些全局事务出问题了呢？

## Other related information
Add any other context or screenshots about the feature request here.

[2021-10-09 07:33] 1254744129 commented on #4058
@a364176773  你好，我就是特想知道字段的含义，但是官网上并没有发现.    global_table , branch_table , lock_table 这三张表的sql我也是百度的，官网上 我只找到了undo_log的sql语句。能否给一个连接呢，谢谢啦

[2021-10-09 07:53] #4058 closed, assigned to nobody

[2021-10-09 07:59] 1254744129 commented on #4058
好的，我再看一遍。谢谢了

[2021-10-09 08:09] a364176773 commented on #4058
官网的建表语句是在新人文档，那块有说建表语句放在了哪，有个超链接可以点击的

[2021-10-09 08:17] uliyanjun opened #4059 "AT 模式下将来会支持自定义回滚策略么"
## Why you need it?
 Is your feature request related to a problem? Please describe in details
在我们业务中，不是所有所有场景都需要分布式事务。例如，在分布式事务分支 A 进行了一笔扣款，然后另一个本地事务进行了另一笔扣款（修改同一个字段），在分布式事务分支 B 发生异常。分布式事务回滚会失败，并需要人工介入处理。全部业务加 @GlobalTransactional 可以避免这个问题，但无疑会降低不必要的性能

## How it could be?
A clear and concise description of what you want to happen. You can explain more about input of the feature, and output of it.

[2021-10-09 12:39] nimo10050 commented on #3585
我也发现了同样的问题,  不需要解决吗?  是因为问题出现概率小, 数据量不会太多吗?

[2021-10-09 12:54] 2XU12345 opened #4060 "Seata1.4.2 + nacos 连接远程数据库"
seata连接远程数据库总是有问题
![image](https://user-images.githubusercontent.com/67616810/136658601-46297131-cf92-423b-b236-588ec4004a43.png)
上面那段JDBC代码拿到IDEA里面测试能通过，但是seata会连接错误 会一直连本地数据库
nacos里面的数据源地址改成本地就不会报错
![image](https://user-images.githubusercontent.com/67616810/136658687-fe0a97f8-bfa0-45f5-9ae4-efb6d3fdd05c.png)

[2021-10-09 13:27] #4060 closed, assigned to nobody

[2021-10-09 13:50] a364176773 commented on #3585
先释放锁才会改为异步，没问题

[2021-10-09 13:53] #4059 closed

[2021-10-09 16:53] nanxia990105 opened #4061 "seata server显示回滚成功 控制台也显示回滚成功 但实际并没有回滚"
springboot 2.3.3 配置了本地文件启动 seata控制台也都收到了生产者的注册，消费者也注册到seata server
![image](https://user-images.githubusercontent.com/64909808/136667193-5c10a3e4-1ff9-4365-8956-6aba4cd26af2.png)

但是实际并没有回滚 的操作 即使按照文档里面的编码而不是注解也是同样的消费者控制台与seata server控制台都是已经回滚或回滚成功的标识

![IV)~WV` (C~LAW)QT6`E$G9](https://user-images.githubusercontent.com/64909808/136667268-7e0bfdc1-dc0c-42c5-9486-48d9ae0e34d4.png)
并且在官方群说的数据库代理和xid

[2021-10-09 17:13] a364176773 commented on #4061
既然在群里就看公告教程

[2021-10-09 17:13] #4061 closed

[2021-10-09 17:22] nanxia990105 commented on #4061
群里教程，公告都是正常流程，我也是看文档流程搭建，现在是找不到问题的方向，是配置还是个人代码方向，望大佬解答一下

[2021-10-10 04:00] a364176773 commented on #4061
debug connection#proxy registry如果有进, 并且成功注册上肯定能回滚

[2021-10-10 13:28] nimo10050 opened #4063 "AT 模式下, seata-server 存在 global_table 状态为 committed 的数据无法删除的情况"
### Issue Description

AT 模式下, seata-server 处理 **全局事务提交** 时,

`io.seata.server.session.SessionHelper#endCommitted`

执行到如下步骤时 :

[code]

如果 **seata-server** 进程异常终止, 会导致 global_table  **本次全局事务** 的数据状态一直为 **committed**, 并且无法删除.

### Environment:

- JDK version : 1.8
- Seata version:  1.4.1
- OS : macOS

[2021-10-10 13:57] a364176773 commented on #4063
该问题是已知问题,此时事务已经全部提交,不删除影响不大,所以一直没有去处理

[2021-10-10 14:04] a364176773 commented on #4063
建议你看下 sessionholder#reload 再tc重启时会进行删除,你说的应该是change后,end会进行删除globalsession,此时数据库宕机了,tc还在运行不会进行补偿这此未删除的行为

[2021-10-10 14:42] nimo10050 commented on #4063
sessionholder#reload 的代码(seata-server-1.4.1)  我看了,  tc 重启时, 不会删除状态 **committed** 的数据.
 并且 tc 重启后一段时间, 我也观察了数据库的数据,  确实没删掉.

[2021-10-11 08:05] lihongjielive opened #4066 "seata回滚时一直retryrollback"
seata回滚时一直retryrollback：Branch Rollbacked result: PhaseTwo_RollbackFailed_Retryable [io.seata.rm.AbstractRMHandler]

[2021-10-12 03:11] realchencom opened #4067 "方法上加上注解，日志提示Transaction not enabled"
@GlobalTransactional后
调用savebatch
Begin new global transaction [192.168.58.133:8091:3395895519453825824]
.r.d.c.s.i.DoubleBallComputerServiceImpl : 开始执行方案，id==>>101731267527315456
.r.d.c.s.i.DoubleBallComputerServiceImpl : SqlSession [org.apache.ibatis.session.defaults.DefaultSqlSession@6354560b] **### Transaction not enabled**
 .r.d.c.s.i.DoubleBallComputerServiceImpl : 方案计算完毕，id==>>1017312675273

[2021-10-12 03:23] #4067 closed

[2021-10-12 03:23] #4066 closed, assigned to nobody

[2021-10-12 06:40] realchencom opened #4068 "AT 模式下 ，注解方式使用， Transaction not enabled 事务未开启，求助？"
TransactionManager Singleton io.seata.tm.DefaultTransactionManager@24c484f0
2021-10-12 11:07:27.771  INFO 21712 --- [ublicExecutor_4] i.seata.tm.api.DefaultGlobalTransaction  : Begin new global transaction [192.168.58.133:8091:3395895519453825824]
2021-10-12 11:07:27.773  INFO 21712 --- [ublicExecutor_4] .r.d.c.s.i.DoubleBallComputerServiceImpl : 开始执行方案，id==>>101731267527315456
2021-10-12 11:07:35

[2021-10-12 06:45] #4068 closed, assigned to nobody

[2021-10-12 09:54] lcmvs opened #4069 "XA模式，分布式事务回滚成功，实际上分支事务未回滚"
# XA模式，分布式事务回滚成功，实际上分支事务未回滚

[code]

## 分支日志

[code]

## server日志

[code]

[2021-10-12 12:04] zhangqingshan-1 opened #4070 "AT模式下，使用mybatis-plus的ASSIGN_ID类型主键，在回滚时出错"
- [ ] I have searched the [issues](https://github.com/seata/seata/issues) of this repository and believe that this is not a duplicate.

### Ⅰ. Issue Description
seata使用的是最新develop分支代码，在AT模式下，使用mybatis-plus的ASSIGN_ID类型主键，在回滚时出错

### Ⅱ. Describe what happened

[code]

### Ⅲ. Describe what you expected to happen
跟踪源码发现在执行 BaseTransactionalExecutor 类的
[code]
出错原因是：
上述源码方法中 columns.addAll(pkColumnNameL

[2021-10-12 12:54] zhangqingshan-1 commented on #4070
已自行将代码合并到最新的develop分支使用的，跟了代码，问题比较明显应该与数据库无关，后续有问题发现会反馈到pr的

[2021-10-12 13:21] caohdgege opened #4071 "optimize compressUtil"
## Why you need it?
 Is your feature request related to a problem? Please describe in details
1. io.seata.common.util.CompressUtil 和 io.seata.compressor.gzip.GzipCompressor 重合了，CompressUtil可以直接去掉
2. CompressUtil比GzipCompressor多了个isCompressData的方法，有两种方案，a. 为Compressor的每个实现都添加isCompress的方法，然后直接把使用了isCompressData的地方迁移过去；b. 把用到了isCompressData的地方优化掉，可以把根据isCompressData判断数据是否被加密，改成加一个字节直接保存数据是否已加密会更好。

[2021-10-13 02:45] lihongjielive opened #4072 "seata在yml文件中和baomidou配合使用时数据库切换失败"
## Why you need it?
 Is your feature request related to a problem? Please describe in details
seata在yml文件中和baomidou配合使用时数据库切换失败，导致持续性提示retrycallback

## How it could be?
A clear and concise description of what you want to happen. You can explain more about input of the feature, and output of it.
使用@DS注解切换数据源

## Other related information
Add any other context or screenshots about the feature reque

[2021-10-13 04:00] a364176773 commented on #4072
是否有资源重入，比如update 数据源1的某个记录，然后切换数据源，又切回来1，又进行了update？
如果有类似行为请检查tc branch table里的datetime字段精度是否设置为8，自己对比下最新seata仓库script文件夹里的tc建表语句，和本地undolog语句，进行校准
如果没有，就保证你所有写的入口被@globaltransational包裹进入，否者就可能出现被没有@globaltransational的地方改动，导致脏写

[2021-10-13 08:26] lcmvs opened #4073 "XA模式资源悬挂问题"
- [ ] I have searched the [issues](https://github.com/seata/seata/issues) of this repository and believe that this is not a duplicate.

### Ⅰ. Issue Description
XA模式资源悬挂问题

### Ⅱ. Describe what happened

XA模式下，TC日志分布式事务回滚成功，实际上数据库中的分支事务未回滚，导致资源永远无法处理。

### Ⅲ. Describe what you expected to happen
TC日志记录的分布式事务回滚成功，数据库中的分支事务也应该回滚成功。

### Ⅳ. How to reproduce it (as minimally and precisely as possible)

[2021-10-13 09:34] a364176773 commented on #3938
之前我看错了代码，client的连接存储是在end和prepare之后进行的，所以存在end之前如果下发就会出现找不到xid无法回滚成功

[2021-10-14 03:07] Liubey opened #4077 "Is now have Grafana dashboard to import?"
## Why you need it?

## How it could be?
I see,seata can expose metric to prometheus,Is Is now have Grafana dashboard to see those mertic data?

## Other related information
Add any other context or screenshots about the feature request here.

[2021-10-14 03:12] a364176773 commented on #4073
不是很明白你说的rollback被锁住，能发下你的流程吗？

[2021-10-14 03:22] a364176773 commented on #4073
你能写成事务A此时的行为，跟事务B的行为， 时间段内在各自在做什么行为吗

[2021-10-14 03:23] a364176773 commented on #4073
seata 在setautocommit的时候会直接进行start，你如何做到先select for update 在进行xa start的？

[2021-10-14 03:36] a364176773 commented on #4073
原来如此，这样我就明白了，你看下现在是不是不会发生悬挂了，我又提交了个代码，让xaconnection先start再进行检测是否中断，这样在start后可以正常rollback，否者在框架层调用connection.rollbakc执行end的时候可能会报错

[2021-10-14 03:59] a364176773 commented on #4073
XAER_RMFAIL 应该是由于没有start的时候直接进行了rollback导致的，我现在改成了先start再检测，由于XAER_RMFAIL状态tc会进行重试，所以等到start后，要么是本地提前终止，要么是rollback 成功

[2021-10-14 04:00] a364176773 commented on #4073
帮忙再多验证一些悬挂的场景，比如end后 prepare前， end前 start后，start前这样，谢谢

[2021-10-14 04:18] ali13378510bu opened #4078 "关于seata使用场景的疑问,单库场景下是否应该避免使用seata"
请问一下 我们的项目是单库的架构，因为业务逻辑分割成多个微服务，在实现某些逻辑时涉及到链式微服务调用，从系统架构上来看我们是应该使用seata来实现分布式事物，还是应该将代码移植到这些微服务中，这样就可以避免使用分布式事物。您可以给出一些意见么，感谢。

在我看来：分布式事物回滚是有失败的可能，所以从系统可用性来看应该应该避免使用seata。 但是从微服务的设计上来看，重复的逻辑使用远程调用的方式显然更合理。

[2021-10-14 05:34] #4078 closed, assigned to nobody

[2021-10-14 06:21] lcmvs commented on #4073
不是的，XAER_RMFAIL是因为start之后没有end，就直接执行了rollback。
![image](https://user-images.githubusercontent.com/29827967/137262744-a705eef4-2886-4e5f-ad1c-460dbcc80b66.png)

[2021-10-14 06:25] a364176773 commented on #4073
我知道，所以我说XAER_RMFAIL的时候tc是会重试下发的rm的，而如果是XAER_NOTA，会在本地缓存状态，提前终止业务线程的connection操作

[2021-10-14 06:38] #4072 closed, assigned to nobody

[2021-10-14 06:45] pikachulight commented on #4035
我上面有复现demo的，https://github.com/pikachulight/seate-bug-fix

[2021-10-14 08:51] a364176773 commented on #4073
好的，非常感谢，有问题欢迎继续反馈

[2021-10-15 04:17] Walter-DEL opened #4082 "Docker部署Seata指定SEATA_IP为公网ip,SEATA_CONFIG_NAME也制定配置文件的位置，为什么还是注册不上Nacos"
命令：docker run --name seata-server \
-p 8091:8091 \
-e SEATA_IP=公网的ip \
-e SEATA_PORT=8091 \
-e SEATA_CONFIG_NAME=file:/root/seata-config/registry \
-v /root/seata-config:/root/seata-config  \
-d seataio/seata-server
但是1.3.0版本的就可以注册到nacos中

[2021-10-15 08:55] Walter-DEL commented on #4082
docker部署

[2021-10-15 09:27] hujiang75277381 opened #4083 "nacos client 初始化了2次,请大佬帮忙看看"
引入nacos相关的jar：

        <dependency>
            <groupId>io.seata</groupId>
            <artifactId>seata-spring-boot-starter</artifactId>
        </dependency>
        <dependency>
            <groupId>io.seata</groupId>
            <artifactId>seata-all</artifactId>
        </dependency>

        <dependency>
            <groupId>com.alibaba.boot</groupId>
            <artifactId>nacos-config-s

[2021-10-15 09:51] a364176773 commented on #4083
com.alibaba.nacos.client.naming.core.PushReceiver#PushReceiver 被调用了2次 去问nacos社区
seata本身用nacos做注册中心和配置中心的话就会初始化nacos的组件

[2021-10-18 02:18] whxxxxx opened #4087 "请教，XA模式无法回滚"
数据源代理AT模式可以回滚，改为XA就无法回滚。seata-server有日志rollback success，但是实际数据库中没回滚

@Bean("dataSourceProxy")
    public DataSource dataSource(DruidDataSource druidDataSource) {
        // DataSourceProxy for AT mode
//         return new DataSourceProxy(druidDataSource);

        // DataSourceProxyXA for XA mode
        return new DataSourceProxyXA(druidDataSource);
    }

io.seata.server.coordinator.DefaultCore

[2021-10-18 02:24] a364176773 commented on #4087
你关掉自动代理了没？如果你是1.4.2，你可以自动代理为xa，把手动代理关了，详细看script文件夹里的client的properties或yaml示例，我昨天刚测试的xa

[2021-10-18 02:24] #4087 closed

[2021-10-18 02:54] whxxxxx commented on #4087
改为自动代理后，其中一个分支成功了，有日志Branch Rollbacked result: PhaseTwo_Rollbacked，但是另一个分支还是没成功。

[2021-10-18 11:01] lehug opened #4088 "A调用B，A服务报错B feign超时，但是B的事务没有回滚"
## env
spring cloud + spring boot 2.2 + open feign + mybatis
seata-server 1.4.1, seata client 1.4.2, db store， at mode
## 代码结构
 入口服务为A服务，有@GlobalTransaction, @Transaction注解。先excel数据检查，然后调用B服务创建数据。
B服务有@Transaction，B服务有多次插入，3次1500数据量的插入，耗时较长。正常情况下，B执行完毕后，A服务再进行一些数据插入操作，整个调用链结束。

## 时间还原
### A服务
- 18:38:21 接收到请求，
- 18:38:30  `unbind 10.40.0.6:8080:193434165151031296`  `rollback status: Rollbacked`

[2021-10-19 00:14] lehug commented on #4088
@a364176773  有一点新发现，全局事物开启后， B服务还有`RM register success,message:RegisterRMRequest{resourceIds=`的日志输出，重新注册了？导致不能回滚了？

[2021-10-19 01:19] a364176773 commented on #4088
跟这个没关系，自己debug，注册上才能回滚

[2021-10-19 05:48] lehug commented on #4088
更新，抱歉，搞错了，回滚了。。。
目前只有一次  java.io.IOException: Broken pipe 后，事物没有回滚。具体原因待查明

[2021-10-19 09:04] #4088 closed, assigned to nobody

[2021-10-20 16:21] 851091009 opened #4089 "seata 1.3 启动报 Error creating bean with name 'globalTransactionScanner'"
[code]

### Ⅵ. Environment:

- JDK version : 1.8
- Seata version:  1.30
- OS : windows

[2021-10-21 01:34] a364176773 commented on #4089
应该是用了高版本jdk导致了，seata不保证对jdk11和8以外的版本绝对兼容性，你可以加上java --add-opens java.base/java.lang=ALL-UNNAMED 来试试

[2021-10-21 01:53] 851091009 commented on #4089
是的，是 jdk 版本的问题，换成 1.8，解决了！！！

[2021-10-21 01:53] #4089 closed, assigned to nobody

[2021-10-21 05:41] qiudaozhang commented on #3883
nice

[2021-10-21 09:45] IT-Mamba opened #4090 "分支事务抛异常，返回错误码给调用方，此时不会回滚"
- [ ] I have searched the [issues](https://github.com/seata/seata/issues) of this repository and believe that this is not a duplicate.

###  Issue Description
分支事务抛异常，返回错误码给调用方，此时不会回滚。

ServiceA开启全局事务 @GlobalTransactional
ServiceA调用FeignB和feignC，其中一直分支事务抛异常，全局异常捕获返回相应的错误码。

### Anything else we need to know?
是只有在开启全局事务的TM端抛异常才能全局回滚吗？

###  Environment:

- JDK version : 1.8.0
- Seata version:  1.4.

[2021-10-21 09:46] #4090 closed, assigned to nobody

[2021-10-21 09:50] IT-Mamba commented on #4090
@a364176773 AT模式下，直接在TM端抛异常的形式实现全局回滚吗？

[2021-10-21 10:01] xuweihao opened #4091 "seata1.2.0 nacos 2.0.3 unknown user!"
账号密码都正确的，也是有读写权限的，可以通过nacos-config.sh上传配置，但是通过docker启动的时候，就一直unknown user!

[2021-10-21 10:14] a364176773 commented on #4091
升级到1.3及以上试试，老版本好像nacos用的client是1.1.4估计不支持鉴权

[2021-10-21 11:00] xuweihao commented on #4091
已处理好，1.3.0可以，不过只感觉全程都unkown user，serverAddr需要加端口，注册中心不能添加group

[2021-10-22 09:41] shishilin opened #4092 "seata连接nacos集群报错"
我通过docker-swarm启动了成功了三节点的nacos集群，我通过seata去连接一直报错，下面是报错截图
![image](https://user-images.githubusercontent.com/29593528/138431987-16c36e9f-2c18-4753-bb32-9138fb104ddf.png)
但是我测试了单机没任何问题！可以成功注册，就MODE: cluster就会报错，MODE: standalone就没问题，是我这边漏改了配置吗？

[2021-10-22 09:43] #4091 closed, assigned to nobody

[2021-10-25 02:40] lIIlIIlI opened #4093 "sharding-jdbc无法解析路由seata生成的查询语句"
- [ ] I have searched the [issues](https://github.com/seata/seata/issues) of this repository and believe that this is not a duplicate.

### Ⅰ. Issue Description
sharding-jdbc分表后使用seata，seata生成的操作表查询语句sharding-jdbc无法路由，因为生成的主键被括号包了起来，sharding-jdbc无法解析该字段

### Ⅱ. Describe what happened

![image](https://user-images.githubusercontent.com/55438404/138625576-490d32f0-dc4a-4468-bd73-6039d5dca206.png)
此处

[2021-10-25 03:24] hou0218forever opened #4094 "saga的choice节点优先级怎么判断"
![image](https://user-images.githubusercontent.com/29968951/138630146-7b01e5f4-edf7-4b60-bac4-bce2ebcde5b4.png)
![image](https://user-images.githubusercontent.com/29968951/138630160-b9129bd9-b8d3-4eff-bd24-1723341d11d6.png)
如图所示choice节点游三个支路，怎么在json里面判断支路执行的先后顺序？

[2021-10-25 06:53] whxxxxx opened #4095 "TCC模式有对空回滚、防悬挂做处理吗"
如果没有的话，怎么做会比较好

[2021-10-25 09:53] #4092 closed, assigned to nobody

[2021-10-25 13:27] djvip001 opened #4097 "经常报 Could not found global transaction xid"
部署的是3台seata 1.4.2,集成的是nacos ,但是又是报错，有时又不报，下面日志是同一时间打印的

节点1的日志：
![微信截图_20211025212205](https://user-images.githubusercontent.com/29300542/138703750-330ad7b0-6530-418d-b93d-11e876376190.png)

节点2的日志：
![微信截图_20211025212231](https://user-images.githubusercontent.com/29300542/138703751-0c841df7-ae69-437c-b767-c02b53ba2ea8.png)

节点3的日志：
![微信截图_20211025212604](https://user-images.githubusercontent.com/2

[2021-10-26 01:06] #4097 closed, assigned to nobody

[2021-10-27 01:01] #4095 closed, assigned to nobody

[2021-10-27 06:17] yearnxiao opened #4098 "官方镜像如何动态指定JVM参数?"
官方Docker镜像如何动态指定JVM参数，现在的JVM启动参数都是打包时打死了，无法改变JVM启动参数。

[2021-10-28 08:18] dyingstraw opened #4099 "redis"
https://github.com/seata/seata/blob/0c2ae3209a000ed3b5445d0b1e25c52f35949f41/discovery/seata-discovery-redis/src/main/java/io/seata/discovery/registry/redis/RedisRegistryServiceImpl.java#L202

redis作为注册中心时
1. 当seata server 被异常终止进程后，无法触发unregistry,导致redis依旧存在改server的地址，且seata TM依旧缓存了该Server，导致链接失败。请问这个如何解决

[2021-10-28 08:23] dyingstraw opened #4100 "Redis作为注册中心，seata server非正常下线，TM、Redis缓存不更新问题"
https://github.com/seata/seata/blob/0c2ae3209a000ed3b5445d0b1e25c52f35949f41/discovery/seata-discovery-redis/src/main/java/io/seata/discovery/registry/redis/RedisRegistryServiceImpl.java#L201
redis作为注册中心时
1. 当seata server 被异常终止进程后，无法触发unregistry,导致redis依旧存在改server的地址，且seata TM依旧缓存了该Server，导致链接失败。请问这个如何解决

[2021-10-28 08:23] #4099 closed, assigned to nobody

[2021-10-29 10:06] XBNGit opened #4101 "The collection may not be in use when a branch transaction registers to acquire the lock"
## Why you need it?

This may help the GC work better

## How it could be?

This is the code snippet in AbstractLockManager
[code]

This looks like the collection may not being used，Can we change it like this？Will this help GC？

[code]
## Other related information
Thanks for comment

[2021-10-29 17:27] #4101 closed, assigned to XBNGit

[2021-11-01 01:57] xyz327 commented on #4100
换个注册中心组件.

[2021-11-01 06:24] HelloWorldwangjiacheng opened #4106 "AT 全局事务过长"
- [ ] I have searched the [issues](https://github.com/seata/seata/issues) of this repository and believe that this is not a duplicate.

### Ⅰ. Issue Description
seata AT模式下全局事务过长。

### Ⅱ. Describe what happened
全局事务采用AT模式。
场景链路描述：
1. 创建订单（createOrder），创建订单的时候先创建业务订单，然后远程调用支付系统，创建支付订单，然后更新业务订单中的payOrderId这个字段。
2. 创建订单成功后，前端感知到后，再调用微信支付接口(wxPay)，
3. 微信支付接口，在具体的实现类中更新业务订单相关信息，没有异步操作。

问题：
理想状态：

[2021-11-01 06:26] a364176773 commented on #4100
问题存在，后续会进行我们自己的探活，而注册中心仅是获取相对存活的地址

[2021-11-01 06:29] a364176773 commented on #4106
1.如果tc是一个高可用集群部署，就要保证不要让store使用file模式
2.多个tc的时区统一与数据库保持一致
3.排查这个xid在发起方的什么时间点决议，看下状态是什么，有没有异常，而不是在抛出异常的节点3去排查

[2021-11-01 08:04] HelloWorldwangjiacheng commented on #4106
你好，tc是一个seata-server，不是集群，内存大小默认，最大可分配2G，所以建议1和2其实可以略过。
其实，我这边有一个疑问，两个接口理论上来说是隔离，业务链路上:
 创建订单（createOrder）->前端获取成功返回结果, 请求通用支付接口->微信支付（doWxPay）
理论上，两个接口是隔离，事实上，大部分订单也是没问题的。
但全局事务却包括了createOrder和doWxPay 这两个接口，
其实seata它说XID找不到，这是正常的。不正常的是，它为什么要去找XID??? createOrder 和 doWxPay应该是两个事务，而不是一个事务。
createOrder成功之后，前端获取返回值之前，就应该提交数据库，持久化了。
这样，我先复现问题，再debug看一下。
谢谢你的回复，万分感谢

[2021-11-01 13:17] a364176773 commented on #3767
getSingleton的方法块早就已经结束了,理论上已经释放了singletonObjects这个锁,为何到了timeoutchecker线程里还会被阻塞,lookup存在一个阻塞情况,因为lookup线程里即便去获取getServiceName()时,singletonObjects也已经被释放了,而main线程被阻塞在lookup,有点奇怪,你实现新版本还有这个问题不

[2021-11-01 13:31] aoyvx commented on #3767
在我实现的版本中这个问题已经解决了,后续几个月没有重现过.由于DataSource还处于实例化后处理阶段,所以singletonObjects还没有释放.
由于这件事过去的时间有点旧了,具体的细节我记得不太清楚.我去找找我以前的代码,或许可以给您一些建议.

[2021-11-01 15:41] a364176773 commented on #3767
懂了，我看错了，是datasource实例化导致的，你这个做法是可以解决的，但是我们想看看有没有更优的解法，谢谢你的反馈

[2021-11-02 02:24] a364176773 commented on #3767
我觉得直接让lookup在一分钟内直接进行，使timeoutchecker线程去lookup的时候，只能拿到map里的值，而不会走到下面去获取锁，这样就解开了死锁的问题，提前先执行一遍lookup即可

[2021-11-02 03:26] menghuan123 opened #4108 "集群收费问题"
seata集群版本收费吗？

[2021-11-02 03:27] lvekee commented on #4108
不收费 高可用部署可以参考官网http://seata.io/zh-cn/docs/ops/deploy-ha.html

[2021-11-02 03:28] #4108 closed

[2021-11-02 03:43] aoyvx commented on #3767
这样确实是简单有效的. 或许可以直接在注册timeoutchecker线程前先加载配置项,并不用关心具体时间.

[2021-11-02 06:12] menghuan123 opened #4109 "分布式事务可视化界面支持"
有计划实现可视化界面的支持吗？

[2021-11-02 06:14] a364176773 commented on #4109
会先再1.5提供部分数据查询的open api，2.0可能会进行控制台的建设

[2021-11-02 06:39] a364176773 commented on #4106
xid是一个全局的事务，createOrder和doWxPay只是xid下的分支事务，要去向这个xid的全局事务注册分支，如果注册不上，你要看下传递到你这xid的发起方那边的日志是什么情况，按xid查找日志即可，把相关发起方的这个xid的日志贴上来

[2021-11-02 08:44] Sunkuo12-1 opened #4110 "@GlobalTransactional注解导致的BadSqlGrammarException异常"
### Ⅰ. 问题描述
当在serviceImpl中标注了@GlobalTransactional注解后，以下SQL会导致BadSqlGrammarException异常

### Ⅱ. 详细描述

ServiceImpl定义：
[code]

Mybatis接口定义：
[code]
Mybatis中对此SQL的定义：
[code]

异常堆栈：
[code]

### Ⅲ. Describe what you expected to happen
希望找到并解决这个问题

### Ⅳ. How to reproduce it (as minimally and precisely as possible)

1. 为service添加@GlobalTransactional注解
2. 复制上面提到的Mybatis中的SQL

### Ⅴ. Anything else we need to

[2021-11-02 09:16] a364176773 commented on #4110
seata版本换乘1.4.2

[2021-11-02 09:28] Sunkuo12-1 commented on #4110
![image](https://user-images.githubusercontent.com/69622137/139820825-4fafee8a-dadf-46cf-90b2-e57c53c018c3.png)
版本换成1.4.2，问题还是没有解决

[2021-11-02 11:29] a364176773 commented on #4110
暂时改为普通的insert和update试试吧

[2021-11-02 11:31] a364176773 commented on #4110
数据库是mysql吗?

[2021-11-02 12:38] a364176773 commented on #4110
到数据库执行下
`insert into client_customer_permission(             customer_id,permission_id,start_time,end_time         )         values                        (              ?,             ?,             ?,             ?             )                   on duplicate key update start_time = values(start_time),end_time = values(end_time)`
加上globaltransactional和不加的sql都打印输出下看看,看堆栈居然没有rmdatasource那块的堆栈,有点奇怪

[2021-11-03 01:55] Sunkuo12-1 commented on #4110
数据库是mysql8.0.16
加@GlobalTransactional注解后报异常时的控制台信息：
[code]
把这条报错的SQL复制到Navicat中可以执行，没有报错信息：
[code]

当注释掉@GlobalTransactional注解时的控制台（自己手动抛了一个异常：批量修改添加客户权限失败）：
[code]
数据库执行的SQL是这个，也能插入成功：
[code]

[2021-11-03 02:15] Sunkuo12-1 commented on #4110
rm.datasource那块的堆栈在这里，辛苦了老哥
[code]

[2021-11-03 03:43] Sunkuo12-1 commented on #4110
我把Mybatis-Plus的执行器换成batch的，错误解决了，但我不太明白，Seata不是对Batch执行器的支持不是很好吗

[2021-11-03 11:18] zwwjava opened #4111 "Seata与spring-boot-starter-ahas-sentinel-client包存在冲突"
- [ ] I have searched the [issues](https://github.com/seata/seata/issues) of this repository and believe that this is not a duplicate.

### 异常
springBoot架构下以下两个包冲突。
<dependency>
  <groupId>com.alibaba.csp</groupId>
  <artifactId>spring-boot-starter-ahas-sentinel-client</artifactId>
  <version>1.9.7</version>
</dependency>
和
<dependency>
  <groupId>com.alibaba.cloud</groupId>
  <artifactId>spring-c

[2021-11-03 11:20] a364176773 commented on #4111
反馈给spring cloud alibaba社区

[2021-11-03 11:20] #4111 closed

[2021-11-03 11:21] a364176773 commented on #4111
ClassNotFoundException 检查是不是依赖冲突什么导致的

[2021-11-04 14:12] lightClouds917 opened #4114 "控制台议题：控制台一期后台接口列表"
## Why you need it?
 Is your feature request related to a problem? Please describe in details

1.梳理讨论控制台一期后台接口列表 ；
https://github.com/seata/seata/discussions/4113

[2021-11-05 06:10] WalkFly opened #4116 "Property bean with prefix 'seata.service' was not found in `StarterConstants.PROPERTY_BEAN_MAP`. Please inform the seata committer to fix this BUG."
项目启动后有时候一直提示这个
![Uploading 1636092610(1).jpg…]()
警告

[2021-11-05 06:11] WalkFly commented on #4116
但是提示一段时间（2s至无限）后项目才会跑完。

[2021-11-05 06:18] Pinocchio2018 commented on #4116
请问seata用的是哪个版本？项目如何继承seata的？

[2021-11-05 06:25] a364176773 commented on #4116
看不到你的图片，再发一下

[2021-11-05 07:13] dakongyi258 opened #4117 "关于oracles数据库使用XA/TCC模式问题"
我遇到个场景，当有多个微服务的数据源指向统一oracle数据库(版本不限)，使用XA或者TCC模式均报错，但切换成不同一数据源的时候正常。错误如下：
### Cause: java.sql.SQLException: failed to start xa branch 179.16.10.226:8091:6719565797042716861 since XAErr (-3): A resource manager error has occured in the transaction branch. ORA-2079 SQLErr (0)
; uncategorized SQLException; SQL state [null]; error code [0]; failed to start xa branch 179.16.10.226:8091:671956579704271

[2021-11-05 07:19] a364176773 commented on #4117
oracle 无法对资源进行重入，用tcc即可，tcc不要进行代理数据源，并关闭自动代理

[2021-11-05 07:22] #4117 closed

[2021-11-05 07:28] dakongyi258 commented on #4117
非常感谢，确实可以

[2021-11-05 08:16] lj919374296 opened #4118 "在@GlobalTransactional 中使用update join 报错"
java.sql.SQLException: java.lang.ClassCastException: com.alibaba.druid.sql.ast.statement.SQLJoinTableSource cannot be cast to com.alibaba.druid.sql.ast.statement.SQLExprTableSource

UPDATE bill_index a INNER JOIN (SELECT last_bill_id, sum(ABS(total)) total FROM pay_bill WHERE bill_id = ? GROUP BY last_bill_id) b ON a.id = b.last_bill_id SET a.unpay_money = a.unpay_money + b.total WHERE a.tenant_id

[2021-11-05 11:04] yangnima opened #4119 "Could not register branch into global session xid = status = RollbackRetrying 到底怎么从业务层面解决a？"
- [ ] I have searched the [issues](https://github.com/seata/seata/issues) of this repository and believe that this is not a duplicate.

为什么分支事务注册时, 全局事务状态不是begin

 异常：Could not register branch into global session xid = status = Rollbacked（还有Rollbacking、AsyncCommitting等等二阶段状态） while expecting Begin
描述：分支事务注册时，全局事务状态需是一阶段状态begin，非begin不允许注册。属于seata框架层面正常的处理，用户可以从自身业务层面解决。
出现场景（可继续补充）
  1. 分支事务是异步，全局

[2021-11-05 11:13] yangnima commented on #4119
求各位大佬解答

[2021-11-05 12:10] a364176773 commented on #4119
就是上面说的解决,禁止服务重试,保证没有异步进行的分支,如果还出现bollbacked就别管了,正常抛异常,比如你a调b,调不通,a就决议回滚事务,此时b收到了刚才的请求进行了业务处理,这是为了保证幂等,保证一致性,禁止了这个由于网络异常造成不一致的可能,抛出异常回滚掉这个独立的分支事务的进行,保证了一致性

[2021-11-05 12:10] #4119 closed

[2021-11-05 14:24] zhangxiangfeng commented on #4093
### 比较官方一点的处理方式是什么？

[2021-11-08 01:41] yangnima commented on #3329
有人解决这个问题吗？单机模式也出现这个问题（注册中心下只有一个服务），

[2021-11-08 02:09] yangnima commented on #2654
有解决方案吗？各位大佬

[2021-11-08 03:05] Pinocchio2018 commented on #4100
@a364176773 我想问问目前develop分支有做 “探活” 的定时任务吗？我上次没找到。。我想试试

[2021-11-08 10:30] kit101 commented on #3709
@zhoushenn
用这个PR #3716 的代码新建一个同名类覆盖seata的类就可以了，临时解决一下了。
[SpringProxyUtils.java](https://github.com/ls9527/seata/blob/ddaeaf7678368a8fad0f8c579446ca8ecde2b683/spring/src/main/java/io/seata/spring/util/SpringProxyUtils.java)

[2021-11-08 10:59] HydraWu-Spotec opened #4120 "docker-compose最新版本部署seate无法读取到registry.conf"
- [ ] I have searched the [issues](https://github.com/seata/seata/issues) of this repository and believe that this is not a duplicate.

### Ⅰ. Issue Description
seate的docker-compose.yaml内容如下:
version: "3"
services:
  seata-server:
    image: seataio/seata-server:latest
    container_name: seata-server4tmd
    environment:
      - SEATA_CONFIG_NAME=file:/root/seata-config/registry
      - STORE_MOD

[2021-11-08 12:22] wjwjda1 opened #4121 "seata集群at模式，branch_id没有按照业务顺序生成"
事务中，有两个分支是同一行数据的修改的业务。
在压测的时候，存在少量情况。异常回滚的时候，发现先回滚前面的分支，导致一直回滚失败。（服务器时间有差距）

[2021-11-08 12:52] slievrly commented on #4121
@wjwjda1 What is the `store.mode` configuration set? If DB is used, database time is used.

[2021-11-08 12:53] slievrly commented on #4118
@lj919374296 currently, not support `update join` type SQL parser.

[2021-11-08 12:58] slievrly commented on #4120
@HydraWu-Spotec If you are using the latest version of server, the configuration file it reads is

https://github.com/seata/seata/blob/develop/server/src/main/resources/application.yml

[2021-11-08 12:59] a364176773 commented on #4121
自行查看仓库1.4.2分支下的建表语句

[2021-11-09 01:57] HydraWu-Spotec commented on #4120
所以我需要映射这个application.yml到容器吗

[2021-11-09 07:01] yangnima commented on #1324
怎么解决的啊？

[2021-11-09 09:17] HongYan789 opened #4122 "什么时候支持h2数据库呢？"
seata什么时候可以支持h2数据库呢 ？还是说我们需要基于seata-all中自行扩展h2数据库支持？

[2021-11-09 09:35] a364176773 commented on #4120
不要使用latest版本，请使用release的版本，之前的部署教程不兼容latest

[2021-11-09 09:35] #4120 closed

[2021-11-09 10:10] qq1146514641 commented on #2401
@chengshihard 同样的问题，你现在解决了吗

[2021-11-09 12:25] wjwjda1 commented on #4121
@a364176773 我的store.mode 选择的是redis 是不是不用建那些表了

[2021-11-09 13:26] a364176773 commented on #4121
使用最新版tc，会对取出的branch排序后再回滚

[2021-11-10 05:50] tieniu116 opened #4123 "貌似不兼容jdk16"
导入以下依赖
<dependency>
            <groupId>io.seata</groupId>
            <artifactId>seata-spring-boot-starter</artifactId>
            <version>1.4.2</version>
        </dependency>
        <dependency>
            <groupId>com.alibaba.cloud</groupId>
            <artifactId>spring-cloud-starter-alibaba-seata</artifactId>
            <version>2.2.6.RELEASE</version>
            <exclusions>

[2021-11-10 06:06] a364176773 commented on #4123
是的，这个问题我也发现了，目前暂无计划支持11和8以外的jdk版本

[2021-11-10 06:12] lovepoem commented on #4123
直接支持java17吧

[2021-11-10 06:25] ihusky opened #4124 "客户端访问接口，Failed to get available servers: register eureka is error!"
1.服务端启动可以正常注册到eukera, 客户端启动没问题，访问接口报错 io.seata.common.exception.EurekaRegistryException: register eureka is error!

服务端：registry.conf
  eureka {
    serviceUrl = "http://eureka-k8s:8761/eureka/"
    application = "seata-server"
    weight = "1"
  }

客户端：
seata:
  enabled: true
  application-id: ${spring.application.name}
  tx-service-group: seata_tx_group
  service:
    vgroup-mapping:
      seata

[2021-11-10 07:19] a364176773 commented on #4124
堆栈能给详细点不？

[2021-11-10 07:23] ihusky commented on #4124
[https://image.myxkcdn.com/xk/image/project_1/mch/20211110/6a43ed02-b5ad-8291-3393-4dbed1ba7189](url)

[2021-11-10 07:23] ihusky commented on #4124
2021-11-10 15:02:40.701 [timeoutChecker_2_1] WARN  com.netflix.discovery.internal.util.Archaius1Utils - Cannot find the properties specified : eureka-client. This may be okay if there are other environment specific properties or the configuration is installed with a different mechanism.
2021-11-10 15:02:40.701 [timeoutChecker_2_1] INFO  c.n.a.p.EurekaConfigBasedInstanceInfoProvider - Setting initi

[2021-11-10 07:24] ihusky commented on #4124
在上面了，谢谢

[2021-11-10 08:48] bnyte opened #4125 "使用nacos配置中心的配置文件在哪里？"
如题。。当我想使用nacos配置中心时不想使用file但是我找不到配置文件的demo

[2021-11-10 09:09] a364176773 commented on #4122
目前不支持，欢迎你来贡献此pr

[2021-11-10 09:13] a364176773 commented on #4125
官网新人文档

[2021-11-10 09:13] #4125 closed

[2021-11-10 10:08] bnyte opened #4127 "请问如何在docker中部署，我看官方文档并没用，就连官网的https都掉了，请问是不维护了吗？"

[2021-11-10 10:14] bnyte commented on #4127
在官方文档中的部署连容器内部的路径都是错的，实在是离谱。

[2021-11-10 11:37] yihongjian commented on #3115
你这个问题解决了吗？如果解决了 能不能麻烦告诉我一下？

[2021-11-10 12:23] a364176773 commented on #4127
官方当时基于的是1.4.2写的，目前latest不是release版本，拉1.4.2

[2021-11-10 12:23] #4127 closed

[2021-11-10 12:25] a364176773 commented on #4127
官方当时基于的是1.4.2写的，目前latest不是release版本，拉1.4.2

[2021-11-11 05:28] srh-gooditsss opened #4128 "这个是什么问题"
fileListener execute error, dataId :

[2021-11-11 05:29] srh-gooditsss commented on #4128
io.seata.config.FileConfiguration        : fileListener execute error, dataId :service

[2021-11-11 05:40] a364176773 commented on #4128
按照规范提交issue

[2021-11-11 05:40] #4128 closed

[2021-11-11 05:41] a364176773 commented on #4124
NoClassDefFoundError 检查是否有依赖冲突

[2021-11-12 02:44] IvanCai opened #4129 "open-feign远程调用报错"
java.lang.IllegalArgumentException: Could not find class [org.springframework.boot.autoconfigure.condition.OnPropertyCondition]
	at org.springframework.util.ClassUtils.resolveClassName(ClassUtils.java:334) ~[spring-core-5.3.4.jar!/:5.3.4]
	at org.springframework.context.annotation.ConditionEvaluator.getCondition(ConditionEvaluator.java:124) ~[spring-context-5.3.4.jar!/:5.3.4]
	at org.springframewo

[2021-11-12 03:10] Yuan0Teng opened #4130 "What is the full name of the AT mode?"
TCC = Try Commit Cancel
XA = eXtended Architecture
saga = a long story of heroic achievement , just a word
AT = ???

so , What is the full name of the AT mode?

[2021-11-12 03:19] tanzzj commented on #4130
Automatic (Branch) Transaction Mode

[2021-11-12 03:39] Yuan0Teng commented on #4130
appreciate !

[2021-11-12 03:39] #4130 closed

[2021-11-12 06:07] a364176773 commented on #4129
ClassNotFoundException 你应该自己排查下是不是有相关的依赖冲突，缺依赖之类的情况，建议去sca社区提issue，这堆栈里没有seata相关信息

[2021-11-12 06:07] #4129 closed

[2021-11-12 06:19] dyingstraw opened #4131 "请教一下，为什么seata里面的redis都不支持集群模式呀"
https://github.com/seata/seata/blob/f67644a0d5acc803a5098540a234e9370dce589c/server/src/main/java/io/seata/server/storage/redis/JedisPooledFactory.java#L103

有点疑惑。请教一下，为什么seata里面的redis都不支持集群模式呀，是有其他设计方面的考虑吗~

[2021-11-12 06:29] dyingstraw opened #4132 "seata.enabled和seata.enable2个配置项命名不统一"
https://github.com/seata/seata/blob/6f877fafd0bc4ad2f4840e7940c93493f9aa45d5/seata-spring-boot-starter/src/main/java/io/seata/spring/boot/autoconfigure/SeataDataSourceAutoConfiguration.java#L36

这里是seata.enabled
另一个seataAutoConfig又是seata.enable  两个命名不统一

感觉很奇怪

[2021-11-12 07:18] #4132 closed

[2021-11-12 07:18] a364176773 commented on #4132
develop已经修复

[2021-11-12 07:21] a364176773 commented on #4131
以二阶段协议的性能下降和tps的峰值，redis单机和sentinel模式已经绰绰有余了，redis-cluster不一定能提升性能，而且存在更大一致性丢失的风险，比如宕机。 且redis-cluster不支持mget pipeline等措施，每一个命令都要通过内置的算法找到对应的redis去发请求，在一定比例的并发下负载均衡，提升吞吐，但是在目前的调研下，对tc没有实质性的吞吐和性能提升，在低并发下，还增加了多次网络io的开销，没有意义

[2021-11-12 07:21] #4131 closed

[2021-11-13 07:21] #4124 closed

[2021-11-13 07:21] #4106 closed

[2021-11-15 01:35] quicksandznzn opened #4137 "build source code"
I refer to http://seata.io/zh-cn/docs/overview/faq.html  Q: 16.如何自己修改源码后打包seata-server?

seata version 1.4.0/1.4.2 run mvn clean package -DskipTests=true

no packaging found in distribution directory

seata version 1.3.0 i found it

java version 1.8.0_121

[2021-11-15 06:31] lcmvs commented on #4073
你好，发现了一个问题。

order，account，storage三个服务，resource_id是相同的，也就是相同数据库，不同应用的场景下，假设开启了一个全局事务，然后order和tm的channel断了，tm会选择一个resource_id相同的服务，作为替代，比如account，然后又会发生xaer_note的异常，最终会发生资源悬挂的问题，而且不仅仅是回滚，提交也会发生。

Choose {} on the same IP[{}] as alternative of {}

[2021-11-15 06:31] lcmvs commented on #4073
你好，发现了一个问题。

order，account，storage三个服务，resource_id是相同的，也就是相同数据库，不同应用的场景下，假设开启了一个全局事务，然后order和tm的channel断了，tm会选择一个resource_id相同的服务，作为替代，比如account，然后又会发生xaer_note的异常，最终会发生资源悬挂的问题，而且不仅仅是回滚，提交也会发生。

Choose {} on the same IP[{}] as alternative of {}

[2021-11-15 07:20] lcmvs commented on #4073
`        if (resultChannel == null) {
            resultChannel = tryOtherApp(applicationIdMap, targetApplicationId);

            if (resultChannel == null) {
                if (LOGGER.isInfoEnabled()) {
                    LOGGER.info("No channel is available for resource[{}] as alternative of {}", resourceId, clientId);
                }
            } else {
                if (LOGGER.isInfoEn

[2021-11-15 07:59] a364176773 commented on #4073
提个新的issue，一起聊一下吧

[2021-11-15 08:05] a364176773 commented on #4073
我估计要把原来本地锁和本地缓存悬挂事务的global状态的方案换为分布式锁和存储来应对这种情况，这样就保证了当order只是网络断开时，这样的话，在order的commit/rollback和account的commit/rollback变成串行，如果是account先进行rollback，直接往分布式存储（比如redis）里塞branchstatus，此时虽然回滚失败，但是order那边走到commit时取出缓存，直接回滚当前事务避免被悬挂即可。跟原定方案一样，本地缓存和锁升级为全局的即可，你怎么看？

[2021-11-15 08:07] lcmvs opened #4138 "xa模式获取channel导致的资源悬挂问题"
- [x] I have searched the [issues](https://github.com/seata/seata/issues) of this repository and believe that this is not a duplicate.

### Ⅰ. Issue Description
xa模式，获取channel导致的资源悬挂问题

### Ⅱ. Describe what happened

XA模式下，TC日志分布式事务回滚成功，实际上数据库中的分支事务未回滚，导致资源永远无法处理。

### Ⅲ. Describe what you expected to happen

TC日志记录的分布式事务回滚成功，数据库中的分支事务也应该回滚成功。

### Ⅳ. How to reproduce it (as minimally and precisel

[2021-11-15 08:09] lcmvs commented on #4073
提了新的issue https://github.com/seata/seata/issues/4138

[2021-11-15 08:11] a364176773 commented on #4138
1.支持resourceid的自定义，来区分多个表
2.升级上次的方案，用分布式锁和分布式缓存，串行化branch的提交和二阶段下发的行为
你觉得哪个更合适，如果自定义resourceid的话，改动小，感觉也能接受，个人觉得可以支持前者，这样也不耦合其他组件

[2021-11-15 08:14] lcmvs commented on #4138
我觉得方案一更加合适，而且xa模式既然hold住连接，我觉得不应该再选择其他的服务，而且同一个服务的其他实例也不应该选择吧？

[2021-11-15 08:17] a364176773 commented on #4138
好，我觉得你源码阅读的挺到位，仔细的，有没有兴趣认领下这个pr？

[2021-11-15 08:53] lcmvs commented on #4138
resourceid的自定义我没啥思路，seata很多地方我还不是很熟，我本来的想法是，tc提交或者回滚的时候判断一下是不是xa，xa就不去获取其他实例的channel了。

[2021-11-15 09:21] a364176773 commented on #4138
这个想法在以前是行得通，而现在都是跑在容器里，当一个容器销毁重建时，他的ip是会变的，这样将永远重试无法恢复。
你可以看下jdbcutils#initDataSourceResource 自己可以想下怎么做比较优雅，比如config.getConfig读一个配置，这个配置可以直接是appname之类的能代表这个服务的集群都是相同的即可
不过我突然想到，如果你的order有2个节点，一个运行时channel断了，是不是也请求到了另一个去？是否一样有这个问题？

[2021-11-15 09:25] lcmvs commented on #4138
我的理解是一个服务多个节点，选择了其他节点，也是有这个问题的。

[2021-11-15 09:41] a364176773 commented on #4138
那还是得走方案二，方案二得社区一起讨论一下，目前看看有没有参数把channel的心跳改长点吧，这个仅限于channel断开，到client还在跑prepare的情况吧

[2021-11-15 09:47] 1317963611 opened #4139 "get global lock fail, xid:xxx:8091:9205983199890188,lockKeys:sg_storage:7564566"
- [ ] I have searched the [issues](https://github.com/seata/seata/issues) of this repository and believe that this is not a duplicate.

### Ⅰ. Issue Description
io.seata.rm.datasource.exec.LockConflictException: get global lock fail

### Ⅱ. Describe what happened
我在尝试对两个服务（分布式）之间做并发压力测试时，遇到了此问题，翻阅过Seata的官方文档后，更改了 ：

1. client.rm.lock.retryPolicyBranchRollbackOnConflict=false

2.client.rm.lock.retr

[2021-11-15 09:48] 1317963611 commented on #4139
OS : 阿里云Centos:7.8

[2021-11-15 09:48] a364176773 commented on #4139
开启本地事务时，锁竞争周期是失效的，这将在1.5.0中进行修复，先拿掉translational注解看看吧

[2021-11-15 09:50] lcmvs commented on #4138
方案一不用服务名，用instance-id之类的东西也是可以的吧？

[2021-11-15 09:52] 1317963611 commented on #4139
嗯，是作为被调用方拿掉Transactional ？

[2021-11-15 09:55] a364176773 commented on #4139
任何dml操作的地方，有translational注解就会使竞争锁周期失效，如果想让transactional下也能竞争锁，需要@Trancational+对即将修改的数据进行select for update 再进行update等操作

[2021-11-15 09:57] 1317963611 commented on #4139
这样子对目前代码改动太大了，1.5.0什么时候发布呢

[2021-11-15 09:58] a364176773 commented on #4138
问题梳理：
1.rm 进行 一阶段prepare操作时，网络抖动，channel断开
2.tm决议回滚
3.由于tc找不到第一步时的rmchannel，改用其他channel
4.其余channel由于第一个rm没进行end&prepare，导致找不到该xid的xa事务
5.认为此xa事务已完成，事务回滚成功
造成结果：
rm 1阶段完成后，资源悬挂

[2021-11-16 01:54] SDuper commented on #3997
发生了空回滚的时候，tcc_fence_log表里面插入的状态是4，然后定时器默认每天清理一次一天前的tcc_fence_log数据，目前看只清理2，3状态的数据，4状态的数据，就一直放库里存着吗？为什么不一并把4清理了？

[2021-11-16 06:18] lcmvs commented on #4138
不仅仅是rollback会发生资源悬挂，commit也会
1.rm1完成一阶段
2.tm断开rm1的channel（rm1没挂，还持有数据库连接）
3.tm选择rm2的channel进行commit
4.发生XAException.XAER_NOTA异常，资源悬挂

[2021-11-16 11:27] a364176773 commented on #4138
prepard之后会上报一阶段，如果失败应该是直接回滚事务了，tm决议应该是rollback才对，为何会最终决议为commit？

[2021-11-16 12:42] a364176773 commented on #4138
记错了,一阶段commit时不会进行一阶段提交,所以是有可能的,但是出现一阶段还在end还没走到prepare时就出现二阶段,还是要注意一点网络问题,先减少发生概率吧

[2021-11-17 01:34] a364176773 commented on #4138
我又想了想，出现commit到分支事务还没走到prepare，导致其他rm找不到该xid,说明该分支重入了2次，1没做幂等导致分支进了2次，出现了服务重试，，所以tm认为没有调用时的timeout，2出现异常而tm捕获没抛出去，导致认为是提交而不是回滚

[2021-11-17 02:00] lcmvs commented on #4138
完成一阶段的那个数据库连接如果没有断开，就选择其他的数据库连接进行commit或者rollback，就会发生XAException.XAER_NOTA异常，资源悬挂。

[2021-11-17 06:14] zyplanke commented on #3620
验证情况：。
测试OK的环境：spring-boot-starter2.4.11， seata 1.4.2，mysql-connector-java8.0.22

[2021-11-17 08:00] zhousanyi opened #4140 "seata1.4.2版本不支持mysql加解密函数吗"
- [ ] I have searched the [issues](https://github.com/seata/seata/issues) of this repository and believe that this is not a duplicate.

### Ⅰ.问题描述
我的mysql里边会对部分数据字段加密处理，用的是mysql自带的加解密函数，当我开启一个全局事务，插入一条数据后，seata会报一个异常错误，显示不支持的sql

### Ⅱ. 异常现象：
`Caused by: io.seata.common.exception.NotSupportYetException: not support sql [insert into config_info (apartment_id, branch_id, config_key, config_value, cr

[2021-11-17 08:03] a364176773 commented on #4140
不支持，用mybatis的TypeHandler试试吧

[2021-11-17 08:09] a364176773 commented on #4138
之前的测试表示mysql在prepare后必须hold连接才可以使用，oracle就不必，不知道是否是版本导致的，你可以试试prepare后释放连接，看是否能正常commit

[2021-11-17 08:16] lcmvs commented on #4138
我自测用的是MySQL 5.7.24
prepare后，连接没有断开，使用另一个连接进行commit或rollback，就会发生XAER_NOTA异常
prepare后，连接断开，使用另一个连接进行commit或rollback，正常执行。

[2021-11-17 09:23] a364176773 commented on #4138
谢谢，这里我抽空也测一下，先把这个问题解决掉，或者你可以提个pr，让mysql在prepare后释放连接，我来review即可

[2021-11-17 09:30] happy89lgk opened #4141 "sharding-jdbc与seata1.4.2"
- [ ] I have searched the [issues](https://github.com/seata/seata/issues) of this repository and believe that this is not a duplicate.

### Ⅰ. Issue Description
在执行新增操作的时候，上游服务发生异常，结果下游服务不能实现回滚，一直是回滚重试PhaseTwo_RollbackFailed_Retryable
sharding version : 4.1.1
- JDK version :1.8
- Seata version:  1.4.2
- OS :
- Others:

[2021-11-17 09:33] a364176773 commented on #4141
检查globaltransactional覆盖率，所有写函数必须被globaltransational注解覆盖，不要绕过注解直接去修改数据，即便只有单库操作也不允许这么干，也不允许直接去数据库改，这些都会破坏at的隔离性

[2021-11-17 10:06] lcmvs commented on #4138
要是一阶段每次都关闭数据库连接，应该会性能很差吧

[2021-11-17 13:22] a364176773 commented on #4138
何出此言?

[2021-11-17 13:23] a364176773 commented on #4138
如果不关闭才是性能差的原因,一阶段hold连接,这个连接无法归还到连接池,并发量必定被连接池数量卡死

[2021-11-17 13:59] happy89lgk commented on #4141
我有3个服务。其中2个服务(服务A,服务B)是没有分表，另一个服务(C服务)是用了sharding-jdbc分了表，
上游服务(A)的某个业务方法用了globaltransational注解,方法中调用了服务B和服务C，当服务A报错后，服务C就会一直回滚重试PhaseTwo_RollbackFailed_Retryable
3个服务的OMR都是JPA
我测试了，去掉C服务的方法后，A和B的服务是能正常回滚的。

[2021-11-17 14:36] Surrin1999 commented on #3673
@a364176773 我也发生了同样的问题，请关注我最新提出的issue

[2021-11-17 15:00] Surrin1999 opened #4142 "1.4.2版本AT模式下，seata数据库的三张表（global_table、lock_table、branch_table）Debug过程中无任何数据"
### Ⅰ. Issue Description
本问题与[issue#3673](https://github.com/seata/seata/issues/3673)的内容一致，是对此issue的补充
环境: Seata最新版本（1.4.2）、JDK1.8、SCA2021.1

    <dependency>
        <groupId>com.alibaba.cloud</groupId>
        <artifactId>spring-cloud-starter-alibaba-nacos-discovery</artifactId>
    </dependency>

    <dependency>
        <groupId>com.alibaba.cloud</groupId>
        <artifactId>spring-cloud-star

[2021-11-17 15:26] a364176773 commented on #4142
﻿https://gitee.com/itCjb/spring-cloud-alibaba-seata-demo
（上述demo内附1.3整合文字版）
1.3及以上通用教程: https://www.bilibili.com/video/BV1Cf4y1X7vR
说明tc用的可能还是file,多看几遍教程吧

[2021-11-17 15:26] #4142 closed

[2021-11-17 15:36] #3673 closed

[2021-11-17 15:38] Surrin1999 commented on #4142
写了那么大段就直接给我close了？？？能不能尊重下别人的贡献？？这个是我写的配置，哪里有问题？？
![image](https://user-images.githubusercontent.com/37960540/142231483-5b45571b-9094-4dcc-9a4f-4b7b6ceb6048.png)
![image](https://user-images.githubusercontent.com/37960540/142231515-d50d2e39-5624-4fca-998b-fa71f757ca21.png)

[2021-11-18 01:45] a364176773 commented on #4142
我真是服了，张口闭口尊重，敢问你们尊重过写博客，写文档，写教程，录视频，在各大用户群答疑，issue，pr相关的贡献者，其他人跟着教程，文档都成功了，你的意思是说有bug？那有bug其他人怎么上生产的，出问题不先从自己身上找原因，张口闭口尊重，你的自尊很重要，其他人的就不重要了？你的时间很宝贵，其他人的时间不宝贵了？拜托，你自己学习，你自己折腾成长的是你，而无私，无形中帮助你的人，对他而言这早就已经轻车熟路了，毫无成长可言，如果你对技术还有一定的敬畏之心，请你保持好你的耐心，把文档和教程一字不漏的看清楚，如果你觉得文档写的太隐晦，你可以来贡献，而不是问一堆大家都已经成功了的问题，却保持着觉得这个是bug的心态，如果人人都来issues问重复性问题，入门级问题，而不是需要技术支持，反馈bug，功能探讨，那么要官网那么多文档何用？

[2021-11-18 01:57] lcmvs commented on #4138
这样的话，其实在一阶段，抛异常时报告分支状态前关闭连接，和finally里面关闭连接，是不是能够规避资源悬挂的问题？

[2021-11-18 04:39] a364176773 commented on #4138
个人觉得仅能改善，因为end和prepare不是一个原子动作，在end时，出现回滚去了其他rm回滚一样会找不到xa事务

[2021-11-18 05:58] lcmvs commented on #4138
prepare前断开连接，会释放资源。
既然释放资源了，其他rm执行回滚也无所谓了吧？也不会发生资源悬挂的问题。

[2021-11-18 07:15] zyplanke commented on #3566
MySQL版本不能高于8.0.22，高于则报此错

[2021-11-18 07:27] lizilove opened #4143 "A调用B B插入数据后 A抛出异常 B插入的数据不会回滚"
- [x] I have searched the [issues](https://github.com/seata/seata/issues) of this repository and believe that this is not a duplicate.

### Ⅰ. Issue Description
   用的seata-server版本1.4  客户端 1.4   demo用的seata-example  demo里面本身是order-server调用 stock-server  然后stock-server抛出异常，order-server发生回滚 这个没有问题  ，     我改写了逻辑为 order-server调用 stock-server插入数据  然后order-server再抛出异常，结果stock-server不会回滚 ， 断点查看undo_log也没

[2021-11-18 12:05] yoster0520 commented on #4141
你的C服务对于一些资源的写函数，是不是没有包@GlobalTransactional？
例如你C服务的方法C1写了order表，并且被A服务调用了
你的C服务中的其它方法也有写order表，但是没有被@GlobalTransactional包

[2021-11-18 13:09] happy89lgk commented on #4141
我把sharding升级到5.0.0,解决了一直是回滚重试PhaseTwo_RollbackFailed_Retryable，但是出现了新问题，我shading是动态分表，当前只有2021_sys_login_log表,也正确的按照分表规则插入进了2021_sys_login_log数据,但是为什么还要执行 select * from 2000_sys_login_log order by id asc limit 1,  select * from XXXX_sys_login_log order by id asc limit 1,由于这些表还没有创建报了下面的错误
2021-11-18 16:20:40 [http-nio-9202-exec-4] ERROR io.seata.rm.datasource.sql.struct.cache.AbstractTableMetaCache

[2021-11-18 13:15] a364176773 commented on #4141
这个堆栈是mysql驱动抛出来的,要问你自己,或者去问sharding社区看看,因为这sql不是seata发出的,只不过其中的connection有seata的代理,所以堆栈中出现了seata的一些类

[2021-11-18 13:26] a364176773 commented on #4138
如果在prepare之前时候发起了回滚,其余rm帮忙回滚的时候找不到这个事务,不就悬挂了?

[2021-11-18 14:57] duansheli opened #4145 "增加maven的描述信息"
## current is
https://mvnrepository.com/artifact/io.seata/seata-core/1.4.2

![image](https://user-images.githubusercontent.com/8579595/142439374-32a4fb74-73a7-4afc-b422-44fcc09c87fd.png)

## hope like this

https://mvnrepository.com/artifact/redis.clients/jedis/3.7.0

![image](https://user-images.githubusercontent.com/8579595/142439045-f0e27746-d558-48eb-a78e-8922d630e662.png)

[2021-11-19 03:01] cloudX2019 commented on #3566
这个问题新版本1.4.2以上 已经解决了（提供了自定义序列化的spi）。
自己在项目中实现JacksonSerializer接口即可

[2021-11-19 03:39] huifan commented on #1246
组织：深圳鹏行智能研究有限公司
地点：深圳
官网：www.pxing.com
联系方式：liyh@pxing.com
模式：AT
业务场景：微服务架构下解决分布式事务问题
![avatar](https://www.pxing.com/images/about-pc-1.png)
![鹏行智能](https://www.pxing.com/img/1630982735352.jpg)

[2021-11-19 08:01] ftdmao commented on #3872
....我也遇到了一样的问题。。各种检查都查不出什么原因

[2021-11-19 08:21] ftdmao commented on #3872
我的原因找到了。。是客户端漏了一个data-id没配置。。。。

[2021-11-19 09:37] he953481025-debug opened #4147 "AT模式下使用跨表更新时出现SQLTableSource强转错误"
堆栈信息如下

Caused by: java.lang.ClassCastException: com.alibaba.druid.sql.ast.statement.SQLJoinTableSource cannot be cast to com.alibaba.druid.sql.ast.statement.SQLExprTableSource
        at io.seata.sqlparser.druid.mysql.MySQLUpdateRecognizer.getTableName(MySQLUpdateRecognizer.java:129) ~[seata-all-1.3.0.jar:1.3.0]
        at io.seata.rm.datasource.exec.BaseTransactionalExecutor.getTableMeta(BaseTra

[2021-11-19 09:38] a364176773 commented on #4147
不支持join

[2021-11-22 05:45] yljcode1 opened #4148 "seata1.4.1版本启动出现链接不上的问题"
Unable to load authentication plugin 'caching_sha2_password'

[2021-11-22 05:45] yljcode1 commented on #4148
以前都能启动，突然就出现这个问题了

[2021-11-22 05:51] Pinocchio2018 commented on #4148
@yljcode1 能不能增加些情况描述呀。我在seata的代码里搜了搜caching_sha2_password，没什么结果啊

[2021-11-22 06:26] slievrly commented on #4145
@duansheli thanks for your feedback. Usually we use seata-all or seata-spring-boot-starter dependencies.

https://mvnrepository.com/artifact/io.seata/seata-all/1.4.2

![image](https://user-images.githubusercontent.com/8758457/142810845-999e61c4-bb85-41c3-9402-91ae04689128.png)

[2021-11-22 07:52] a364176773 commented on #4138
我们昨晚讨论了下，目前觉得引入全局锁和缓存将prepare跟二阶段串行有点把简单问题复杂化了，目前我们准备做的方式是直接在tc端增加对xa分支的二阶段重试时长，比如一个branch悬挂了，那么1分钟的时间进行重试，很大几率就可以解决悬挂，如果是因为正常的rpc timeout，导致tc不知道二阶段状态，也可以在1分钟后停止重试，认为其已被正常回滚，不知道你怎么看？

[2021-11-22 07:52] a364176773 commented on #4148
如果之前能连上现在连不上了，应该自己排查一下，根据这个提示，如果你是mysql8，请保证配置了驱动是mysql8的

[2021-11-22 08:42] lcmvs commented on #4138
你的意思是发生rm出现XAER_NOTA异常，不直接当作已经完成二阶段，而是进行重试，tc尝试重试一分钟，一分钟以后才当作二阶段已经完成？

这样的话，其实我在想，rm在执行prepare前，判断一下执行时间是否大于1分钟，如果大于直接抛异常？

[2021-11-23 01:30] a364176773 commented on #4138
是的，你说的方式也可以，但是难免会有误判，我觉得可以本地超时+tc超时，这样缓解了tc要1分钟进行重试多次的问题，你有没有兴趣提个pr来做这块？不明白的可以问我，你把钉钉号发我邮箱，我加你 364176773@qq.com

[2021-11-23 06:31] dyingstraw opened #4149 "解析ON CONFLICT(id) DO UPDATE sql报错"
- [x] I have searched the [issues](https://github.com/seata/seata/issues) of this repository and believe that this is not a duplicate.

### Ⅰ. Issue Description
执行PG数据库 sql  INSERT INTO department (id, dept, emp_id) VALUES (?, ?, ?) ON CONFLICT(id) DO UPDATE SET dept = ?, emp_id = ? WHERE department.id = ? 报错
### Ⅱ. Describe what happened

  If there is an exception, please attach the exception tr

[2021-11-23 06:42] a364176773 commented on #4149
https://seata.io/zh-cn/docs/user/sqlreference/sql-restrictions.html

[2021-11-23 06:46] #4148 closed

[2021-11-24 02:57] wuhewei opened #4150 "1.4.2版本config使用nacos的dataId配置项不支持yml文件格式配置，文件名也不能使用中划线-隔开，例如seata-server.properties是不行的"
如题

[2021-11-24 03:22] a364176773 commented on #4150
文件名不支持中划线隔开不是很明白是什么意思，yml会在1.5进行支持

[2021-11-24 03:33] wuhewei commented on #4150
好的，非常感谢回复，关于我设置dataId = "seata-server.properties"读取不到的问题，是因为group没配置对，个人操作问题。
@a364176773

[2021-11-24 03:34] #4150 closed

[2021-11-24 04:31] MorningGlow opened #4151 "单数据源,nacos配置中心的url改变,重新生成连接池,seata工作不正常,如下"
- [ ] I have searched the [issues](https://github.com/seata/seata/issues) of this repository and believe that this is not a duplicate.
2021-11-24 11:40:38.993  INFO [consumer,462cc55522ed533e,462cc55522ed533e] 4013 --- [io-22001-exec-1] io.seata.tm.TransactionManagerHolder     : TransactionManager Singleton io.seata.tm.DefaultTransactionManager@4da49c52
2021-11-24 11:40:38.999  INFO [consumer,,] 4

[2021-11-24 05:06] a364176773 commented on #4151
没有看到换数据源后的事务begin，begin是tm做的跟rm改变数据源没什么关系，你可以debug看下tm有没有去begin事务

[2021-11-24 07:05] MorningGlow commented on #4151
数据源配置更新后，原有的连接池关闭了，没有马上重建，直接调用接口后，seata全局事务失效了，没有进入

[2021-11-24 07:59] zjcnb commented on #2508
Hi, which one jar?

[2021-11-24 08:00] zjcnb commented on #2508
Hi, which one jar?

[2021-11-24 09:44] Pinocchio2018 opened #4152 "优化 Global lock acquire failed 异常打印 optimize Global lock acquire failed Exception print in log"
## Why you need it?
to make Global lock acquire failed Exception look better.
help user understand this Exception more easily

## How it could be?
A clear and concise description of what you want to happen. You can explain more about input of the feature, and output of it.
[code]

## Other related information

no

[2021-11-24 09:47] Pinocchio2018 commented on #4152
assign to Me

但我还没想好，tc端打印一句怎么样的 info 日志合适

[2021-11-24 10:09] Marko552 commented on #3529
请问现在解决了吗 我们现在也是这种

[2021-11-24 10:59] a364176773 commented on #4151
2021-11-24 11:42:52.640 INFO [consumer,0dc971efad538d89,0dc971efad538d89] 4013 --- [io-22001-exec-4] i.s.c.rpc.netty.RmNettyRemotingClient : will register resourceId:jdbc:mysql://10.32.36.131:3306/order
这个时候已经重建并注册了不是吗？如果没有马上重建，你进来的情况拿哪个datasource进行使用的？

[2021-11-25 01:30] helang0616 commented on #4143
是不是因为你两边都写了@GlobalTransactional

[2021-11-25 01:39] yljcode1 opened #4153 "多个调用中，GlobalTransation不生效"
- [ ] I have searched the [issues](https://github.com/seata/seata/issues) of this repository and believe that this is not a duplicate.

### Ⅰ. Issue Description
business服务调用order服务以及storage服务，在business服务TM上添加注解@GloabalTransaction,其中order服务又调用account服务来进行对account的修改，本身对order进行生成，在Order服务上添加注解@GloabalTransaction，当出现business服务出现异常时，account所操作的数据库并没用进行回滚，而其他的服务均进行回滚，导致全局事务不一致

### Ⅱ. Describe what hap

[2021-11-25 01:41] Pinocchio2018 commented on #4153
是说的seata-samples吧？具体哪个demo呢？

[2021-11-25 01:42] a364176773 commented on #4153
![image](https://user-images.githubusercontent.com/19943636/143352757-a7e87fda-e0e7-4b82-be60-417afb037123.png)
如图debug排查

[2021-11-25 01:44] yljcode1 commented on #4148
后面发现是驱动的原因，只要在seata的lib包下添加mysql8的驱动就可以了

[2021-11-25 01:51] yljcode1 commented on #4153
Communications link failure这个报错是说明没有代理数据源吗

[2021-11-25 01:53] yljcode1 commented on #4153
是springcloud-seata-demo的一个项目

[2021-11-25 02:40] a364176773 commented on #4153
要么就给出堆栈，就这个看不出来，你先debug这快代码

[2021-11-25 02:46] yljcode1 commented on #4153
![image](https://user-images.githubusercontent.com/92766952/143371009-97ee30dc-2355-47ed-bbd5-b412632fff82.png)

[2021-11-25 02:48] yljcode1 commented on #4153
我刚debug，在出错前有个库的undo_log文件没有生成记录，可能就是没有走代理数据源。
我后面手动配置数据proxy，他那边直接循环依赖了

[2021-11-25 02:49] yljcode1 commented on #4153
![Uploading image.png…]()

[2021-11-25 02:50] yljcode1 commented on #4153
![image](https://user-images.githubusercontent.com/92766952/143371421-e11bee45-9a54-4ae9-8d00-4ae18cd9392d.png)

[2021-11-25 05:51] yljcode1 opened #4154 "seata的调用使得出错"
- [ ] I have searched the [issues](https://github.com/seata/seata/issues) of this repository and believe that this is not a duplicate.

### Ⅰ. Issue Description
![image](https://user-images.githubusercontent.com/92766952/143387058-5bfc73cf-0169-4ba2-a3d6-01ec09148d1e.png)

### Ⅱ. Describe what happened

  If there is an exception, please attach the exception trace:

[code]

### Ⅲ. Describe what yo

[2021-11-25 05:52] a364176773 commented on #4154
这个异常是mysql驱动抛出来的，不是seata

[2021-11-25 05:54] a364176773 commented on #4153
我觉得代理应该成功了，而是你xid传递有问题，由于你没有xid传递成功，导致每个globaltransational下都begin了个新的事务，导致某些回滚，某些没回滚，调用的入口加globaltransational，其余被调用的微服务接口不要加，直接debug看下rootcontext里有没有xid

[2021-11-26 07:09] Pinocchio2018 commented on #3704
Assign to me
我准备改下配置名
像这样的都改下。比如 `seata.registry.redis.test.on.borrow`  改成  `seata.registry.redis.test-on-borrow`

[2021-11-26 09:05] #4154 closed

[2021-11-26 09:06] #4153 closed

[2021-11-26 09:06] lk101 commented on #4123
在java application启动命令中加入vm参数' --add-opens java.base/java.lang=ALL-UNNAMED'可以成功运行

主要原因是由于jdk9+引入了新的模块管理机制，导致之前jdk编译的类，都处于匿名模块状态，要调用jdk中命名模块的类，需要指定这个参数

目前这个解决方案还是个治标不治本的方案，好一点儿的话，建议官方提供不同jdk版本classifier的jar(maven)来解决此问题

当然，也可以自己fork源码编译，不过这一路依赖下来可真是要命

[2021-11-26 09:10] a364176773 commented on #4153
我发现你close了这个issue，方便的话请留下你的问题解决方案，以便帮助到更多相同问题的用户，谢谢

[2021-11-26 10:36] 303470934 opened #4155 "一直报错0318，不影响使用"
- [ ] I have searched the [issues](https://github.com/seata/seata/issues) of this repository and believe that this is not a duplicate.

### Ⅰ. Issue Description
seata可以正常工作，但是项目一直输出这个错误。我的Linux服务器已经重启过了，seata重新启动，项目重新启动，依然报错，依然无法解决。

### Ⅱ. Describe what happened

  If there is an exception, please attach the exception trace:

[code]

### Ⅲ. Describe what you expected to happen

### Ⅳ. How to repr

[2021-11-26 12:51] a364176773 commented on #4155
ping 你的seata服务器 延迟是多少?

[2021-11-26 14:29] 303470934 commented on #4155
ping 了5次，最大25ms。
目前是重启Linux，运行seata server，项目client也仅仅启动，并没有进行服务调用。仅仅是启动服务，未进行seata使用，就不停报错了。

[2021-11-26 14:46] a364176773 commented on #4155
直接将你的应用部署到seata-server所在服务器试试，先判断下是否网络因素

[2021-11-27 12:48] objcoding opened #4156 "关于客户端批量发送的优化处理"
当前RM客户端和TM客户端，默认都使用批量发送请求，其中TM客户端的请求消息会相对耗时，这会影响其他消息的响应时间。虽然RM客户端和TM客户端都有各自的批量发送线程模型，但只有一个批量发送的开关，无法精准控制RM客户端和TM客户端的批量发送请求。

[2021-11-29 02:35] 303470934 commented on #4155
今天什么都没动，试了下，又没有这个问题了。建议优化下这问题，因为除了seata的neety连接一直报超时，其他服务都非常正常，没有出现这个情况。
期待您这边的回复，如果两天内没回复，我就关闭这个问题了。

[2021-11-29 02:51] #4156 closed

[2021-11-29 03:39] a364176773 commented on #4155
你这个是个例问题，没有提供有价值的信息，初步判断应该很网络因素有关

[2021-11-29 03:56] 303470934 commented on #4155
问题先关闭了。我会持续跟踪。后续如果有其他发现，我会同步到这边的。

[2021-11-29 03:56] #4155 closed

[2021-11-29 04:36] a364176773 opened #4159 "RPC_PORT IS UNDEFINED"
- [ ] I have searched the [issues](https://github.com/seata/seata/issues) of this repository and believe that this is not a duplicate.

### Ⅰ. Issue Description
![image](https://user-images.githubusercontent.com/19943636/143809633-f4cfdf0a-0c30-4916-866d-88df8c8fcf23.png)

### Ⅱ. Describe what happened

  If there is an exception, please attach the exception trace:

[code]

### Ⅲ. Describe what yo

[2021-11-29 05:24] 303470934 commented on #4143
两边都写了@GlobalTransactional 才正确。我按照提问者的描述，同样的jdk和seata，复测了下，并没有发生不回滚的情况。请仔细检查下你的代码 。

[2021-11-29 07:07] Pinocchio2018 commented on #4100
现在seata server使用redis作注册中心时，使用了hash，redis中是这样存储的：
| key | field  | value  |
| -- | -- | -- |
|registry.redis.default  | 192.168.61.1:8091   | 24728@SHN2110917J3F3|
|                                 |  192.168.61.1:8092    |22944@SHN2110917J3F3|

在月会中提出的改造方案是：
1. 改用 redis 中的k-v来存值，给key加上一个expire time。
2. 在每个tc中建一个定时任务，去给这个key续命（每个tc续命自己的key）。

但是我现在遇到一个问题：

**如果这样改造，当seata客户端去做subscribe的时候，该如何从redi

[2021-11-29 08:53] dyingstraw commented on #4100
我们是这么做的：
不设置过期，但是每个TC会定时2T时间刷新自己在Redis的注册时间。并且每隔T时间，会拿出来所有注册到Redis 的TC间，判断当前时间与注册时间是否大于2T，如果大于，调Redis 的unregistry方法，同时客户端也会移除TC列表缓存。

[2021-11-30 02:05] luopan1990911 opened #4160 "applicationId: null, txServiceGroup: null-seata-service-group"
- [ ] I have searched the [issues](https://github.com/seata/seata/issues) of this repository and believe that this is not a duplicate.

### Ⅰ. Issue Description

### Ⅱ. Describe what happened

  If there is an exception, please attach the exception trace:

[code]

### Ⅲ. Describe what you expected to happen

### Ⅳ. How to reproduce it (as minimally and precisely as possible)

1. 启动项目就是提示applicatio

[2021-11-30 02:19] a364176773 commented on #4160
https://gitee.com/itCjb/spring-cloud-alibaba-seata-demo
（上述demo内附1.3整合文字版）
Seata整合1.2教程: https://www.bilibili.com/video/BV12Q4y1A7Nt

升级1.3教程: https://www.bilibili.com/video/BV1Cf4y1X7vR

[2021-11-30 02:19] #4160 closed

[2021-11-30 03:46] #4159 closed

[2021-11-30 05:40] a364176773 commented on #4152
建议直接改成debug，或者打印msg即可

[2021-11-30 05:41] a364176773 commented on #4152
因为rm一定会打印，tc就不是很重要了

[2021-11-30 05:44] zzhangzd opened #4161 "Seata接入Redis哨兵集群失败"
- [ ] I have searched the [issues](https://github.com/seata/seata/issues) of this repository and believe that this is not a duplicate.

### Ⅰ. Issue Description
Seata1.4.2版本，接入Redis哨兵集群的时候，假如哨兵节点配置密码的话，jedis客户端接入失败，报权限认证失败的错误。jedis客户端不支持sentinel节点设置密码,JedisSentinelPool 类中，74行 sentinelPassword 项默认为null导致的。
假如将客户端改为spring-boot-starter-data-redis， 2.3.4.RELEASE版本以上可配置sentinelPassword

### Ⅱ. Describe

[2021-11-30 05:48] a364176773 commented on #4161
client端没有使用redis，tc端的redis用的Jedis，跟spring-boot-starter-data-redis无关，如果你是client端连不上redissentinel，那么跟seata是无关的

[2021-11-30 06:05] zzhangzd commented on #4161
是我上面的说明写的有点偏差，seata1.4.2版本里面用的是jedis，服务端配置redis哨兵模式的时候，假如哨兵节点设置了密码，seata服务端是连接不是redis的
14:04:47.094  WARN --- [                     main] redis.clients.jedis.JedisSentinelPool    : Cannot get master address from sentinel running @ *.*.*.*:26379. Reason: redis.clients.jedis.exceptions.JedisDataException: NOAUTH Authentication required.. Trying next one.
Exception in thread "main" redis.clients.jedi

[2021-11-30 13:10] a364176773 commented on #4161
![image](https://user-images.githubusercontent.com/19943636/144053234-aa33c8aa-9631-4164-9455-a694ecd24b0d.png)

[2021-11-30 13:13] a364176773 commented on #4161
![image](https://user-images.githubusercontent.com/19943636/144053651-d18f11f9-461d-4a06-a271-4d9a418edb73.png)

[2021-12-01 03:53] #3704 closed

[2021-12-01 08:04] wanqiu410 commented on #3647
是不是加了动态数据源，且把分表数据源加入到多数据源管理里，是的话，是的话，有可能是加入到多数据源时候，使用了@Lazy注解导致的，去掉这个注解应该就好了

[2021-12-01 09:05] zzhangzd commented on #4161
![image](https://user-images.githubusercontent.com/16184461/144204338-65653b51-e6c1-4dce-a0ea-817039cbcc2f.png)

[2021-12-01 09:13] zzhangzd commented on #4161
@a364176773 您图中的密码是master和slave节点的密码，sentinel节点假如也设置了密码，jedis是不支持设置的，seata1.4.2里面是取不到sentinel节点的密码的
![image](https://user-images.githubusercontent.com/16184461/144205692-4db2584c-c278-4629-bc6e-cdd56aa21059.png)

[2021-12-01 11:49] akgnumber opened #4164 "全局事务方法中调用mybatis plus的方法报错"
seata 1.3 1.4在全局事务的service中调用mybatis plus自带的wapper 进行增删改查数据报错
Caused by: org.apache.ibatis.executor.ExecutorException: Error preparing statement.  Cause: com.alibaba.druid.sql.parser.ParserException: [C@2776ea88 is not a number! pos 182, line 1, column 181, token LITERAL_FLOAT
	at org.apache.ibatis.executor.statement.BaseStatementHandler.prepare(BaseStatementHandler.java:97)
	at org.apache.ibatis.

[2021-12-01 13:48] a364176773 commented on #4164
druid抛出的异常,建议将建表信息和sql及异常堆栈,发一个issue到druid社区

[2021-12-01 15:24] a364176773 commented on #4161
明白了，你愿意提个pr来支持它吗？

[2021-12-02 06:17] InGramViking opened #4166 "K8s环境下使用SLB创建service后服务报警告"
- [-] I have searched the [issues](https://github.com/seata/seata/issues) of this repository and believe that this is not a duplicate.

### Ⅰ. Issue Description
Kubernetes环境下使用LoadBalancer创建service后，pod报java.io.IOException: Connection reset by peer

### Ⅱ. Describe what happened

  If there is an exception, please attach the exception trace:

[code]

### Ⅲ. Describe what you expected to happen
修复停

[2021-12-02 06:22] #3484 closed

[2021-12-02 06:22] #3711 closed

[2021-12-02 09:56] lcmvs opened #4167 "xa模式originalConnection已关闭，导致二阶段无法执行"
- [x] I have searched the [issues](https://github.com/seata/seata/issues) of this repository and believe that this is not a duplicate.

### Ⅰ. Issue Description

xa模式originalConnection已关闭，导致二阶段无法执行

### Ⅱ. Describe what happened

xa模式，二阶段无法执行，无限重试

### Ⅲ. Describe what you expected to happen

xa模式，二阶段正常执行

### Ⅳ. How to reproduce it (as minimally and precisely as possible)

1. 将业务数据库设置成read only
2

[2021-12-03 07:00] MumfordSons opened #4170 "使用canal监听能监听到抛异常前插入的数据和抛异常后回滚删除的数据"
有啥办法解决吗

[2021-12-03 08:22] tanzzj commented on #4170
Seata的AT模式是在框架级做的全局事务，实际上TM/RM/TC的数据交互是数据库级别的，canal基于binlog进行数据同步，肯定是可以监听到全局事务未提交，但本地事务已经提交的消息

[2021-12-03 09:51] zzhangzd commented on #4161
欧克，很荣幸能参与进来

[2021-12-04 14:40] slievrly commented on #4166
Long connections through load balancing will lead to load imbalance. It is recommended to use the registry to expose services.

[2021-12-04 16:20] lmxdawn commented on #3620
1.4.2 依旧有问题，mysql驱动 改成 8.0.22 可以正常运行

[2021-12-04 16:34] #4167 closed

[2021-12-06 02:52] hylyLLL opened #4171 "执行原生sql生成主键进行插入报错"
我的sql是原生sql，然后我生成主键是表达式，seata判定成了自增主键生成，但实际上我数据库并没有配置自增，就导致抛出错误
Caused by: io.seata.common.exception.ShouldNeverHappenException: null
        at io.seata.rm.datasource.exec.mysql.MySQLInsertExecutor.getPkValuesByAuto(MySQLInsertExecutor.java:119)
        at io.seata.rm.datasource.exec.mysql.MySQLInsertExecutor.getPkValuesByColumn(MySQLInsertExecutor.java:159)
        at io.seata.rm.datasource.exec

[2021-12-06 02:52] hylyLLL commented on #4171
seat版本为1.4，是seata不支持这种写法吗

[2021-12-06 02:56] a364176773 commented on #4171
sql发出来

[2021-12-06 02:58] hylyLLL commented on #4171
insert (id,name) values(replace(uuid(),'-',''),'张三')
类似这种的

[2021-12-06 03:58] a364176773 commented on #4171
目前不支持

[2021-12-06 06:00] hylyLLL commented on #4171
好的，谢谢

[2021-12-06 08:07] #4166 closed

[2021-12-06 08:26] MumfordSons commented on #4170
了解了，感谢。 所以同时使用这两框架有冲突。

[2021-12-06 08:26] #4170 closed

[2021-12-06 08:30] a364176773 commented on #4170
你可以使用tcc，saga或xa

[2021-12-06 08:30] tanzzj commented on #4170
其实不能说有冲突，回滚的log对canal来说肯定也能监听到，最终会一致

[2021-12-06 08:31] MumfordSons commented on #4170
好的，我去了解下，谢谢

[2021-12-06 08:34] MumfordSons commented on #4170
不好意思，表达的意思不够准确，主要是我这边项目中会有用到canal做些异步消息下发，如果是用at模式，就会导致异常前会提前下发消息

[2021-12-07 09:44] Pinocchio2018 opened #4172 "close() method in RedisRegistryServiceImpl was invoked twice during seata server shutting down"
- [x] I have searched the [issues](https://github.com/seata/seata/issues) of this repository and believe that this is not a duplicate.

### Ⅰ. Issue Description
**in version 1.5.0-SNAPSHOT**
I start seata server in IDEA. I meet `java.lang.IllegalStateException: Pool not open` error log  while shutting down seata server.
I use redis as registry center.

### Ⅱ. Describe what happened

 I see this er

[2021-12-07 10:45] Pinocchio2018 commented on #4172
assign to me

[2021-12-07 13:08] slievrly opened #4173 "delete undo log connection already closed"
- [ ] I have searched the [issues](https://github.com/seata/seata/issues) of this repository and believe that this is not a duplicate.

### Ⅰ. Issue Description
delete undo log connection already closed
![image](https://user-images.githubusercontent.com/8758457/145034753-ad97aaed-e08c-41b1-bf94-1db6e16c547d.png)

### Ⅱ. Describe what happened

  If there is an exception, please attach the exceptio

[2021-12-07 13:22] BruceAn1978 opened #4175 "每隔2秒钟就会输出一次事务日志"
如题，每隔2秒钟就会输出一次事务日志，其实这会没有任何事务。很均匀，每2秒钟就会输出4行INFO级别的日志（没有ERROR级别错误），日志内容如下：
2021-12-07 21:18:51  INFO SeataMergeMessage timeout=60000,transactionName=degradeCheck
,clientIp:172.16.2.93,vgroup:gzc-pre io.seata.core.rpc.processor.server.BatchLogHandler
2021-12-07 21:18:51  INFO Begin new global transaction applicationId: interface,transactionServiceGroup: gzc-pre, transactionName: degradeCheck,timeou

[2021-12-07 13:23] BruceAn1978 commented on #4175
是有事务失败，一直在重试？从哪里可以找找问题？

[2021-12-07 13:28] slievrly commented on #4175
@BruceAn1978

`seata.tm.degradeCheck=true`

[2021-12-07 13:29] slievrly commented on #4175
the configuration item default value is false.

[2021-12-08 03:05] #4173 closed

[2021-12-08 04:34] fengkuangdefc opened #4178 "Seata整合Nacos后分布式事务失效"
seata-server使用1.4.1，使用file模式的时候分布式事务正常回滚。使用db模式并整合nacos后，分布式事务试下，发生异常时两个服务的的数据均为回滚
下面是控制台打印的日志：
[code]
下面是seata-server打印的日志
[code]
下面是测试代码
[code]
订单服务Seata相关配置
[code]
注册中心截图
![image](https://user-images.githubusercontent.com/30796442/145149122-d1e9b6bf-6517-4a33-b46a-5255042096ca.png)
配置中心截图
![image](https://user-images.githubusercontent.com/30796442/145149203-c234582f-5de5-4044-bcd7-4b57f7f2790e.

[2021-12-08 05:34] a364176773 commented on #4178
升级1.3教程: https://www.bilibili.com/video/BV1Cf4y1X7vR     兼容到最新版本该教程
 https://gitee.com/itCjb/spring-cloud-alibaba-seata-demo
（上述demo内附1.3整合文字版）

[2021-12-08 05:34] #4178 closed

[2021-12-08 06:54] mojieshui opened #4179 "注册发现功能和配置管理功能是否可以插件化，不随版本发布即插即用"
## Why you need it?
1. 就像linux内核的发行周期不符合业务团队的诉求，ebpf允许插件化的将功能内置在OS。当我们期望合入注册发现和配置管理能力，需要等待seata的发行
2. 随着合入的注册发现和配置管理impl越来越多，编译构建出的包也会随之增大，没有裁剪。

## How it could be?
我需要一种插件化的机制，能够开发这些插件，接入到自己的系统当中。

## Other related information
seata对注册发现和配置管理有哪些技术规格约束，是否存在约束？

[2021-12-08 07:19] a364176773 commented on #4179
不需要用的模块可以exclusion，比如nacos apollo你不使用，就可以exclusion

[2021-12-08 08:54] SDuper opened #4180 "关于TCC fence的一些疑惑"
看了下1.5.0-snapshot版本中，关于tcc的悬挂，空回滚，幂等的处理方式是采用的 tcc_fence_log表来解决的。但是还有几个疑惑的问题一直没想明白，想请教下。
1：prepare 方法 被包在了 transactionTemplate.execute方法中，如果发生异常，会被本地事务回滚，然后tcc_fence_log表中就没有对应的数据，导致rollback方法的时候，只会往 tcc_fence_log表中插入一条状态为：STATUS_SUSPENDED=4的记录。然后就结束了；
   这样感觉tcc模式就强依赖数据库的事务了，如果prepare 方法中有些redis之类的操作，本来发生异常时期望在rollback中做逆操作来恢复，但是用了fence之后，但凡能执行rollback的时候，tcc_fence_log都是没有对应记录的，不会执行业务方真正写在rollbac

[2021-12-08 09:02] a364176773 commented on #4180
1.正常情况，做防止资源悬挂的措施，包括at也是插一条status=1的undolog来防止的
你要理解tcc是什么，1阶段预留资源，二阶段使用资源，所以本身就是利用了本地事务的特性来达到原子性和隔离性，你拿redis来举例是没用的，因为redis没用真正的事务，如何预留资源和使用资源呢，tcc是tcc，利用tcc一阶段空执行二阶段来插入redis数据，那只是利用，而不是真正的tcc
2.发生的记录较低，可以手动删，但是我觉得也可以清除，可以一起讨论下
3.以防万一作用

[2021-12-08 09:03] a364176773 commented on #4180
redis，mongodb等不提供防悬挂功能，目前只支持数据库

[2021-12-08 12:21] wanglaomo opened #4181 "被SpringBootConfigurationProvider代理的FileConfiguration怎么刷新配置"
## Why you need it?
spring-boot-starter中FileConfiguration被SpringBootConfigurationProvider代理，当我想要刷新Seata配置时（eg：关闭全局事务），我发现是没有入口的。

## How it could be?

## Other related information

[2021-12-08 12:54] Brainhu commented on #3147
server在k8s容器里面，client 需要代理访问server 呢？怎么弄？

[2021-12-08 12:58] a364176773 commented on #4181
目前是无法刷新的,建议通过专门的配置中心来处理

[2021-12-08 13:24] wanglaomo commented on #4181
修改io.seata.spring.boot.autoconfigure.properties下的Properties类，通过FileListener的onChangeEvent，可以实现类似动态刷新的效果，这种方法推荐吗？

[2021-12-08 15:11] a364176773 commented on #4181
可以改源码,刷新application-xxx.yml或properties,或者特定文件,或者spi扩展自己的配置中心

[2021-12-09 01:57] lvekee opened #4182 "Data remanence problems in lock and branch under specific circumstances"
## Why you need it?
Data remanence is known to occur in the following cases
1.After lock acquisition the machine goes down，the lock data will remain
2.When the lock is obtained, the TC phase II rollback happens when the branch is registered, and the lock and branch will remain
If you want to fix it, please comment "Please assign it to me" is this issue.

已知在以下情况会发生数据残留
1.lock获取到宕机，将残留lock数据
2.lock

[2021-12-09 02:02] lvekee opened #4183 "TC batch response to client"
## Why you need it?
Put the response into the queue corresponding to the channel and respond to the client regularly and in batches to avoid thread end blocking.
If you want to fix it, please comment "Please assign it to me" is this issue.

response放入channel对应的queue，定时批量响应给client，避免线头阻塞。
如果你有兴趣修复这个问题的话, 请在下方留言 Please assign it to me

## How it could be?
A clear and concise description of what you

[2021-12-09 02:04] lvekee opened #4184 "Use a dataid to store all configuration items"
## Why you need it?
Use a dataid to store all configuration items
If you want to fix it, please comment "Please assign it to me" is this issue.

使用一个dataid存放所有配置项
如果你有兴趣修复这个问题的话, 请在下方留言 Please assign it to me

## How it could be?
A clear and concise description of what you want to happen. You can explain more about input of the feature, and output of it.

## Other related information
Add any other

[2021-12-09 02:18] objcoding commented on #4182
Please assign it to me

[2021-12-09 02:43] a364176773 commented on #4183
如果改成这种类型，要考虑下是否向下兼容，比如client是老版本时才采用这种方式，将server端老的处理逻辑保留，如果client是老版本的发来批量request就按老的方式处理，需要在request中加个版本标识，以标明发请求的是什么版本的client，如果没有标识，就代表是老的
If you change to this type, you must consider whether it is backward compatible. For example, this method is used when the client is an old version, and the old processing logic on the server side is retained. If the client is an old version, the batch requ

[2021-12-09 06:02] BruceAn1978 commented on #4175
@slievrly 我用的是1.4.2版本，配置项是不是这个：seata.client.tm.degrade-check:true，默认就是true。

[2021-12-09 09:19] a364176773 commented on #4182
此问题仅出现再网络不稳定或tc宕机的极端情况下，但是需要有一个兜底的处理，欢迎大家在此讨论或认领该任务
This problem only occurs in extreme situations where the network is unstable or the service is down, but there needs to be a way to deal with it, and everyone is welcome to discuss or receive this task here

[2021-12-09 09:19] Bourne1314 opened #4185 "用达梦数据库feign调用时，一直报这个错误：io.seata.common.loader.EnhancedServiceNotFoundException: not found service provider for : io.seata.sqlparser.druid.SQLOperateRecognizerHolder"
- [ ] I have searched the [issues](https://github.com/seata/seata/issues) of this repository and believe that this is not a duplicate.

### Ⅰ. Issue Description
the error happening when I using DM databse through feign to operation my data in DM database达梦数据库;
io.seata.common.loader.EnhancedServiceNotFoundException: not found service provider for : io.seata.sqlparser.druid.SQLOperateRecognizerHold

[2021-12-09 09:33] SDuper commented on #4180
好的，知道了，感谢答疑！

[2021-12-09 09:33] #4180 closed

[2021-12-09 09:41] a364176773 commented on #4185
如何引入的？

[2021-12-09 11:36] Bourne1314 commented on #4185
多谢，是引入错误。多谢啦。开发者人美心善。

[2021-12-09 11:36] #4185 closed

[2021-12-10 01:07] BruceAn1978 commented on #4175
是要改成false吗？

[2021-12-10 01:44] alvin-su opened #4188 "希望支持 .NET 6"
希望能支持 开源版本的 .NET 6.

[2021-12-10 06:06] 852675742 commented on #2784
请问下我加了自定义的LoadBalancerFeignClient，然后会走SeataLoadBalancerFeignClient，请问怎么强制走我自定义的LoadBalancerFeignClient

[2021-12-10 09:14] a364176773 opened #4190 "support rpc timout can be customized"
- [ ] I have searched the [issues](https://github.com/seata/seata/issues) of this repository and believe that this is not a duplicate.

### Ⅰ. Issue Description
When you need to fail quickly or the business itself takes longer, the default 30-second configuration cannot provide flexible control
当业务需要更长的二阶段处理时，过短的30stimeout配置可能无法满足需求，反之需要快速的失败时，也无法得到处理，反而阻塞线程更长时间，需要进行优化

### Ⅱ. Describe what happen

[2021-12-10 09:15] objcoding commented on #4190
Please assign it to me.

[2021-12-11 03:11] liubao68 opened #4192 "提供servicecomb-service-center的注册中心支持"
## Why you need it?

[servicecomb-service-center](https://github.com/apache/servicecomb-service-center) 提供了微服务注册、实例查询、心跳管理等基础的注册中心功能。并能够应用于Spring Cloud、servicecomb-java-chassis、Dubbo等微服务开发框架。在客户应用系统选择servicecomb-service-center的场景下， 期望能够使用eata分布式事务解决方案。

seata提供了很好的扩展，支持不同的注册中心，目前已经包含zookeeper， earuka, nacos等。

## How it could be?

支持 servicecomb-java-chassis 作为注册中心。

## Other related information

[2021-12-11 08:49] liucaijin opened #4193 "[discuss] Why seata use "channel pool ""
## What I want to konw?
netty channel is thread-safe，why need pool? why need borrowObject?

[code]

[code]

[2021-12-12 05:38] Green524 opened #4194 "> 关掉了，是解决了么，我是只用了@GlobalTransactional。"
我也想知道怎么解决

_Originally posted by @junjiex123 in https://github.com/seata/seata/issues/3176#issuecomment-768115104_

[2021-12-12 05:39] Green524 commented on #4194
解决了吗

[2021-12-12 05:52] a364176773 commented on #4194
不是bug,官网faq

[2021-12-12 05:52] #4194 closed

[2021-12-12 13:15] lightClouds917 opened #4195 "docs: the console interface docs"

[2021-12-13 01:16] Brainhu commented on #3147
你们目前是这样上的生产吗？安全不。

[2021-12-13 03:46] objcoding commented on #4182
Please assign it to me

[2021-12-13 10:00] tiantiankexiao opened #4200 "事务提交后，查询到的数据仍然是未提交之前的数据，多次查询之后，就能查到更新后的数据"
### Ⅰ. Issue Description
在做退款功能时，事务使用了本地事务@Transactional注解。一开始我查询到的退款单是待退款状态(如果是其他状态会抛异常)，然后进行了一系列操作。最后将退款单修改为退款成功状态，在代码执行期间使用了分布式锁。

当前端连续发送同一请求的时候，第一次事务执行完毕，第二次执行代码发现查询该退款单还是待退款状态(应该是退款完成状态才对)，第三次依旧如此，直到有一次查询到的退款单是退款完成状态

但是当事务使用@GlobalTransactional 注解时，就不会出现上述情况。代码第一次执行之后，第二次执行查询到的退款单就是退款完成的状态。
整个操作并不涉及多个库的分布式事务，为什么会发生上述情况？

### Ⅵ. Environment:

- JDK version :  1.8.0_181
- Seata version: 1.3.0

[2021-12-13 11:09] a364176773 commented on #4200
seata没有对事务隔离级别做强制设置，你也没用globaltransational去发起事务，不会对你业务有任何影响，跟seata无关

[2021-12-13 11:18] #4200 closed

[2021-12-13 12:19] 172859790 opened #4201 "oracle多用户+seata+mybatis-plus get table meta of the table `T_COMPANY` error: Failed to fetch schema of T_COMPANY"
- [ ] I have searched the [issues](https://github.com/seata/seata/issues) of this repository and believe that this is not a duplicate.

### Ⅰ. Issue Description
环境：
springcloud项目
oracle数据库多用户
mybatis-plus 保存，id 类型为 input，使用序列填充主键
保存时报错：get table meta of the table `T_COMPANY` error: Failed to fetch schema of T_COMPANY
java.sql.SQLException: Failed to fetch schema of T_COMPANY

项目连接配置的是A用户，通过A用户给B用户

[2021-12-13 12:54] GoodBoyCoder commented on #4201
这种情况需要写全表的路径，否则会以连接默认的用户名去查询，自然查不到

[2021-12-13 14:39] slievrly opened #4203 "[Announce] Log4j CVE-2021-44228 安全漏洞影响说明"
# [CVE-2021-44228](https://github.com/advisories/GHSA-jfh8-c2jp-5v3q) Announce
 Recently, the mainstream log framework [log4j2](https://logging.apache.org/log4j/2.x/) was reported with a severe security vulnerability [CVE-2021-44228](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2021-44228).

 The following is a summary of the impact of this vulnerability [CVE-2021-44228](https://github
 .com

[2021-12-14 01:59] tiantiankexiao commented on #4200
确实与seata无关,感谢你的回复

[2021-12-14 03:33] #4201 closed

[2021-12-14 07:00] lightClouds917 opened #4204 "feature : console call seata server"
discuss the feature about  console call seata server

[2021-12-14 07:02] a364176773 commented on #4204
如果跟server集成在一起继续检查一下，如果是的话直接内部调用，不是的话转http，可以用resttemplate
可以做2个实现，可以构建2个bean加个conditionalonbean，确认有某个bean存在，就走本地调用的实现，如果没有就走http调用的实现

[2021-12-14 08:28] slievrly commented on #4192
@liubao68 looking forward to your PR.

[2021-12-14 08:29] slievrly commented on #4190
Why is the issue not closed automatically?

[2021-12-14 08:32] slievrly commented on #4193
@liucaijin If the long connection is not active or not writeable, you can retrieve the available long connection from the connection pool to reduce the time for synchronous connection creation.

[2021-12-14 10:06] mengzhigang opened #4205 "Why run with branch type saga, the field status of global_table is began when the transaction is finish?"
写了个测试项目，跑了下saga模式，存储都是mysql存储，
1.  结果是第一次能正确跑完的，第二次的时候报io.seata.core.exception.BranchTransactionException: Global lock acquire failed xid ...
2.  global_table里的事务的状态时1，是begain状态，重新启动项目的时候，疯狂重试。研究一个星期都没整明白
3.  我看DefaultCoordinator里有个DefaultCore，我随便翻翻便找到个SagaCore，我尝试替换了下，结果client端报xid为null空指针，持续懵逼

希望大佬能帮我解惑，膜拜大佬：）

[2021-12-14 10:28] mengzhigang commented on #4205
This is the image when SagaCore replace DefaultCore.
![截屏2021-12-14 下午6 19 47](https://user-images.githubusercontent.com/37127400/145980968-81788b5d-6a83-40cc-9e63-b9cb17afab08.png)
![截屏2021-12-14 下午6 20 46](https://user-images.githubusercontent.com/37127400/145981015-b71d2fd1-526c-4287-bbb8-3985af0a3885.png)

[2021-12-14 10:57] liucaijin commented on #4193
thanks

[2021-12-14 10:57] liucaijin commented on #4193
thanks

[2021-12-14 10:57] #4193 closed

[2021-12-14 11:29] lightClouds917 commented on #4195
全局事务状态枚举：
[code]
分支事务状态枚举：
[code]
分支类型枚举：
[code]

[2021-12-14 11:29] lightClouds917 commented on #4195
全局事务状态枚举：
[code]
分支事务状态枚举：
[code]
分支类型枚举：
[code]

[2021-12-14 11:38] lightClouds917 commented on #4195
1.console/globalSession/queryByStatus
接口名称：获取全局事物信息列表
方法类型：get
入参：
applicationId String 应用id
withBranch boolean true:带分支事务信息，false:不带分支事务信息
status：全局事务状态
出参：
[code]

[2021-12-14 11:58] lightClouds917 commented on #4195
3./console/globalLock/queryByTable
接口名称：获取全局锁列表
方法类型：get
入参：
tableName String 表名称（业务表表名称） 非必须

出参：
[code]

[2021-12-14 13:53] a364176773 commented on #4205
saga模式记得关闭数据源自动代理,如果你依赖的seata-all 请不要手动代理

[2021-12-15 01:29] leiminghany commented on #2500
How to use `TransactionHook` to hook the global transaction event?
 any reference document？

[2021-12-15 03:52] jsbxyyx opened #4206 "refactor rpc protocol interface for support other rpc protocol implemention"
## Why you need it?
 Is your feature request related to a problem? Please describe in details

## How it could be?
A clear and concise description of what you want to happen. You can explain more about input of the feature, and output of it.

## Other related information
Add any other context or screenshots about the feature request here.

[2021-12-15 06:41] ddddddduan commented on #4097
大佬，问题解决了么？什么原因造成的，怎么解决的能否指点下

[2021-12-15 09:30] mengzhigang commented on #4205
听了大佬的意见，在我本地测试成功了，但在项目上又出现了问题
项目上自己拿到了sqlSessionFactory做commit操作，然后跑去做branchregister，结果上锁失败，好像是往lock表里插数据的时候失败。

[2021-12-15 12:14] leiminghany opened #4207 "对数据单个记录的修改操作，会产生两条分支事务"
- [ ] I have searched the [issues](https://github.com/seata/seata/issues) of this repository and believe that this is not a duplicate.

### Ⅰ. Issue Description
使用AT模式，每次对数据的单个修改，都会产生两个分支事务提交，其中有一个为包含了undolog自己的修改。
![图片](https://user-images.githubusercontent.com/4607445/146184244-f17ad83b-8dcb-4b5f-a53c-4084fb60d4fe.png)

比较下rollback_info,  第2条记录包含第1条记录的内容和undolog的修改。
第一条：
[code]

第二条：

[code]

能否

[2021-12-16 07:59] zhangcly opened #4208 "there is Inconsistent configuration in SeataDataSourceAutoConfiguration and SeataAutoConfiguration"
- [X] I have searched the [issues](https://github.com/seata/seata/issues) of this repository and believe that this is not a duplicate.

### Ⅰ. Issue Description
when i set 'seata.enabled' to 'false' in my  `application.properties` with seata-spring-boot-starter,  there was exception
### Ⅱ. Describe what happened

[code]

### Ⅲ. Describe what you expected to happen
`SeataDataSourceAutoConfiguration

[2021-12-16 08:05] #4208 closed

[2021-12-16 08:05] a364176773 commented on #4208
develop Fixed

[2021-12-16 10:34] anonymous-lj opened #4211 "Could not found global transaction xid = %s, may be has finished"
使用jmeter本地测试时，并发数越高越容易复现，出现xid找不到情况
![image](https://user-images.githubusercontent.com/54050325/146354295-8dc0e1ec-ceeb-4d9b-9446-92bf35a3315f.png)

官方文档FAQ26，提出来的可能原因，已经确认过是没有的，A调用B、C两个服务，只是简单的数据插入
1. 未发生超时异常
2. B、C服务未发生异常，但是B、C服务会出现请求TC找不到xid情况
3. 单节点与多节点TC一样会复现，不存在时区导致异常
4. com.alibaba.cloud.seata.web.SeataHandlerInterceptor的afterCompletion在断点过程RootContext.getXID()一直是null，也不是绑定未清除

而且TC会爆出如下异常

[2021-12-16 10:38] anonymous-lj commented on #4211
依赖配置如下

[2021-12-16 10:43] anonymous-lj commented on #4211
依赖配置如下
seata-spring-boot-starter 1.4.2
spring-cloud-starter-alibaba-seata 2.2.7.RELEASE
![image](https://user-images.githubusercontent.com/54050325/146356397-da215b91-637d-4c14-89b8-2d36b54e852c.png)

代码逻辑如下
![image](https://user-images.githubusercontent.com/54050325/146356489-9257c121-9aea-4732-8bdd-3ec2a98397d4.png)
![image](https://user-images.githubusercontent.com/54050325/146356517-5c000aeb-c

[2021-12-17 02:52] wechat361 commented on #3508
问题解决了没，我也遇到这种情况了

[2021-12-17 03:15] menghuan123 opened #4214 "Seata为什么自称为高性能?"
Seata为什么自称为高性能? 能总结一下哪里实现是高性能吗？

[2021-12-17 03:22] a364176773 commented on #4214
https://blog.funkye.icu/2020/10/09/seata-at-xa/

[2021-12-17 05:09] menghuan123 commented on #4214
没有看到哪里有高性能的体现,后期会有undoLog压缩的规划,大佬有seata为了实现高性能做了哪些优化的文档吗？

[2021-12-17 07:35] a364176773 commented on #4214
都全面解析对比了传统分布式事务XA了，还不明白为什么高性能吗？
undolog压缩1.4.2已经有了，提升了大量数据修改时undolog的读取和插入效率
redis模式提升了计算与存储分离下的性能
AT解析，一阶段提前释放本地锁，二阶段决议提交时释放全局锁，无需将数据锁定持续到二阶段结束，这里就已经相对传统二阶段事务尤其是XA提升了，TCC XA 都需要二阶段驱动，而AT模式在二阶段决议提交时分布式事务就已经完成了，无需再次驱动rm进行二阶段动作
这些都是细节，你能看仔细理解吗？

[2021-12-17 07:35] a364176773 commented on #4211
官网faq

[2021-12-17 07:35] #4211 closed

[2021-12-17 07:49] #4190 closed

[2021-12-17 08:38] anonymous-lj commented on #4211
如果是框架内可预测的事件导致了全局事务被删 TC端应该能打印出对应日志吧 可是TC端没发现关于被这条异常XID被删除的日志

[2021-12-17 08:41] anonymous-lj commented on #4211
![image](https://user-images.githubusercontent.com/54050325/146515298-216ba808-784d-45a5-a26f-9b44fda05dfd.png)

[2021-12-17 08:51] anonymous-lj commented on #4211
这条xid 总耗时才320ms 已有的答案验证过才来找你们的 无奈
![image](https://user-images.githubusercontent.com/54050325/146516191-5e19eed3-db51-4fcf-9621-8086f9caf10e.png)

[2021-12-17 09:17] sabersword commented on #3529
同问,seata能不能支持云原生注册中心

[2021-12-17 09:30] #4205 closed

[2021-12-17 09:47] mengzhigang opened #4215 "springcloud整合saga模式，使用seata-spring-boot-starter报错"
在实际项目中，使用seata-spring-boot-starter整合了seata，我使用了seata-sample里的eureka的例子整合saga模式，一开始用maven的spring-cloud-alibaba-seata依赖没问题，后来转为seata-spring-boot-starter，结果出现问题：
![截屏2021-12-17 下午5 36 11](https://user-images.githubusercontent.com/37127400/146525171-583a1269-5ce3-4b93-9243-a7dcf81e59b6.png)
![截屏2021-12-17 下午5 37 23](https://user-images.githubusercontent.com/37127400/146525213-85656af7-e5bd-4753-9583-6

[2021-12-17 10:51] menghuan123 commented on #4214
可以的,感谢大佬解答

[2021-12-20 04:04] anonymous-lj commented on #4211
数据库读写分离导致

[2021-12-20 04:36] a364176773 commented on #4211
我记得官网有说不要用读写分离的

[2021-12-21 02:26] naisamendoza opened #4218 "Plan to support the latest Spring Boot/Cloud Versions"
## Why you need it?
 Is your feature request related to a problem? Please describe in details

We have recently upgraded our projects to the latest spring versions and it seemed it has a conflict with eureka. We tried fixing it and we manage to run it but it's not rollbacked correctly. Since the latest eureka doesn't have archaius library anymore, it having conflict with CustomEurekaInstanceConfig

[2021-12-21 03:49] Heuan opened #4219 "mysql数据库的undo_log表"
1.mysql数据库的undo_log表 什么版本去掉了自增主键的，1.4.2试过会报缺少id
2.mysql 插入undo_log 会出现 Lock wait timeout exceeded，它的自增主键已经到了id=216500614769430529

[2021-12-21 05:36] a364176773 commented on #4219
问题1不存在，所以问题2不存在

[2021-12-21 05:36] #4219 closed

[2021-12-21 05:36] #4214 closed

[2021-12-21 05:37] a364176773 commented on #4207
开启自动代理就不要手动代理，手动代理就不要自动代理

[2021-12-21 05:37] #4207 closed

[2021-12-21 05:44] a364176773 commented on #4219
请确保没有版本依赖冲突和重复代理数据源

[2021-12-21 06:01] imherewait commented on #4206
请问这个是重构rpc通讯接口，为后续支持其它通讯协议(http、bolt、dubbo、grpc等）提供支撑？

[2021-12-21 07:39] #4215 closed

[2021-12-21 11:18] caohdgege opened #4221 "bug: could not rollback when insert field list is empty"
- [ ] I have searched the [issues](https://github.com/seata/seata/issues) of this repository and believe that this is not a duplicate.

### Ⅰ. Issue Description
the sql like `insert into values ()` in mysql could not rollback

mysql下，如`insert into values ()`的SQL无法正常回滚

### Ⅱ. Describe what happened

  If there is an exception, please attach the exception trace:

[code]

### Ⅲ. Describe what you ex

[2021-12-22 01:19] #4221 closed

[2021-12-22 02:14] leiminghany commented on #4207
可以了，谢谢！

[2021-12-22 03:38] hylyLLL opened #4223 "postgresql数据连接异常"
seata版本为1.4
pg版本为14
驱动版本为42.2.5
账号密码都正常，pg的配置也没有做ip限制。

seata启动时报错

Exception in thread "main" io.seata.common.exception.DataAccessException: wait millis 5000, active 0, maxActive 20, creating 0, createErrorCount 22
        at io.seata.server.storage.db.store.LogStoreDataBaseDAO.queryGlobalTransactionDO(LogStoreDataBaseDAO.java:182)
        at io.seata.server.storage.db.store.DataBaseTransactionSt

[2021-12-22 03:41] duhongx opened #4224 "nacos密码含有特殊字符，在seata1.4.2的registry.conf中使用dataId = "seataServer.properties"提示unknow user"
- [ ] I have searched the [issues](https://github.com/seata/seata/issues) of this repository and believe that this is not a duplicate.

### Ⅰ. Issue Description

+ 1、之前seata版本为1.3.0，不支持设置defaultGlobalTransactionTimeout，将seata升级到1.4.2，顺便把nacos也升级到2.0.3，在kuebrnetes中直接修改镜像版本来升级。
+ 2、之前seata的配置采用python脚本上传config.txt到nacos的SEATA_GROUP，seata中的registry.conf中nacos密码含有特殊字符无任何问题。

### Ⅱ. Describe what happe

[2021-12-22 03:47] a364176773 commented on #4224
1.5会修复该问题，1.4.2可以尝试密码转义，或者改密码先，也可以尝试直接把1.4.2文件夹lib里的nacos的jar依赖换成1.4.2的nacos依赖试试

[2021-12-22 05:05] menghuan123 opened #4225 "使用Redis保存事务日志,seata是如何保证Redis和本地事务执行的一致的？"
使用Redis保存事务日志,seata是如何保证Redis和本地事务执行的一致的？

[2021-12-22 05:17] GoodBoyCoder commented on #4223
数据库连接问题，与Seata无关，建议检查一下数据库驱动版本或者pg_hba.conf的相关连接配置

[2021-12-22 05:34] a364176773 commented on #4225
undolog不由redis存储
tc支持redis存储模式，但在tc意外宕机下，有几率出现脏数据，因为redis本身就没有真正意义上的事务支持

[2021-12-22 05:34] hylyLLL commented on #4223
pg_hba.conf的配置是所有都放行了的
![image](https://user-images.githubusercontent.com/46893979/147040900-9ca1c0c3-446f-4756-8f29-0816367f3fef.png)

[2021-12-22 06:08] menghuan123 commented on #4225
是的,我看到全局锁也有redis lua的实现,redis在极端场景还是会存在丢失数据的可能性,这里为了高性能还是会存在一致性的风险

[2021-12-22 07:57] Heuan commented on #3859
问题已解决，谢谢

[2021-12-22 07:57] #3859 closed

[2021-12-22 08:19] hylyLLL commented on #4223
问题找到了，由于运行的服务器是搭建的pve环境，容器搭建的有问题，导致ip错乱了

[2021-12-22 08:29] liqingxue commented on #2865
遇到了相同的问题，请问这个问题解决了吗？

[2021-12-22 11:37] a364176773 commented on #4225
是的，可以理解为为了高性能，而容忍一致性风险，在之前的测试中，redis模式在秒杀模拟压测，及200条数据随机下单扣库存的测试中，大幅度领先db模式
之后我们会考虑大量采用lua脚本的形式去处理，让一致性完全交给redis服务，而非seata，虽然redis的lua脚本的原子性和事务的原子性并不相同，但是这样风险会降低很多

[2021-12-22 12:10] imherewait commented on #3160
i want to try it, please assign it to me, thanks.

[2021-12-23 01:40] nanfangyoumeng-an opened #4226 "Please check the cluster status."
set nacosAddr=127.0.0.1:8848
set group=SEATA_GROUP
 Please check the cluster status.

所有配置都确认无误

[2021-12-23 01:45] a364176773 commented on #4226
让你检查的应该是nacos，自己手动去nacos上挨个录入也是个办法

[2021-12-23 01:51] nanfangyoumeng-an commented on #4226
这个nacos-config.sh有版本问题吗？默认部署的seata没有这个文件，需要从GitHub上pull一个文件下来，然后运行这个sh文件出了异常

[2021-12-23 06:47] a364176773 commented on #3160
ok

[2021-12-23 08:55] long187 commented on #3831
设计器只是提供一个简单功能的样例，建议在实际项目中可以自己实现设计器，然后参考DesignerJsonTransformer.java 转换一下简洁版的json执行即可。

[2021-12-23 08:57] long187 commented on #3594
异步补偿应该是可以考虑支持的。

[2021-12-23 09:01] long187 commented on #3478
Spring是默认要这依赖的，目前没有去除Spring的计划。

[2021-12-23 09:12] hunny-sketch commented on #3990
No one can resolved?

[2021-12-23 09:44] Sivyer9303 opened #4229 "Can't rollback because of length of tinyint"
- [ ] I have searched the [issues](https://github.com/seata/seata/issues) of this repository and believe that this is not a duplicate.

### Ⅰ. Issue Description
In one globaltransaction,there are three operation,when some excpetion occur.only two operation rollback.
the operation not rollback is contains tinyint changes.
It is treated as a boolean type by seata because of its length equals 1.

###

[2021-12-23 10:15] Sivyer9303 commented on #4229
sry.I have finded the same issue.

[2021-12-23 10:15] #4229 closed

[2021-12-24 03:23] zxbu opened #4230 "高并发压测时，会低概率出现死锁现象"
压测条件：8个线程，每个分布式事务跨3个服务，大概有4个分支事务。 大概有万分之一概率在分布式事务二阶段commit时，协调器出现死锁。
而且一旦死锁，TM是不会处理的，故业务代码正常执行，但过了一分钟，协调器检查死锁会做超时回滚操作，导致业务数据莫名奇妙被回滚

我自己分析的死锁的原因是：
1. 分支事务commit后，协调器会执行 releaseLock 操作，执行的SQL类似： `delete from lock_table where xid = '10.244.127.44:8091:2071867764324439688' and branch_id = 2071867764324439800`
2. 全局事务 commit后，协调器会执行  releaseGlobalSessionLock 操作，执行的SQL类型：`delete from lock_table where x

[2021-12-24 03:54] wenlinfeng opened #4231 "seata依赖包大多都配置成了可传递的，建议非必要的更新配置为可选的依赖"
非必要的依赖包均由项目技术选型决定，不必要配置成了可传递的依赖。比如
<groupId>org.springframework</groupId>，
<groupId>com.alibaba</groupId>
    <artifactId>druid</artifactId>
    <artifactId>fastjson</artifactId>
<groupId>commons-lang</groupId>
<groupId>commons-pool</groupId>
<groupId>com.google.protobuf</groupId>
<groupId>com.github.ben-manes.caffeine</groupId>;
另：请注意一下<scope>provided</scope>的用法是否合理，本人觉得更多的地方应使用<optional>true</op

[2021-12-24 05:06] tuwenlin opened #4232 "全局事务没了，分支事务和全局锁依然存在"
1.5.0版本，某一个分支事务做分支事务注册时，由于网络波动的原因，抛出了RPCTimeout异常，随后进行了全局回滚，回滚过程中网络正常，全局事务和已经注册的分支事务被成功remove了，在全局事务被remove之前，分支事务的注册请求到达TC了，全局锁写入成功，分支事务注册成功，并且在判断全局事务事务存在之后，成功注册分支事务之前，由于全局回滚的原因，全局事务被remove了，导致这个注册成功的分支事务和锁没有了全局事务，这条数据一直被全局锁锁住

[2021-12-24 05:42] a364176773 commented on #4232
这个问题存在，而且也有具体的issue，后续会通过unlock条件为xid的形式来释放全局锁或者延迟globalsession的delete时间，来确认是否还有其他的branchsession为处理

[2021-12-24 06:39] a364176773 commented on #4230
如果数据库默认是可重复读，试试改为读已提交，可重复读级别的间隙锁，有可能会引起死锁

[2021-12-24 06:43] zxbu commented on #4230
我不是太精通DB。但这种情况应该不是间隙锁，是主键导致的死锁。
这是已知问题吗？ 感觉应该挺常见的

[2021-12-24 07:03] tuwenlin commented on #4232
好的，那我把这个issue关闭吧

[2021-12-24 07:18] a364176773 commented on #4230
1步骤的时候已经提交事务了，才走到步骤2，如何引起死锁？这是串行不是并行
先咨询dba看下seata所用数据库是否是rr隔离级别如果是，改成rc在测试

[2021-12-24 07:49] zxbu commented on #4230
![image](https://user-images.githubusercontent.com/32785355/147331092-ed182619-b9b6-47de-a4e5-0e1557140223.png)
这是当时的事务日志
步骤1和步骤2的执行时序应该不能严格保证吧？
我改成rc再试一下吧，但感觉不像是这个原因
@a364176773

[2021-12-24 15:33] a364176773 commented on #4232
可以留着,后续我会进行兜底处理

[2021-12-25 15:03] objcoding commented on #4232
https://github.com/seata/seata/issues/4182

[2021-12-25 15:36] a364176773 commented on #4230
同个事务下严格保证,因为是串行的,不同事务下,比如事务1执行了releaseLock 事务二也在执行releaseGlobalLock ,可能就是因为间隙锁死锁了,非唯一索引就会引起间隙锁产生,先改成rc在压测看看吧,自行也可以搜索下innodb 间隙锁死锁的一些案例和原理

[2021-12-25 15:57] a364176773 commented on #4226
Please check the cluster status 你自己可以打开这个脚本看下为什么会输出Please check the cluster status,一般就是由于你上面配置nacos地址之类的不正确才输出的,看下script下这个脚本所在位置的readme

[2021-12-26 02:40] lightClouds917 commented on #4195
全局事务状态枚举：
[code]
分支事务状态枚举：
[code]
分支类型枚举：
[code]

[2021-12-27 03:43] Leryoo opened #4234 "使用了seata代理了数据源后 从数据库查出的某些字段为null 控制台显示回滚成功 但是数据库也没回滚"
- [x] I have searched the [issues](https://github.com/seata/seata/issues) of this repository and believe that this is not a duplicate.

### Ⅰ. Issue Description
### Ⅱ. Describe what happened
数据库版本用的8.0 seata版本用的是1.1.0
 从数据库查出的某些字段为null
![image](https://user-images.githubusercontent.com/46736410/147431104-2cac8bb5-5d11-45cd-8c5d-5f00bfb57f1f.png)

 而且 远程调用其他服务进行修改的时候  控制台和终端都显示了回滚成功过  但是数据库里面也没有回滚

[2021-12-27 03:53] a364176773 commented on #4234
![image](https://user-images.githubusercontent.com/19943636/147432655-dec69453-6d89-40e2-8a6e-6613c8beb204.png)
Seata整合1.2教程: https://www.bilibili.com/video/BV12Q4y1A7Nt

升级1.3教程: https://www.bilibili.com/video/BV1Cf4y1X7vR
https://gitee.com/itCjb/spring-cloud-alibaba-seata-demo
（上述demo内附1.3整合文字版）

[2021-12-27 03:53] #4234 closed

[2021-12-27 14:36] #4139 closed

[2021-12-27 14:46] caohdgege opened #4236 "optimize request: optimize the lock logic when before image is empty"
## Why you need it?
 Is your feature request related to a problem? Please describe in details
for now, when acquire lock, seata will check whether the global lock has been holded by other global transaction. but for insert or part of insert ignore into(may be more), if the before image is empty, it means that the target rows is not exists when the current global transaction execute, so it can skip

[2021-12-27 14:54] a364176773 commented on #4236
good issue

[2021-12-27 15:23] 1317963611 commented on #4139
感谢来信，已收到

[2021-12-28 01:28] Pinocchio2018 commented on #4236
[code]
指的是这里吧？

[2021-12-28 08:10] goetboy opened #4241 "oracle数据库插入数据报 "ID": 标识符无效 异常"
oracle项目引入seata，但由于表名比较特殊 所有的字段都是用""括起来的，引入seata后发现所有的insert语句都不能正常执行，报下面的错误，复制打印的语句到数据库也能正常执行，请问这是为什么？
[code]

### Ⅵ. Environment:

- JDK version : 1.8
- Seata version:  1.4.2

[2021-12-28 11:51] menghuan123 opened #4242 "Seata压测性能"
seata 生产有人进行过压测吗?不加事务和加分布式事务,性能差异比是多少?

[2021-12-29 08:49] lcmvs commented on #1246
组织：平安人寿
地点：深圳
联系方式：1264221821@qq.com
模式：XA、TCC
业务场景：微服务架构下解决分布式事务问题

[2021-12-29 08:49] thompsonGuo commented on #1246
thanks for your email,i will check it later!! 

[2021-12-29 08:49] JerryLoveTom commented on #1246
你的信息我已经收到，我会在假期结束后尽快回复你的消息。

[2021-12-29 08:58] Brainhu opened #4244 "k8s 容器中偶尔出现链接被重置"
- [ ] I have searched the [issues](https://github.com/seata/seata/issues) of this repository and believe that this is not a duplicate.

### Ⅰ. Issue Description
k8s 容器部署 server1.4.2 偶尔会出现 connection reset by peer

### Ⅱ. Describe what happened

  If there is an exception, please attach the exception trace:

[code]

### Ⅲ. Describe what you expected to happen

希望没有异常警告
### Ⅳ. How to reproduce it (a

[2021-12-29 09:08] kingylhq opened #4245 "Mac m1 Arm架构编译seata--->serializer--->seata-serializer-protobuf报错"
- [ ] I have searched the [issues](https://github.com/seata/seata/issues) of this repository and believe that this is not a duplicate.

### Ⅰ. Issue Description
seata-serializer-protobuf编译报错，protobuf插件也装过试了还是不可以，还尝试过用 osx-x86_64强导入也不可以！

### Ⅱ. Describe what happened

[ERROR] Failed to execute goal org.xolstice.maven.plugins:protobuf-maven-plugin:0.5.0:compile (default) on project seata-serializer

[2021-12-29 09:45] Brainhu opened #4246 "k8s容器部署server，nacos注册模式下外部通讯问题"
## Why you need it?
 Is your feature request related to a problem? Please describe in details
k8s容器部署server ,注册中心和配置中心都使用nacos模式，外部服务无法通过nacos注册表中的pod 通讯，使用socks 代理也没有用。

## How it could be?
可通过设置jvm 参数socksProxyIp socksProxyPort 代理ip 和 端口来访问容器内的 seata server

## Other related information
Add any other context or screenshots about the feature request here.

[2021-12-29 09:47] Brainhu commented on #4244
补充配置：
registry {
    type = "file"
}
config {
  type = "nacos"
  nacos {
    serverAddr = "ip:port"
    group = "SEATA_GROUP"
    namespace = "seata-dev"
  }
}

[2021-12-29 09:47] GoodBoyCoder commented on #4245
参考官网[FAQ](https://seata.io/zh-cn/docs/overview/faq.html#11)

[2021-12-29 09:50] lay-g commented on #4245
settings 里面 profiles 标签内添加：
[code]
命令：`mvn package ... -Px86`
或者settings里面添加：
[code]

[2021-12-29 12:17] MrWangDage commented on #4143
老哥们，我也是1.4.0  tcc模式    file配置   ,同样的问题，A.B  A异常  A回滚   B没有回滚，但是 B异常时，就可以全部回滚。 tcc不依赖undo.log，”救救我“

rm配置：
![image](https://user-images.githubusercontent.com/30967441/147661152-5e1350cd-26d7-47f6-87da-e8b84ba97c6c.png)
tm配置：
![image](https://user-images.githubusercontent.com/30967441/147661124-12fbd5e2-815c-41a6-92f7-216c8a86ca50.png)

当前场景下rm的日志：
![image](https://user-images.githubusercontent.com/

[2021-12-29 14:12] xiaocp commented on #3115
我也遇到了相同的问题，需要升级下SpringCloud SpringBoot版本与SpringCloudAlibaba对应。
SpringCloud[Hoxton.SR1]、SpringBoot[2.2.5.RELEASE]、SpringCloudAlibaba[2.2.1.RELEASE]、Seata[1.3.0]

[2021-12-29 15:13] a364176773 commented on #4245
2020 mac air路过，没有问题

[2021-12-29 15:18] #4143 closed

[2021-12-30 03:36] doubleDimple commented on #4245
Execute the following Maven command under the project root path：
./mvnw clean install -DskipTests=true

[2021-12-30 06:54] lixz123 commented on #3915
{[TID:0d6a967b6ccb407f9d5206a9ae72973e.2338.16408466977230351] - 2021-12-30 14:44:59,289 - [http-nio-8080-exec-1] ERROR io.seata.rm.tcc.interceptor.ActionInterceptorHandler:122 - TCC branch Register error, xid: 10.150.84.142:8091:4512818949601857719} io.seata.core.exception.RmTransactionException: Response[ TransactionException[Failed to store branch xid = 10.150.84.142:8091:4512818949601857719 br

[2021-12-30 08:34] a364176773 commented on #4206
是的

[2021-12-30 08:54] liucaijin commented on #3848
I wanted todo

[2021-12-30 09:30] GreekPanda opened #4248 "Shardingshpere5.0.1+seata 1.4.2启动失败"
### Ⅰ. Issue Description
Shardingshpere5.0.1+seata 1.4.2启动失败

### Ⅱ. Describe what happened
[WARN ] 2021-12-30 17:22:23.939 [main] i.s.c.l.EnhancedServiceLoader$InnerEnhancedServiceLoader - Load [io.seata.spring.boot.autoconfigure.provider.SpringBootConfigurationProvider] class fail. org/springframework/beans/factory/NoSuchBeanDefinitionException
Exception in thread "main" java.lang.NoClassDefFoun

[2021-12-30 09:34] a364176773 commented on #4248
java.lang.NoClassDefFoundError: com/alibaba/nacos/api/exception/NacosException

[2021-12-30 09:41] GreekPanda commented on #4248
Hi, @a364176773 咋弄？我已经把nacos相关的包都引入了，还是报错。

[2021-12-30 10:05] a364176773 commented on #4248
检查依赖冲突

[2021-12-30 10:05] #4245 closed

[2021-12-30 10:45] yiyutao opened #4249 "回滚的时候Geometry类型无法反序列化"
- [ ] I have searched the [issues](https://github.com/seata/seata/issues) of this repository and believe that this is not a duplicate.

### Ⅰ. Issue Description
无法反序列化com.mysql.cj.jdbc.Blob

### Ⅱ. Describe what happened
集成了shardingsphere-jdbc
字段类型为Geometry类型，回滚的时候报错
com.mysql.cj.jdbc.Blob没有无参构造，反序列化不了

- JDK version :1.8
- Seata version:  1.5.0
- OS :
- Others:

[2021-12-30 10:48] GreekPanda commented on #4248
具体怎么搞？两个都是开源的东西，难不成搞源代码debug?

[2021-12-30 12:06] a364176773 commented on #4249
请提供异常的堆栈信息,以便排查

[2021-12-30 12:11] a364176773 commented on #4248
NoClassDefFoundError 不是开源社区引起的,这属于需要你来debug和依赖检查,难道是开源的东西就不需要debug了?

[2021-12-31 02:41] GreekPanda commented on #4248
你这很不友好啊，就是因为没有思路，按你说的已经排查了依赖了，还是没有找出问题。算了，不扯了，关贴。

[2021-12-31 02:41] #4248 closed

[2021-12-31 02:45] yiyutao commented on #4249
[code]

[2021-12-31 07:24] jlovej commented on #1246
组织：海澜集团
地点：江苏 江阴
官网：http://www.heilan.com.cn/
业务场景：保证企业级微服务之间的事务一致性
服务框架：springboot + seata + shardingSphere5 + redis + Dubbo2.7.x + RocketMQ等
SEATA模式：AT

[2021-12-31 07:28] jlovej commented on #1246
各位大神好，我在springboot + shardingSphere5.0 + Dubbo2.7.x实现分库分表的情况下，集成 + seata1.4.2后，报出以下异常：

[2021-12-31 08:05] pengten commented on #4184
Why do we need to do this? What's the problem now?
为什么我们需要用一个dataId，现在用不同dataId区分不同配置项有什么问题吗？

[2021-12-31 12:02] slievrly opened #4250 "[Feature Request] support virtual columns in MySQL 5.7"
## Why you need it?
 Is your feature request related to a problem? Please describe in details
 support virtual columns in MySQL 5.7

`virtual-column` is read-only column that can improve the efficiency of queries. This is a very important feature, so it is recommended that Seata can support it.

## How it could be?
A clear and concise description of what you want to happen. You can explain more ab